[tool.poetry]
name = "physionet-build"
version = "0.1.0"
description = ""
authors = []

[tool.poetry.dependencies]
python = "^3.7"
bleach = "^3.3.0"
chardet = "^3.0.4"
Django = "^2.2.27"
django-autocomplete-light = "^3.3.4"
django-background-tasks = "=1.2.5"
django-ckeditor = "^5.7.1"
djangorestframework = "^3.11.2"
google-cloud-storage = "^1.41.1"
html2text = "^2018.1.9"
Pillow = "^8.3.2"
python-decouple = "^3.1"
uWSGI = "^2.0.18"
zxcvbn-python = "^4.4.18"
pyOpenSSL = "^19.0.0"
google-api-python-client = "^1.7.9"
psycopg2 = "~2.8.6"
httplib2 = "^0.19.0"
oauthlib = "^3.1.0"
requests-oauthlib = "^1.3.0"
sentry-sdk = "^1.4.3"
python-json-logger = "^2.0.2"
django-storages = { version = "^1.11.1", extras = ["google"] }
"pdfminer.six" = "^20211012"
hdn-research-environment = "0.0.1"

[tool.poetry.dev-dependencies]
coverage = "^4.4.2"
django-debug-toolbar = "^3.2.4"
requests = "^2.21.0"
requests-mock = "^1.7.0"
selenium = "^3.141.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"