{% extends "base.html" %}

{% load static %}

{% block title %}
404: Not Found
{% endblock %}

{% block content %}
<div class="container" align='center'>
  <h1>Page Not Found<br />(404)</h1>
  <br /><br />
  <p>It might be located at: <a href="https://archive.physionet.org{{ request.get_full_path_info }}">https://archive.physionet.org{{ request.get_full_path_info }}</a>.

  <p>If you think this is an error, please email us at: <a href="mailto:contact@physionet.org?subject=Missing%20URL%20on%20physionet.org&body={% filter urlencode %}Dear PhysioNet Team,

The following URL is missing from the website.

{{ request.get_raw_uri }}{% endfilter %}">contact@physionet.org</a>  </p>


</div>
{% endblock %}
