<!-- The base template used for the site -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% include "base_css.html" %}
    {% block local_css %}{% endblock %}
    {% include "base_js_top.html" %}
    {% block local_js_top %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>

  <body>
    {% include "navbar.html" %}

    {% block content %}{% endblock %}

    {% include 'footer.html' %}

    {% include "base_js_bottom.html" %}
    {% block local_js_bottom %}{% endblock %}
  </body>

</html>
