<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type='text/css'>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.js' %}"> </script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"> </script>
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>
  </body>
    {% include 'footer.html' %}
</html>
