{% extends "base.html" %}

{% load static %}

{% block title %}
PhysioNet {{ content_name }}
{% endblock %}

{% load project_templatetags %}


{% block content %}
<div class="container">
  <h1>PhysioNet {{ content_name }}</h1>
  <hr>
  {% for published_project, authors , topics in projects_authors_topics %}
    <p>{{ published_project.resource_type|resource_badge|safe }}
       {{ published_project.access_policy|access_badge|safe }}
    </p>
    <a href="{% url 'published_project' published_project.slug %}"><h2>{{ published_project.title }}</h2></a>
    <p class="text-muted">
      <strong>Authors:
        {% for author in authors %}
          {{ author.get_full_name }}
        {% endfor %}
      </strong>
    </p>
    {{ published_project.abstract|safe }}
    <p class="text-muted">
      Published: {{ published_project.publish_datetime|date }}.
      Version: {{ published_project.version }}
      <br>
      {% for topic in topics %}
        <a href="{% url 'topic_search' topic.description %}"><span class="badge badge-info">{{ topic }}</span></a>
      {% endfor %}
    </p>
    <hr>
  {% endfor %}
  <br>
</div>
{% endblock %}
