{% load static %}

<hr class="featurette-divider">
<h1>Featured News</h1>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">e-ICU Database Released</h2>
    <p class="lead">The public subset of the Philips/MIT e-ICU database comprising of over 200000 patients has been released</p>
    <p>30/03/2017</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="{% static "images/frontpage/philips.jpeg" %}" alt="Generic placeholder image" width="180" height="180">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Winners of Challenge 2017 Announced</h2>
    <p class="lead">Congratulations to Dr Alan Turing of Cambridge UK for winning the 2017 PhysioNet/CinC challenge, with a score of 99.6.</p>
    <p>24/09/2017</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="{% static "images/frontpage/turing.jpg" %}" alt="Generic placeholder image" width="180" height="180">
  </div>
</div>

<hr class="featurette-divider">
