{% load static %}
<link href="{% static 'bootstrap/css/footer.css' %}" rel="stylesheet" type='text/css'>
<link href="{% static 'bootstrap/css/bootstrap-social.css' %}" rel="stylesheet" type='text/css'>

<footer class="container-fluid text-center">
  <p class="float-right"><a href="#">Back to Top</a><span class="glyphicon glyphicon-arrow-up"></p>
  <p>Need Help?</p>
  <button type="button" class="btn btn-primary">FAQs</button>
  <button type="button" class="btn btn-primary">Forum</button>
  <button type="button" class="btn btn-primary">Raise Issue</button>
</footer>