{% extends "base.html" %}

{% load static %}

{% block title %}
PhysioNet
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/home.css' %}"/>
{% endblock %}


{% block content %}

<div class="container">

<!-- Header row -->
<div class="row">

  <!-- PhysioNet logo -->
  <div class="col-sm-8">
    <img class="img-fluid d-block mx-left" src="{% static 'about/logo.png' %}" alt="">
  </div>

  <!-- About PhysioNet -->
  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-header"><a href="{% url 'about_physionet' %}">About PhysioNet</a></h5>
      <div class="card-body">
        PhysioNet is an international repository of medical and physiological data. The site hosts large volumes of open-access and protected resources that underpin scientific research studies. <a href=#>Submit your data for publication</a>.
      </div>
    </div>
  </div>

</div> <!-- /.row -->

<div class="row">

<!-- Publications column -->
<!-- {# A publication #} -->
  <div class="col-md-8">
    <br>
    <h1>Recent Publications</h1>
    <hr>

    <!-- START ITEM -->
    <h2 class="card-title"><a href="">Sleep Bioradiolocation Database</a></h2>
    <p><a class="text-muted">March 14, 2018</a></p>
    <p class="card-text">The database contains 32 records of non-contact sleep monitoring by a bioradar. The records are accompanied by results of sleep scoring, based on polysomnography according to the rules of the American Academy of Sleep Medicine. <a href = #>Read more</a>.</p>
    <!-- END ITEM -->

    <!-- START ITEM -->
    <h2 class="card-title"><a href="">CHARIS Database</a></h2>
    <p><a class="text-muted">March 08, 2018</a></p>
    <p class="card-text">The CHARIS database contains multi-channel recordings of ECG, arterial blood pressure (ABP), and intracranial pressure (ICP) of patients diagnosed with traumatic brain injury (TBI). The data is contributed by members of the CHARIS project which aims to systematize the analysis of relevant physiological signals. <a href = #>Read more</a>.</p>
    <!-- END ITEM -->


    <!-- START ITEM -->
    <h2 class="card-title"><a href="">Long Term Movement Monitoring Database</a></h2>
    <p><a class="text-muted">March 01, 2018</a></p>
    <p class="card-text">Contains 3-day 3D accelerometer recordings of 71 elder community residents, used to study gait, stability, and fall risk. The dataset and its collection methods are described in Does the Evaluation of Gait Quality During Daily Life Provide Insight Into Fall Risk? <a href = #>Read more</a>.</p>
    <!-- END ITEM -->

    <!-- START ITEM -->
    <h2 class="card-title"><a href="">Squid Giant Axon Membrane Potential</a></h2>
    <p><a class="text-muted">February 26, 2018</a></p>
    <p class="card-text">Single-unit neuronal recordings of squid giant axons in response to stimulus currents. The membrane potential and stimulus current are given for a total of 170 trials across 8 different axons. The dataset and its collection methods are described in Noisy Inputs and the Induction of On-Off Switching Behavior. <a href = #>Read more</a>.</p>
    <!-- END ITEM -->

    <!-- START ITEM -->
    <h2 class="card-title"><a href="">Multiscale Poincare Plots</a></h2>
    <p><a class="text-muted">February 15, 2018</a></p>
    <p class="card-text">The Multiscale Poincare Plots package contains MATLAB scripts used to visualize time series by plotting Poincare plots of the original signal course grained at multiple time scales. <a href = #>Read more</a>.</p>
    <!-- END ITEM -->
    <hr>

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
      </li>
    </ul>
  </div> <!-- /.col-md-8 -->

  <!-- Announcements column -->
  <!--     {# An announcement #} -->
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header"><a href="{% url 'about_physionet' %}">Latest News</a></h5>

      <!-- START ITEM -->
      <div class="card-body">
        <h5 class="card-title"><a href="">PhysioNet/CinC Challenge 2018</a></h5>
        <p><a class="text-muted">March 20, 2018</a></p>
        <p class="card-text">The 2018 PhysioNet/Computing in Cardiology Challenge is now open! This year's Challenge, "You Snooze, You Win", is focused on the problem of automatically detecting disturbances in a patient's sleep. <a href = #>Read more</a>.</p>
      </div>
      <!-- END ITEM -->

      <!-- START ITEM -->
      <div class="card-body">
        <h5 class="card-title"><a href="">Chest X-Rays</a></h5>
        <p><a class="text-muted">February 21, 2018</a></p>
        <p class="card-text">We have created a deidentified set of chest x-rays with associated radiology reports from patients admitted to the BIDMC. The data was collected between 2011-2016, and comprises over 500,000 images corresponding to 200,000 studies. <a href = #>Read more</a>.</p>
      </div>
      <!-- END ITEM -->

      <!-- START ITEM -->
      <div class="card-body">
        <h5 class="card-title"><a href="">New eICU Tables</a></h5>
        <p><a class="text-muted">January 09, 2018</a></p>
        <p class="card-text">Seven new concept tables have been normalized and released for the eICU Collaborative Research Database, a large multi-center critical care database made available by Philips Healthcare in partnership with the MIT Laboratory for Computational Physiology. <a href = #>Read more</a>.</p>
      </div>
      <!-- END ITEM -->

    </div>
  </div> <!-- /.col-md-4 -->

</div> <!-- /.row -->
</div> <!-- /.container -->

{% endblock %}
