	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/footer.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

	<script type="text/javascript" src="{% static 'js/jquery.js' %}"> </script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"> </script>


<!-- <style>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-social.css' %}"/>

ul {list-style-type: none !important;}
</style> -->