<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  
  <a class="navbar-brand" href="{% url 'home' %}">Physionet</a>
  
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">

      <!-- Publish --> 

      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="publish_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publish</a>
        <div class="dropdown-menu" aria-labelledby="publish_dropdown">
          <a class="dropdown-item" href="#">Submit</a>
          <a class="dropdown-item" href="{% url 'author_guidelines' %}">Author guidelines</a>
        </div>
      </li>

      <!-- About --> 

      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="about_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu" aria-labelledby="about_dropdown">
          <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
          <a class="dropdown-item" href="{% url 'ourteam' %}">Our Team</a>
          <a class="dropdown-item" href="{% url 'funding' %}">Funding</a>
        </div>
      </li>

      <!-- Content --> 

      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="content_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Content</a>
        <div class="dropdown-menu" aria-labelledby="content_dropdown">
          <a class="dropdown-item" href="{% url 'data' %}">Data</a>
          <a class="dropdown-item" href="{% url 'software' %}">Software</a>
          <a class="dropdown-item" href="{% url 'challenges' %}">Challenges</a>
        </div>
      </li>

    </ul>

    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="#">My Projects <span class="sr-only">(current)</span></a>
        </li>
      {% endif %}

      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="account_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> Account</a>
        <div class="dropdown-menu" aria-labelledby="account_dropdown">
          {% if user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'public_profile' user.get_username %}">Profile</a>
            <a class="dropdown-item" href="{% url 'edit_profile' %}">Settings</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'login' %}">Login</a>
            <a class="dropdown-item" href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </li>
    </ul>

    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>

  </div>
</nav>