{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-between" id="mainNav">
	<label for="navicon" class="navbar-icon">&#9776;</label>
	<input type="checkbox" id="navicon" class="navbar-check">

	<a id="nav_home" class="navbar-brand" href="{% url 'home' %}">
		{{ SITE_NAME }}
	</a>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		{% include "navbar_content.html" %}
	</div>

	<div class="navbar-search">
		<form class="form-inline" action="{% url 'content_index' %}">
	    	<input name="topic" class="search-input" type="text" placeholder="Search">
		    <span class="input-group-btn">
		      <button id="search-button" type="submit" class="btn-search my-2 my-sm-0" title="Search {{ SITE_NAME }}"><span class="fa fa-search"><span class="visually-hidden">Search {{ SITE_NAME }}</span></span></button>
		    </span>
	 	</form>
	</div>
</nav>
