{% load static %}
<ul class="navbar-nav mr-auto">

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="resource_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Find
    </a>
    <div class="dropdown-menu" aria-labelledby="resource_dropdown">
      <a class="dropdown-item" href="{% url 'data' %}">
        Data
      </a>
      <a class="dropdown-item" href="{% url 'software' %}">
        Software
      </a>
      <a class="dropdown-item" href="{% url 'content' %}">
        All content
      </a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="resource_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Publish
    </a>
    <div class="dropdown-menu" aria-labelledby="resource_dropdown">
      <a class="dropdown-item" href="{% url 'create_project' %}">
        Submit
      </a>
      <a class="dropdown-item" href="{% url 'author_guidelines' %}">
        Author Guidelines
      </a>
      <a class="dropdown-item" href="{% url 'licenses' %}">
        Licenses
      </a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="resource_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About
    </a>
    <div class="dropdown-menu" aria-labelledby="resource_dropdown">
      <a class="dropdown-item" href="{% url 'about_physionet' %}">
        About Physionet
      </a>
      <a class="dropdown-item" href="{% url 'development' %}">
        Site Development
      </a>
      <a class="dropdown-item" href="{% url 'contact' %}">
        Contact
      </a>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'news' %}">
      News
    </a>
  </li>
</ul>

<ul class="navbar-nav ml-auto">
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'project_home' %}">
        My Projects
      </a>
    </li>
  {% endif %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="account_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% if user.is_authenticated %}
        {% if user.is_admin %}
          <i class="fa fa-user-secret"></i> {{ user }}
        {% else %}
          <i class="fa fa-user"></i> {{ user }}
        {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="account_dropdown">
          {% if user.is_admin %}
            <a class="dropdown-item" href="{% url 'console_home' %}">
              Admin Console
            </a>
          {% endif %}
          <a class="dropdown-item" href="{% url 'public_profile' user.username %}">
            Profile
          </a>
          <a class="dropdown-item" href="{% url 'edit_profile' %}">
            Settings
          </a>
          <a class="dropdown-item" href="{% url 'logout' %}">
            Logout
          </a>
      {% else %}
        Account
        </a>
        <div class="dropdown-menu" aria-labelledby="account_dropdown">
        <a class="dropdown-item" href="{% url 'login' %}">
          Login
        </a>
        <a class="dropdown-item" href="{% url 'register' %}">
          Register
        </a>
      {% endif %}
    </div>
  </li>
  <form class="form-inline my-2 my-lg-0 mr-lg-2">
    <input id="search-box" class="form-control" type="text" placeholder="Search">
    <span class="input-group-btn">
      <button id="search-button" class="btn btn-primary  my-2 my-sm-0" type="button"><i class="fa fa-search"></i></button>
    </span>
  </form>
</ul>
