{% extends "console/base_console.html" %}

{% load project_templatetags %}

{% block title %}Static Pages{% endblock %}

{% block content %}
 <div class="card mb-3">
  <div class="card-header">
    {{ process_name }} Flow <span class="badge badge-pill badge-info">{{ pages|length }}</span>
  </div>
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Page</th>
            <th class="text-center" colspan=3>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for step in steps %}
            <tr>
                <td>{{ step.title|title }}</td>
                <td class="text-center">
                  <a href="{% url 'step_details_show' step.pk %}" class="btn btn-sm btn-primary" role="button">Manage</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
