[Unit]
Description=Command that runs Django Q2 tasks
After=emperor.uwsgi.service

[Service]
Environment=DJANGO_SETTINGS_MODULE=physionet.settings.production
ExecStart=/physionet/python-env/physionet/bin/python /physionet/physionet-build/physionet-django/manage.py qcluster
StandardError=syslog
SyslogIdentifier=django-q2-tasks
Restart=always
KillSignal=SIGINT
Type=simple
NotifyAccess=all
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
