{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
{% blocktrans %}You are receiving this email because you requested a password reset for your account at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
https://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}
{% endblock %}

This link will expire in 3 days or after the password has been changed.

Regards
The {{ SITE_NAME }} Team
{% endfilter %}{% endautoescape %}
