{% extends "console/base_console.html" %}

{% load project_templatetags %}

{% block title %}Static Pages{% endblock %}

{% block content %}
 <div class="card mb-3">
  <div class="card-header">
    Static Pages <span class="badge badge-pill badge-info">{{ pages|length }}</span>
  </div>
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Page</th>
            <th class="text-center" colspan=3>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for detail in step_details %}
            <tr>
                <td>{{ detail.title|title }}</td>
                <td class="text-center">
                  <a href="{% url 'step_details_edit' detail.pk %}" class="btn btn-sm btn-primary" role="button">Manage</a>
                </td>
                <td class="text-center">
                  <form method="post" action="{% url 'static_page_delete' detail.pk %}" onsubmit="return confirm ('Are you sure? ')">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger" role="button">Remove</button>
                  </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}