{% extends 'base.html' %}

{% load static %}

{% load participation_status %}

{% block title %}Events Home{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/project-home.css' %}">
{% endblock %} 

{% block local_js_top %}
  {% if form_error %}
    <script type="text/javascript">
      $(window).on('load', function() {
          $('#add-event-modal').modal('show');
      });
    </script>
  {% endif %}
{% endblock %}

{% block content %}

<div class="container">
  {% include "message_snippet.html" %}
  <div class="jumbotron">
    <h1>Events Home</h1>
      {% if is_instructor %}
      <p class="lead">Create new events and access event details.</p>
      <p>
        <button class = "btn btn-success" data-toggle="modal" data-target="#add-event-modal">
          <i class="fa fa-cloud-upload-alt"></i> Create New Event </button>
      </p>
      {% else %}
      <p class="lead">View events that you have registered to attend.</p>
      {% endif %} 
</div>

  <div class="modal fade" id="add-event-modal" tabindex="-1" role="dialog" aria-labelledby="add-event-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="container">
          <form action="" method="post" class="form-signin">
            {% csrf_token %}
            {% include "form_snippet.html" with form=event_form %}
            <button class="btn btn-primary btn-fixed" name="add-event" type="submit">Add Event</button>
          </form>
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade" id="edit-event-modal" tabindex="-1" role="dialog" aria-labelledby="edit-event-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Event</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="container">
              <form action="" method="post" class="form-signin edit-event" >
                {% csrf_token %}
                {% include "form_snippet.html" with form=event_form %}
                <button class="btn btn-primary btn-fixed" name="edit-event" type="submit">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>

{% include 'events/event_notifications.html' %}

<!-- Active events -->

  <div class="card" >
    <div class="card-header">
      <h2>Active Events</h2>
    </div>
    
    <ul class="list-group list-group-flush">
      {% for event in events_active %}
          <li class="list-group-item">
            <h3>{{ event.title }}</h3>
            <p class="list-group-item-text text-muted">
            <strong>Host: {{ event.host.get_full_name }} </strong><br>
            <small>Created: {{ event.added_datetime|date }}</small><br>
            {% if event.host == user %} <small>Number of participants: {{ event.participants.all|length }}</small><br>{% endif %}
            <small>Start Date: {{ event.start_date }}</small><br>
            <small>End Date: {{ event.end_date }}</small><br>

            {% if user|is_participant:event %}
              <small>Registration status: Registered</small><br>
            {% elif user|is_on_waiting_list:event  %}
                <small>Registration status: On waiting list</small><br>
            {% endif %}

            {% if event.host == user %}
              <small>Share the class code: {{ url_prefix }}{% url 'event_detail' event.slug %} </small><br>
              </p>
              <button class="btn btn-sm btn-primary" data-toggle ="modal" data-target="#add-participant-modal-{{ event.id }}">View participants</button>
              <button class="btn btn-sm btn-secondary edit-btn" data-toggle ="modal" data-target="#edit-event-modal"  data-event-url="{% url 'get_event_details' event.slug %}" data-form-url="{% url 'update_event' event.slug %}" >Edit Event</button>
            {% endif %}

            <a href="{% url 'event_detail' event.slug %}" class="btn btn-sm btn-info">View Event</a>
          </li>
      {% empty %}
        <div class="card-body text-center">
          <p class="card-text">No events to show</p>
        </div>
      {% endfor %}
    </ul>
  </div>
  <br>
  {% if events_active %}
    {% for event in events_active %}
      <div class="modal fade" id="add-participant-modal-{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="add-participant-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg"  role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Participants</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              {% include 'events/event_entries.html' %}
            </div>
          </div>
        </div>
    {% endfor %}
  {% endif %}

<!-- Past events -->

  <div class="card" >
    <div class="card-header">
      <h2>Past Events</h2>
    </div>
    
    <ul class="list-group list-group-flush">
      {% for event in events_past %}
          <li class="list-group-item">
            <h3>{{ event.title }}</h3>
            <p class="list-group-item-text text-muted">
            <strong>Host: {{ event.host.get_full_name }} </strong><br>
            <small>Created: {{ event.added_datetime|date }}</small><br>
            {% if event.host == user %} <small>Number of participants: {{ event.participants.all|length }}</small><br>{% endif %}
            <small>Start Date: {{ event.start_date }}</small><br>
            <small>End Date: {{ event.end_date }}</small><br>

            {% if user|is_participant:event %}
              <small>Registration status: Approved</small><br>
            {% elif user|is_on_waiting_list:event  %}
                <small>Registration status: Waiting for Approval</small><br>
            {% endif %}

            {% if event.host == user %}
              <small>Share the class code: {{ url_prefix }}{% url 'event_detail' event.slug %} </small><br>
              </p>
              <button class="btn btn-sm btn-primary" data-toggle ="modal" data-target="#add-participant-modal-{{ event.id }}">View participants</button>
              <button class="btn btn-sm btn-secondary edit-btn" data-toggle ="modal" data-target="#edit-event-modal"  data-event-url="{% url 'get_event_details' event.slug %}" data-form-url="{% url 'update_event' event.slug %}" >Edit Event</button>
            {% endif %}

            <a href="{% url 'event_detail' event.slug %}" class="btn btn-sm btn-info">View Event</a>
          </li>
      {% empty %}
        <div class="card-body text-center">
          <p class="card-text">No events to show</p>
        </div>
      {% endfor %}
    </ul>
  </div>
  <br>
  {% if events_past %}
    {% for event in events_past %}
      <div class="modal fade" id="add-participant-modal-{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="add-participant-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg"  role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Participants</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              {% include 'events/event_entries.html' %}
            </div>
          </div>
        </div>
    {% endfor %}
  {% endif %}
  </div>
{% endblock %}


{% block local_js_bottom %}
  <script>
   $('.edit-btn').click(function(e) {
       $('#edit-event-modal').modal('hide');
       let url = $(this).data('event-url');
       let form_url = $(this).data('form-url');
        $.ajax({
           url: url,
           type: 'GET',
           success: function(data) {
                let event = data[0];
                $('#edit-event-modal').find('#id_title').val(event.title);
                $('#edit-event-modal').find('#id_description').val(event.description);
                $('#edit-event-modal').find('#id_start_date').val(event.start_date);
                $('#edit-event-modal').find('#id_end_date').val(event.end_date);
                $('#edit-event-modal').find('#id_slug').val(event.slug);
                $('#edit-event-modal').find('#id_category').val(event.category);
                $('#edit-event-modal').find('#id_allowed_domains').val(event.allowed_domains);
                $('form.edit-event').attr('action', form_url);
           }
       });

   });

    $(document).ready(function() {
        $('body').on('click', 'input[name="toggle-cohost-status"]', function(event) {
            event.preventDefault(); // prevent the default action
            console.log(event.target,'hello');
            let checkbox = $(event.target);
            let participant_id = checkbox.val();
            let event_slug = checkbox.attr('event-slug');
            let url = '/events/' + event_slug + '/participant/' + participant_id + '/toggle_cohost_status';

            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                  console.log(data);
                  if(data[0].status===true){
                    checkbox.prop('checked', !checkbox.prop('checked'));
                  }
                },
            });
        });
    });

  </script>
{% endblock %}
