{% extends 'base.html' %}

{% load static %}

{% block title %}Event - {{ event.title }}{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/project-home.css' %}">
{% endblock %} 

{% block content %}
<div class="container">
{% if event %}
    <h2 class="form-signin-heading">{{ event.title }}</h2>
    <div class="col-md-9 no-pd">
        <br/>
        <h4>Event Details</h4>
        <hr>
        <div class="row mb-1">
            <div class="col-md-3">
                Category:
            </div>
            <div class="col-md-9">
                {{ event.category }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-3">
                Start Date:
            </div>
            <div class="col-md-9">
                {{ event.start_date | date:"M. d, Y"}}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-3">
                End Date:
            </div>
            <div class="col-md-9">
                {{ event.end_date | date:"M. d, Y" }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-3">
                Description:
            </div>
            <div class="col-md-12">
                {{ event.description | safe }}
            </div>
        </div>
    </div>
    <hr>

    {% include  "events/event_participation.html" %}
     <hr>
    {% if event_datasets|length != 0 %}
      {% include  "events/event_datasets.html" %}
    {% endif %}
    
</div>
{% endif %}
{% endblock %}
