{% load participation_status %}
<div class="table-responsive">
  <table class=" table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Email</th>
        <th>Credentialed</th>
        <th>Comments</th>
        <th>Decision date</th>
        <th>Cohost</th>
      </tr>
    </thead>
    <tbody>
      {% for object in info.objects %}
      <tr>
        <td>{{ object.user.username }}</td>
        <td>{{ object.user.get_full_name }}</td>
        <td>{{ object.user.email }}</td>
        <td>{{ object.user.is_credentialed }}</td>
        <td>{{ object.comment_to_applicant }}</td>
        <td>{{ object.decision_datetime | date }}</td>
        <td>
          {% if not event.has_ended %}
          <form class="manage-cohost" action="{% url 'manage_co_hosts' event.slug %}"
            data-cohost-status="{{ object.is_cohost }}">
            {% csrf_token %}
            <input type="text" name="event" value="{{ event.slug }}" hidden>
            <input type="text" name="participant" value="{{ object.id }}" hidden>
            {% if object.is_cohost %}
            <input type="submit" value="Remove cohost" data-action="{{ cohostStatus.REMOVE_COHOST }}"
              class="btn btn-sm btn-danger">
            {% else %}
            <input type="submit" value="Make cohost" data-action="{{ cohostStatus.MAKE_COHOST }}"
              class="btn btn-sm btn-success">
            {% endif %}
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
