{% load participation_status %}
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="active-participant" role="tabpanel" aria-labelledby="active-participant-tab">
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Username</th>
              <th>Full name</th>
              <th>Email</th>
              <th>Credentialed</th>
              <th>Cohost</th>
            </tr>
          </thead>
          <tbody>
            {% with rejected_applications=event|get_rejected_applications %}
              {% for application in rejected_applications %}
                <tr>
                  <td>{{ application.user.username }}</td>
                  <td>{{ application.user.get_full_name }}</td>
                  <td>{{ application.user.email }}</td>
                  <td>{{ application.comment_to_applicant }}</td>
                  <td>{{ application.decision_datetime | date }}</td>
                </tr>
              {% endfor %}
            {% endwith %}
            </tbody>
        </table>
    </div>
  </div>
</div>