{% load participation_status %}
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="active-participant" role="tabpanel"
    aria-labelledby="active-participant-tab">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Credentialed</th>
            <th>Cohost</th>
          </tr>
        </thead>
        <tbody>
          {% for participant in event.participants.all %}
          <tr>
            <td>{{ participant.user.username }}</td>
            <td>{{ participant.user.get_full_name }}</td>
            <td>{{ participant.user.email }}</td>
            <td>{{ participant.user.is_credentialed }}</td>
            <td>
              {% if not event.has_ended %}
              {% if participant.is_cohost %}
              <form class="manage-cohost" action="{% url 'manage_co_hosts' %}">
                {% csrf_token %}
                <input type="text" name="event" value="{{ event.slug }}" hidden>
                <input type="text" name="participant" value="{{ participant.id }}" hidden>
                <input type="submit" value="Remove cohost" class="btn btn-sm btn-danger">
              </form>
              {% else %}
              <form class="manage-cohost" action="{% url 'manage_co_hosts' %}">
                {% csrf_token %}
                <input type="text" name="event" value="{{ event.slug }}" hidden>
                <input type="text" name="participant" value="{{ participant.id }}" hidden>
                <input type="submit" value="Make cohost" class="btn btn-sm btn-success">
              </form>
              {% endif %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>