{% load participation_status %}
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Email</th>
        <th>Credentialed</th>
        <th>Cohost</th>
      </tr>
    </thead>
    <tbody>
      {% for participant in event.participants.all %}
      <tr>
        <td>{{ participant.user.username }}</td>
        <td>{{ participant.user.get_full_name }}</td>
        <td>{{ participant.user.email }}</td>
        <td>{{ participant.user.is_credentialed }}</td>
        <td>
          {% if not event.has_ended %}
          <form class="manage-cohost" action="{% url 'manage_co_hosts' event.slug %}"
            data-cohost-status="{{ participant.is_cohost }}">
            {% csrf_token %}
            <input type="text" name="event" value="{{ event.slug }}" hidden>
            <input type="text" name="participant" value="{{ participant.id }}" hidden>
            {% if participant.is_cohost %}
            <input type="submit" value="Remove cohost" data-action="{{ cohostStatus.REMOVE_COHOST }}"
              class="btn btn-sm btn-danger">
            {% else %}
            <input type="submit" value="Make cohost" data-action="{{ cohostStatus.MAKE_COHOST }}"
              class="btn btn-sm btn-success">
            {% endif %}
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% block local_js_bottom %}
<script>
  $(document).ready(function () {
    $('.manage-cohost').submit(function (e) {
      e.preventDefault();
      let $form = $(this);
      $form.find('input[type="submit"]').prop('disabled', true);

      let participant_id = e.target.participant.value;
      let event_slug = e.target.event.value;
      let submit_value = $form.find('input[type="submit"]').val();
      let action = $form.find('input[type="submit"]').attr('data-action');
      let csrftoken = e.target.csrfmiddlewaretoken.value;
      let url = e.target.action;

      $.ajax({
        url: url,
        type: 'POST',
        data: {
          'participant_id': participant_id,
          'event_slug': event_slug,
          'csrfmiddlewaretoken': csrftoken,
          'action': action
        },
        success: function (data) {

          $form.find('input[type="submit"]').prop('disabled', false);

          if ($form.attr('data-action') == 'MAKE_COHOST') {
            $form.find('input[type="submit"]').val('Remove cohost');
            $form.find('input[type="submit"]').removeClass('btn-primary');
            $form.find('input[type="submit"]').addClass('btn-danger');
          } else if ($form.attr('data-action') == 'REMOVE_COHOST') {
            $form.find('input[type="submit"]').val('Make cohost');
            $form.find('input[type="submit"]').removeClass('btn-danger');
            $form.find('input[type="submit"]').addClass('btn-success');
          }
        },
        error: function (data) {
          $form.find('input[type="submit"]').prop('disabled', false);
        }
      });
    });
  });
</script>
{% endblock %}