<div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Full name</th>
          <th>Email</th>
          <th>Credentialed</th>
          <th>Cohost</th>
        </tr>
      </thead>
      <tbody>
        {% for participant in event.participants.all %}
          <tr>
            <td>{{ participant.user.username }}</td>
            <td>{{ participant.user.get_full_name }}</td>
            <td>{{ participant.user.email }}</td>
            <td>{{ participant.user.is_credentialed }}</td>
            <td>
                {% if participant.is_cohost %}
                    <input type="checkbox" name="toggle-cohost-status"  event-slug="{{ event.slug }}" value="{{ participant.id }}"  checked>
                {% else %}
                    <input type="checkbox" name="toggle-cohost-status"  event-slug="{{ event.slug }}" value="{{ participant.id }}"  >
                {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> 
