{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<h2 align="center">Home Page for {{user.first_name}} {{user.last_name}}</h2>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="Person row">
            {% if user.photo %}
                <div class="col-md-6"><img src="/media/{{user.photo}}" style="width:180px;height:180px;"></div><br>
            {% else %}    
                <div class="col-md-6"><img src="/media/Users/Blank_Picture.png" style="width:180px;height:180px;"></div><br>
            {% endif %}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12"><b>{{user.first_name}} {{user.last_name}}</b></div>
                        <div class="col-md-12">{{user.organization}}, {{user.department}}</div>
                        {% if user.state == 'N/A' %}
                        <div class="col-md-12">{{user.city}} {{user.country}}</div>
                        {% else %}
                        <div class="col-md-12">{{user.city}} {{user.state}}</div>
                        <div class="col-md-12">{{user.country}}</div>
                        {% endif %}
                        {% if user.url != None %}
                        <div class="col-md-12">{{user.url}}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding-top:25px;">
            <a href="/home/{{ user.email }}/edit"><div class="panel panel-warning"><div class="panel-heading" align="center" style="cursor:pointer;">Edit Profile</div></div></a>
            <a href="{% url 'create' %}"><div class="panel panel-info"><div class="panel-heading" align="center" style="cursor:pointer;">Create New Project</div></div></a>
            </div>
        </div>
        </div>
    </div>
</div>

<h2 align="center">PhysioNetWorks in Progress</h2>
<div class="container">
<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th>Role</th>
      <th>Active Project</th>
      <th>Activities</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}

