{% extends "base.html" %}
{% load static %}

{% block title %}
PhysioNet Content Index
{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'search/css/content-index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">PhysioNet Content Index</h1>
    <p class="lead my-3">This page contains all of the projects published on PhysioNet.</p>
  </div>
  <hr>
  <form method="GET" action="">
    {% include "inline_form_snippet.html" %}
    <button class="btn btn-primary btn-lg" type="submit">Order Results</button>
  </form>
  <hr>
  {% include "search/content_list.html" %}
</div>
{% endblock %}
