{% load project_templatetags %}

{% for published_project in projects %}
  <div class="project">
    <p>{{ published_project.resource_type|resource_badge|safe }}
       {{ published_project.access_policy|access_badge|safe }}
    </p>
    <h2><a href="{% url 'published_project' published_project.slug published_project.version %}" style="word-wrap: break-word;">{{ published_project.title }}</a></h2>
    {% if not published_project.is_legacy %}
      <p class="text-muted">
          {% for author in published_project.author_list %}
          {{ author.get_full_name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
      </p>
    {% endif %}
    {% if not published_project.short_description %}
      {{ published_project.abstract|safe|truncatechars_html:250 }}
    {% else %}
      {{ published_project.short_description|safe }}
    {% endif %}
    <p class="text-muted">
      {% for topic in published_project.topics.all %}
        {{ topic|topic_badge|safe }}
      {% endfor %}
    </p>
    <p class="pub-details">Published: {{ published_project.publish_datetime|date }}.
      Version: {{ published_project.version }}</p>
    {% if published_project.has_wfdb and not published_project.deprecated_files %}
    <a href="{% url 'lightwave_home' %}?db={{ published_project.slug }}/{{ published_project.version }}"><i class="fas fa-chart-line"></i> Visualize waveforms</a>
    {% endif %}
    <hr>
  </div>
{% endfor %}
