{% extends "base.html" %}
{% load static %}

{% block title %}
PhysioNet Database Statistics
{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'search/css/stats.css' %}">
{% endblock %}

{% block local_js_top %}
<script src="{% static 'd3/d3.v3.min.js' %}"></script>
<script src="{% static 'd3/d3.tip.v0.6.3.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>PhysioNet Database Statistics</h1>
  <hr>
  <br>
  <div id="newdbs">
    {# Yearly number and volume of databases #}
  </div>
  <br><br>
  <div id="totaldbs">
    {# Cumulative number and volume of databases #}
  </div>
  <br>
  <hr>
<script>
// Common parameters for both charts

// set the dimensions of the canvas. Leave left and right margins for
// y axis scale numbers
var margin = {top: 40, right: 40, bottom: 30, left: 40},
    width = document.getElementById('newdbs').offsetWidth - margin.left - margin.right,
    height = width * 0.5 - margin.top - margin.bottom;

// set the axis sizes
var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);
var y0 = d3.scale.linear().range([height, 0]);
var y1 = d3.scale.linear().range([height, 0]);

// define the axes
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")

var yAxisLeft = d3.svg.axis()
    .scale(y0)
    .orient("left")
    .ticks(10);

var yAxisRight = d3.svg.axis()
  .scale(y1)
  .orient("right")
  .ticks(10);

// Create the tooltips
var tip0 = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return d.num_projects + " Databases";
  })

var tip1 = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return d.storage_size + " GB";
  })


// First chart

// add the SVG element
var svg0 = d3.select("#newdbs").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Add the tooltips to the svg
svg0.call(tip0);
svg0.call(tip1);

// load the data
d3.json("/rest/database-stats-list/", function(error, data) {
  // scale the range of the data
  x.domain(data.map(function(d) { return d.year; }));
  y0.domain([0, d3.max(data, function(d) { return d.num_projects; })]);
  y1.domain([0, d3.max(data, function(d) { return d.storage_size; })]);

  // add x axis
  svg0.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  // add left y axis
  svg0.append("g")
    .attr("class", "y axis axisLeft")
    .attr("transform", "translate(0,0)")
    .call(yAxisLeft)
  .append("text")
    .attr("y", 6)
    .attr("dy", "-2em")
    .style("text-anchor", "start")
    .text("No. Databases");

  // add right y axis
  svg0.append("g")
    .attr("class", "y axis axisRight")
    .attr("transform", "translate(" + (width) + ",0)")
    .call(yAxisRight)
  .append("text")
    .attr("y", 6)
    .attr("dy", "-2em")
    .style("text-anchor", "end")
    .text("Data Volume (GB)");

  // add title
  svg0.append("text")
    .attr("class", "graph-title")
    .attr("x", width/2)
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .text("New Databases Per Year");

  var bars = svg0.selectAll(".bar").data(data).enter();

  bars.append("rect")
      .attr("class", "bar1")
      .attr("x", function(d) { return x(d.year); })
      .attr("width", x.rangeBand()/2)
      .attr("y", function(d) { return y0(d.num_projects); })
      .on('mouseover', tip0.show)
      .on('mouseout', tip0.hide)
    .attr("height", function(d,i,j) { return height - y0(d.num_projects); });

  bars.append("rect")
      .attr("class", "bar2")
      .attr("x", function(d) { return x(d.year) + x.rangeBand()/2; })
      .attr("width", x.rangeBand() / 2)
      .attr("y", function(d) { return y1(d.storage_size); })
      .on('mouseover', tip1.show)
      .on('mouseout', tip1.hide)
    .attr("height", function(d,i,j) { return height - y1(d.storage_size); });

});


// Second chart

// add the SVG element
var svg1 = d3.select("#totaldbs").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Add the tooltips to the svg
svg1.call(tip0);
svg1.call(tip1);

// load the data
d3.json("/rest/database-stats-list/", function(error, data) {
  // calculate cumulative sum of the data
  for (i = 1; i < data.length; i++) {
    data[i].num_projects += data[i-1].num_projects;
    data[i].storage_size += data[i-1].storage_size;
  }

  // scale the range of the data
  x.domain(data.map(function(d) { return d.year; }));
  y0.domain([0, d3.max(data, function(d) { return d.num_projects; })]);
  y1.domain([0, d3.max(data, function(d) { return d.storage_size; })]);

  // add x axis
  svg1.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  // add left y axis
  svg1.append("g")
    .attr("class", "y axis axisLeft")
    .attr("transform", "translate(0,0)")
    .call(yAxisLeft)
  .append("text")
    .attr("y", 6)
    .attr("dy", "-2em")
    .style("text-anchor", "start")
    .text("No. Databases");

  // add right y axis
  svg1.append("g")
    .attr("class", "y axis axisRight")
    .attr("transform", "translate(" + (width) + ",0)")
    .call(yAxisRight)
  .append("text")
    .attr("y", 6)
    .attr("dy", "-2em")
    .style("text-anchor", "end")
    .text("Data Volume (GB)");

  // add title
  svg1.append("text")
    .attr("class", "graph-title")
    .attr("x", width/2)
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .text("Total Databases Per Year");

  var bars = svg1.selectAll(".bar").data(data).enter();

  bars.append("rect")
      .attr("class", "bar1")
      .attr("x", function(d) { return x(d.year); })
      .attr("width", x.rangeBand()/2)
      .attr("y", function(d) { return y0(d.num_projects); })
      .on('mouseover', tip0.show)
      .on('mouseout', tip0.hide)
    .attr("height", function(d,i,j) { return height - y0(d.num_projects); });

  bars.append("rect")
      .attr("class", "bar2")
      .attr("x", function(d) { return x(d.year) + x.rangeBand()/2; })
      .attr("width", x.rangeBand() / 2)
      .attr("y", function(d) { return y1(d.storage_size); })
      .on('mouseover', tip1.show)
      .on('mouseout', tip1.hide)
    .attr("height", function(d,i,j) { return height - y1(d.storage_size); });

});

</script>

</div>

{% endblock %}
