{% extends 'base.html' %}
{% block title %}Database Index{% endblock %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

<!-- custom template filters for dictionary value -->
{% load catalog_tags %}

{% block content %}

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">


            <div class="jumbotron">
                <h1>Physionet Record Search</h1>
                <p>PhysioBank's data archives</p>
                <p>
                  <a class="btn btn-primary btn-lg" href="#" role="button">About PhysioBank</a>
                  <a class="btn btn-primary btn-lg" href="#" role="button">Database Search</a>
                </p>
            </div>
          
          
            <h1>Organization</h1>
            <p>This index lists the databases contributed to PhysioBank, sorted by the category of data they contain. Each panel contains databases that fall into its category. Databases that contain more than one type of data are also listed in the <code>multicategory</code> panel. Click on a panel heading to open or close it.
            </p>
            <p>Content can be sorted by its recency, popularity, or name. If you are looking for a specific type of data, see also the <a href="/physiobank/search">physiobank search tool</a>. This allows the filtering of databases by specific features such as waveform signal type and channel number, keywords, and much more.
            </p>
            <br>

    </div><!--/row-->
</div><!--/.container-->

{% endblock %}