{% extends "base.html" %}

{% load project_templatetags %}

{% block title %}
Topic Search
{% endblock %}

{% load static %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Topic Search</h1>
  <hr>
  <p>Search published {{ SITE_NAME }} content with <a href="{% url 'all_topics' %}">topic keywords</a>.
  </p>
  <br>
  <form method="GET" action="" class="no-pd">
    {% include "inline_form_snippet.html" %}
    <button class="btn btn-primary btn-lg" type="submit">Search</button>
  </form>

  {# A search was made #}
  {% if valid_search %}
    <hr>
    <h2>Results</h2>
    <p>{{ projects|length }} project{% if projects|length != 1 %}s{% endif %} found containing "<em>{{ topic }}</em>"</p>
    {% if projects %}
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Project</th>
            <th>Version</th>
            <th>Resource Type</th>
            <th>Access Policy</th>
            <th>Publish Date</th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td><a href="{% url 'published_project' project.slug project.version %}">{{ project.title }}</a></td>
            <td>{{ project.version }}</td>
            <td>{{ project.resource_type.id|resource_badge|safe }}</td>
            <td>{{ project.access_policy|access_badge|safe }}</td>
            <td>{{ project.publish_datetime|date }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
  <hr>
</div>
{% endblock %}
