.main-side label{
	max-width: unset;
	flex: unset;
}

.main-side .col-md-10{
	max-width: unset;
	flex: unset;
}

.search-options, .search-options select{
	font-size: 0.8rem;
}

.search-options label{
	margin: 0;
}

.search-options > div{
	display: inline-block;
	height: initial;
	padding-left: 8px !important;
	min-height: 2.6em;
	vertical-align: text-top;
}

.sort select{
	border: 0;
	padding-left: 5px;
}

.sort .row{
	width: unset;
	display: inline-block;
	margin: 0;
}

.row > label{
	display: none;
}

.resource{
	padding: 6px !important;
}

.resource .row{
	margin: 0;
	width: 100%;
	padding-top: 10px !important;
}

.resource ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.resource > label span{
	-webkit-appearance: none;
	background-color: white;
	background-image: 
		linear-gradient(45deg, transparent 50%, black 50%),
		linear-gradient(135deg, black 50%, transparent 50%);
	background-position:
    	calc(100% - 15px) 0.5em,
    	calc(100% - 10px) 0.5em;
	background-size:
		5px 5px,
		5px 5px;
	background-repeat: no-repeat;
	padding-right: 25px;
}

#resource-check{
	display: none;
}

#resource-check + div{
	display: none;
}

#resource-check:checked + div{
	display: block;
}

.nselected{
	color: #495057;
	padding-left: 5px;
}

.search-card .col-md-10{
	margin: 0;
}

.search-card button{
	font-size: 0.9em;
	padding: 5px;
	min-width: 100px;
}