{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login-register.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  {% include "message_snippet.html" %}
    <form method="post">
      <h1 class="form-signin-heading">{{ title }}</h1>
      <hr>
      {% csrf_token %}
      {% include "inline_form_snippet.html" %}
      <button class="btn btn-primary btn-custom btn-rsp" type="submit">Activate</button>
    </form>

</div>
{% endblock %}
