<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <th colspan='2' class="bg-light">Application Details</th>
    </tr>
    <tr>
      <td>Application Date</td>
      <td>{{ application.application_datetime|date }}</td>
    </tr>
    <tr>
      <td>User</td>
      <td><a href="{% url 'public_profile' user.username %}">{{ user }}</a></td>
    </tr>
    <tr>
      <th colspan='2' class="bg-light">Personal Details</th>
    </tr>
    <tr>
      <td>First Names</td>
      <td>{{ application.first_names }}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{ application.last_name }}</td>
    </tr>
    <tr>
      <td>Suffix</td>
      <td>{{ application.suffix }}</td>
    </tr>
    <tr>
      <td>Researcher Category</td>
      <td>{{ application.get_researcher_category_display }}</td>
    </tr>
    <tr>
      <td>Organization Name</td>
      <td>{{ application.organization_name }}</td>
    </tr>
    <tr>
      <td>Job Title Or Position</td>
      <td>{{ application.job_title }}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{ application.city }}</td>
    </tr>
    <tr>
      <td>State/Province</td>
      <td>{{ application.state_province }}</td>
    </tr>
    <tr>
      <td>Zip code</td>
      <td>{{ application.zip_code }}</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>{{ application.get_country_display }}</td>
    </tr>
    <tr>
      <td>Webpage</td>
      <td>{% if application.webpage|length > 0 %}<a href="{{ application.webpage }}" target="_blank">{{ application.webpage }}{% endif %}</a></td>
    </tr>
    <tr>
      <th colspan='2' class="bg-light">CITI Completion Report</th>
    </tr>
    <tr>
      <td>Training Completion Report</td>
      <td><a href="{% url 'training_report' application.slug %}" target="_blank">File</a></td>
    </tr>
    <tr>
      <th colspan='2' class="bg-light">Reference</th>
    </tr>
    <tr>
      <td>Reference Category</td>
      <td>{{ application.get_reference_category_display }}</td>
    </tr>
    <tr>
      <td>Reference Name</td>
      <td>{{ application.reference_name }}</td>
    </tr>
    <tr>
      <td>Reference Email</td>
      <td>{{ application.reference_email }}</td>
    </tr>
    <tr>
      <td>Reference Title</td>
      <td>{{ application.reference_title }}</td>
    </tr>
    <tr>
      <th colspan='2' class="bg-light">Research</th>
    </tr>
    <tr>
      <td>Research Topic</td>
      <td>{{ application.research_summary }}</td>
    </tr>

    <tr>
      <th colspan='2' class="bg-light">Response</th>
    </tr>
    {% if application.reference_contact_datetime %}
      <tr>
        <td>Reference Contact Date</td>
        <td>{{ application.reference_contact_datetime|date }}</td>
      </tr>
      {% if application.reference_response_datetime %}
        <tr>
          <td>Reference Response Date</td>
          <td>{{ application.reference_response_datetime|date }}</td>
        </tr>
        {# <tr> <td>Reference Verified</td> <td>{{ application.get_reference_response_display }}</td> </tr> #}
      {% endif %}
    {% endif %}
    {% if application.decision_datetime %}
      <tr>
        <td>Decision Date</td>
        <td>{{ application.decision_datetime|date }}</td>
      </tr>
    {% endif %}
    {% if application.status != 0 %}
      <tr>
        <td>Decision</td>
        <td>{{ application.get_status_display }}</td>
      </tr>
    {% else %}
      <tr>
        <td>Decision</td>
        <td><i class="fas fa-clock"></i> Pending</td>
      </tr>
    {% endif %}
  </tbody>
</table>
