{% load user_templatetags %}

{# Personal details #}

<p>User: <a href="{% url 'public_profile' application.user.username %}">{{ application.user.username }}</a><br>

My first (given) name(s): {{ application.first_names }}<br>

My last (family) name(s): {{ application.last_name }}<br>

Suffix (e.g., Jr.), if applicable: {{ application.suffix }}<br>

{{ SITE_NAME }} e-mail: {{ application.user.email }}<br>

Researcher's Category: {{ application.get_researcher_category_display }}<br>

Organization Name: {{ application.organization_name }}<br>

Job title or position: {{ application.job_title }}<br>

City: {{ application.city }}<br>

State/Province: {{ application.state_province }}<br>

ZIP/postal code: {{ application.zip_code }}<br>

Country: {{ application.get_country_display }}<br>

Webpage: {{ application.webpage }}<br></p>

{# Reference #}

<p>Reference Category: {{ application.get_reference_category_display }}<br>

Reference's Name: {{ application.reference_name }}<br>

Reference's Email: {{ application.reference_email }}<br>

Reference's Organization: {{ application.reference_organization }}<br>

Reference's job title or position: {{ application.reference_title }}</p>

{# Research #}

<p>Research Topic: {{ application.research_summary }}</p>

<p>Date of this agreement: {{ application.application_datetime }}<br></p>

{% if application.reference_contact_datetime and request.user.is_superuser or request.user|has_group:"Admin" %}
  Reference Contact Date: {{ application.reference_contact_datetime|date }}<br>
  {% if application.reference_response_datetime and request.user.is_superuser or request.user|has_group:"Admin" %}
    Reference Response Date: {{ application.reference_response_datetime|date }}<br><br>
  {% endif %}
{% endif %}

{% if application.decision_datetime %}
  Decision Date: {{ application.decision_datetime|date }}<br>
{% endif %}
{% if application.status == CredentialApplication.Status.PENDING %}
  Decision: Pending<br>
{% else %}
  Decision: {{ application.get_status_display }}<br>
  {% if application.status == CredentialApplication.Status.REVOKED %}
    Revoked Date: {{ application.revoked_datetime|date }}<br><br>
  {% endif %}
  {% if request.user.is_superuser or request.user|has_group:"Admin" and form %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form }}
      <br>
      <button class="btn btn-success pull-right" name="manage_credentialing" value="{{ application.id }}" type="submit">Submit</button>
    </form>
  {% endif %}
{% endif %}