{% extends "base.html" %}

{% load static %}

{% block title %}PhysioNet Credentialing Application{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  {% include "message_snippet.html" %}
  <h1>PhysioNet Credentialing Application</h1>
  <hr>
  <p>The contents of restricted-access clinical databases maintained by PhysioNet were derived from original data that contained protected health information (PHI), as defined by <a href="http://www.hhs.gov/ocr/hipaa/" target="other">HIPAA</a>. The providers of the data have given scrupulous attention to the task of locating and removing all PHI, so that the remaining data can be considered <a href="http://privacyruleandresearch.nih.gov/pr_08.asp#8a" target="other">de-identified</a> and therefore not subject to the HIPAA Privacy Rule restrictions on sharing PHI. Nevertheless, because of the richness and detail of the databases, the data will be released only to legitimate researchers under the terms and conditions described on this page.</p>
  <p>Use this form to submit a data use agreement and request access to restricted-access clinical databases hosted on PhysioNet. Please be sure to provide all requested information. Submissions that are clearly incomplete, incorrect, or frivolous may be discarded without notice.</p>
  <p>If you are a student or a postdoc, please provide your supervisor's name and contact information. If you are not listed in a directory or other easy-to-find page of your organization’s website, please provide the name and contact information of a reference such as a supervisor or colleague. Do not list yourself as reference."</p>
  <p>If you agree to all of these terms and conditions, access to restricted information within PhysioNet clinical databases may be granted to you as an individual. Your colleagues may obtain access to these data as individuals via the same procedure.</p>

  <div class="card mb-4">
    <div class="card-header">
      {{ license.dua_name }}
    </div>

    <div class="card-body">
      {{ license.dua_html_content|safe }}
    </div>
  </div>

  <p>Please use the form below to apply for PhysioNet credentialing. In order to apply, you must:</p>
  <ul>
    <li>Complete the CITI Program in "Data or Specimens Only Research", an online course that covers ethics of human research and patient privacy. Instructions are provided <a href="{% url 'citi_course' %}">here</a>.</li>
    <li>Provide a reference:
      <ul>
        <li>If you are a student or a postdoc, you must provide your supervisor as a reference.</li>
        <li>Otherwise, provide a reference such as a supervisor or colleague.</li>
      </ul>
  </ul>

  Please check the form carefully before submission. <strong>Incomplete or erroneous applications will be rejected.</strong></p> <p>Required fields are indicated by a red asterisk (<a style="color:red">*</a>). 
  <hr>
  <form action="" method="post" enctype="multipart/form-data" class="form-signin no-pd" autocomplete="off">
    {% csrf_token %}
    <h2>Personal Details</h2>
    <br>
    {% include "descriptive_inline_form_snippet.html" with form=personal_form %}
    <br>
    <h2>Training Course</h2>
    <br>
    {% include "descriptive_inline_form_snippet.html" with form=training_form %}
    <br>
    <h2>Reference</h2>
    <br>
    {% include "descriptive_inline_form_snippet.html" with form=reference_form %}
    <br>
    <h2>Course Survey</h2>
    <br>
    {% include "descriptive_inline_form_snippet.html" with form=course_form %}
    <br>
    <h2>Research Area</h2>
    <br>
    {% include "descriptive_inline_form_snippet.html" with form=research_form %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
    <p>By submitting this form, you agree to the terms and conditions described on this page.</p>
    <hr>
    <button class="btn btn-primary btn-rsp" type="submit">Submit Application</button>
  </form>
</div>
{% endblock %}


{% block local_js_bottom %}
<script src="{% static 'custom/js/enable-popover.js' %}"></script>
<script src="{% static 'user/js/credential-form-control.js' %}"></script>
{% endblock %}
