{% extends "base.html" %}

{% load static %}

{% block title %}PhysioNet Credentialing Application{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  <h1>PhysioNet Credentialing Application</h1>
  <hr>
  <p>Use the form below to apply for PhysioNet credentialing. In order to apply, you must:</p>
  <ul>
    <li>Complete a suitable training program in human research subject protections and HIPAA regulations. We recommend the CITI Program's “Data or Specimens Only Research” course. Instructions are here provided <a href="{% url 'citi_instructions' %}">here</a>.</li>
    <li>Provide a reference:
      <ul>
        <li>If you are a student or a postdoc, you must provide your supervisor as a reference.</li>
        <li>If you are not listed on your organization's website, you must provide a reference such as a supervisor or colleague.</li>
      </ul>
  </ul>

  <p>Required fields are indicated by a <a style="color:red">*</a>. Read the helpstring of each field carefully. <strong>If you do not fill in the form properly, we will reject your application immediately</strong>.</p>
  <hr>
  <form action="" method="post" enctype="multipart/form-data" class="form-signin">
    {% include "descriptive_inline_form_snippet.html" %}
    <button class="btn btn-lg btn-primary" type="submit">Submit Application</button>
  </form>
  <hr>
</div>
{% endblock %}

{% block local_js_bottom %}
<script type="text/javascript" src="{% static 'custom/js/enable-popover.js' %}"></script>
{% endblock %}
