{% extends "base.html" %}

{% load static %}

{% block title %}PhysioNet Credentialing Reference{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  <h1>PhysioNet Credentialing Reference</h1>
  <hr>
  <p>Please verify or reject the PhysioNet credentialing of {{ application.get_full_name }}. Your name must exactly match the name they provided for their reference.</p>
  <hr>
  <form action="" method="post">
    {% csrf_token %}
    {% include "inline_form_snippet.html" %}
    <button class="btn btn-lg btn-primary" type="submit">Submit Response</button>
  </form>
  <hr>
</div>
{% endblock %}
