{% extends "base.html" %}

{% load static %}

{% block title %}PhysioNet Credential Application{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  <h1>PhysioNet Credential Application</h1>
  <hr>
  <p>Use the form below to apply for PhysioNet credentialing.</p>

  <ul>
    <li>In order to apply, you must have completed a suitable human subjects training course.</li>
    <li>Providing a reference:
      <ul>
        <li>If you are a student or a postdoc, you must provide your supervisor as a reference.</li>
        <li>If you are not listed on your organization's website, you must provide a reference such as a supervisor or colleague.</li>
      </ul>
    <li></li>
  </ul>

  <p>Required fields are indicated by a <a style="color:red">*</a>. Read the helpstring of each field carefully. <strong>If you do not fill in the form properly, we will reject your application immediately</strong>.</p>
  <hr>
  <form action="" method="post" enctype="multipart/form-data" class="form-signin">
    {% include "descriptive_inline_form_snippet.html" %}
    <button class="btn btn-lg btn-primary" type="submit">Submit Application</button>
  </form>
  <hr>
</div>
{% endblock %}
