{% extends "base.html" %}

{% load static %}

{% block title %}{{ SITE_NAME }} Credentialing Reference{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}"/>
{% endblock %}

{% block local_js_top %}
<script>
// Make the reference confirm their decision.
function confirmDecision(form) {
  if (form.reference_response.value == 1){
    return confirm('Are you sure you want to deny this application?');
  }
}
</script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ SITE_NAME }} Credentialing Reference</h1>
  <hr>
<p>{{ application.get_full_name }} has requested access to restricted-access clinical data maintained by {{ SITE_NAME }}, listing you as a reference and summarizing his/her research project as follows:</p>
<p>
{{application.research_summary}}
</p>
  <p>Are you familiar with {{ application.get_full_name }}'s research, and in your view would it be reasonable to grant this request?</p>
  <hr>
  <form action="" method="post" onsubmit="return confirmDecision(this);">
    {% csrf_token %}
    {% include "inline_form_snippet.html" %}
    <button class="btn btn-lg btn-primary" type="submit">Submit Response</button>
  </form>
  <hr>
</div>
{% endblock %}
