{% extends "user/settings.html" %}

{% block title %}PhysioNet Credentialing{% endblock %}

{% block main_content %}
<h1>PhysioNet Credentialing</h1>
<hr>
<p>In order to use the restricted-access clinical databases hosted on PhysioNet, users must:</p>
<ol>
  <li>Have a credentialed PhysioNet account.</li>
  <li>Sign the data-use-agreement associated with each database.</li>
</ol>

{% if user.is_credentialed %}
  <p><i class="fas fa-check" style="color:green"></i> Your account was successfully credentialed on {{ user.credential_datetime }}</p>
{% elif current_application %}
  <p><i class="fa fa-clock"></i> Your credentialing application was submitted on {{ current_application.application_datetime }}. We will respond shortly.</p>
{% else %}
  <p>Your account is not credentialed. You may <a href="{% url 'credential_application' %}">apply for access</a>.</p>
  <p><strong>If your account on the old PhysioNet site is already credentialed</strong>, please add the email address from the old site to this account. Your credentialed status will be automatically transferred when your email is verified.</p>
{% endif %}

{% if applications %}
<p><a href="{% url 'user_credential_applications' %}">View my applications</a></p>
{% endif %}

{% endblock %}


