{% extends "user/settings.html" %}

{% block title %} Edit Cloud Details {% endblock %}

{% block main_content %}
<h1 class="form-signin-heading">Edit Cloud Details</h1>

<p>{{ SITE_NAME }} is integrated with several cloud services. To access data via these services, you will need to:</p>
<ul>
    <li>Provide the appropriate account identifier using the form below.</li>
    <li>Navigate to the "Files" section of the relevant project.</li>
    <li>Follow the instructions to request access. If instructions for cloud access are not shown, the project is not currently available on the cloud.</li>
</ul>

<h2 id="gcp">Google Cloud Platform</h2>

<form action="{% url 'edit_cloud' %}" method="post" class="form-signin no-pd">
  <hr>
  {% csrf_token %}
  {% include "inline_form_snippet.html" with form=gcp_form %}
  <button class="btn btn-primary btn-custom btn-rsp mb-4"
          type="submit" name="save-gcp">Save</button>
</form>

{% if aws_verification_available %}
  <h2 id="aws">Amazon Web Services</h2>
  <form action="" method="post">
    {% csrf_token %}
    {% if user.cloud_information.aws_verification_datetime %}
      <hr>
      <p>
        To access {{ SITE_NAME }} resources via Amazon Web Services:
      </p>
      <ol>
        <li>
          <a href="https://aws.amazon.com/cli/"
             target="_blank">
            Install the <abbr title="Amazon Web Services">AWS</abbr>
            Command Line Interface.
          </a>
        </li>
        <li>
          <a href="https://docs.aws.amazon.com/cli/latest/userguide/cli-authentication-user.html"
             target="_blank">
            Configure the <abbr title="Amazon Web Services">AWS</abbr>
            Command Line Interface to use the identity shown below.
          </a>
        </li>
      </ol>

      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button class="float-right btn btn-sm btn-danger"
                    type="button" title="Remove"
                    data-toggle="modal" data-target="#delete-aws-modal">
              <span class="fas fa-trash-alt">
                <span class="visually-hidden">Remove</span>
              </span>
            </button>
            <dl class="row">
              <dt class="col-3">Account</dt>
              <dd class="col-9">{{ user.cloud_information.aws_id }}</dd>
              <dt class="col-3">User ID</dt>
              <dd class="col-9">{{ user.cloud_information.aws_userid }}</dd>
              <dt class="col-3"><abbr title="Amazon Resource Name">ARN</abbr></dt>
              <dd class="col-9">{{ user.cloud_information.aws_user_arn }}</dd>
            </dl>
          </li>
        </ul>
      </div>

      {# modal start #}
      <div class="modal fade" id="delete-aws-modal" role="dialog" aria-labelledby="delete-aws-modal-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete-aws-modal-title">Remove <abbr title="Amazon Web Services">AWS</abbr> ID</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to remove your Amazon Web Services ID?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button class="btn btn-danger" name="delete-aws" type="submit">Remove</button>
            </div>
          </div>
        </div>
      </div>
      {# modal end #}
    {% else %}
      <hr>
      <p>
        To access {{ SITE_NAME }} resources via Amazon Web Services:
      </p>
      <ol>
        <li>
          <a href="https://aws.amazon.com/resources/create-account/"
             target="_blank">
            Create an Amazon Web Services account.
          </a>
        </li>
        <li>
          <a href="https://aws.amazon.com/cli/"
             target="_blank">
            Install the <abbr title="Amazon Web Services">AWS</abbr>
            Command Line Interface.
          </a>
        </li>
        <li>
          <a href="https://docs.aws.amazon.com/cli/latest/userguide/cli-authentication-user.html"
             target="_blank">
            Configure the <abbr title="Amazon Web Services">AWS</abbr>
            Command Line Interface to use
            <abbr title="Identity and Access Management">IAM</abbr> user credentials.
          </a>
          <br>
          <strong>Note:</strong> when selecting &ldquo;Permission
          options&rdquo; for the user, you must enable
          the <code>AmazonS3FullAccess</code> policy.
        </li>
        <li>
          Open a terminal and run the following command:
          <pre><code>aws sts get-caller-identity</code></pre>
        </li>
        <li>
          Copy and paste the output into the box below.
          {% include "form_snippet_no_labels.html" with form=aws_form %}
        </li>
      </ol>
      <button class="btn btn-primary btn-custom btn-rsp"
              type="submit" name="save-aws">Submit</button>
    {% endif %}
  </form>
{% endif %}

{% endblock %}
