{% extends "user/settings.html" %}

{% block title %}{{ SITE_NAME }} Training{% endblock %}

{% block main_content %}
<h1>Training</h1>
  <hr>
    <p>To gain access to certain datasets on {{ SITE_NAME }}, you are required to demonstrate that you have completed relevant training. You can find specific training requirements in the "Files" section of the project description.</p>

    {% for status, group in training_by_status.items %}
      {% if not status == 'under review' %}
        <div class="mb-3">
          <h4>{{ status|capfirst }}</h4>
          <ul class="list-group list-group-flush">
            {% for course in group %}
              <li class="list-group-item d-flex align-items-center justify-content-between">
                <div>
                  {{ course.training_type.name }} 
                </div>
                <a href="{% url 'edit_training_detail' course.id %}" class="btn btn-sm btn-primary" role="button">View</a>
              </li>
            {% empty %}
              <p>N/A</p>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}

  <hr>
  <h4>Complete training course on Platform</h4>
  {% if platform_training_form %}
  <form action="{% url 'start_training' %}" method="POST" id="on_platform_training">
    {% include "descriptive_inline_form_snippet.html" with form=platform_training_form %}
    <button type="button" class="btn btn-primary btn-rsp" data-toggle="modal" data-target="#start-training">Start Training</button>

    <div class="modal fade" id="start-training" tabindex="-1" role="dialog" aria-labelledby="start-training-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Start Training</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>Are you sure you want to start this training?</p>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Start Training</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <p>N/A</p>
  {% endif %}

  <hr>
  <h4>Submit evidence of a completed course</h4>

    {% for status, group in training_by_status.items %}
      {% if status == 'under review' and group %}
        <div class="mb-3">
          <div class="alert alert-warning">
            The following training is under review:
          <ul class="list-group list-group-flush">
            {% for course in group %}
              <li class="d-flex align-items-center justify-content-between">
                <div>
                  {{ course.training_type.name }}
                </div>
                <a href="{% url 'edit_training_detail' course.id %}" class="btn btn-sm btn-primary" role="button">View</a>
              </li>
            {% endfor %}
          </div>
          </ul>
        </div>
    {% endif %}
  {% endfor %}

  <p>Please use the form below to submit a new completion report.</p>
  <p>For CITI training, please refer to our <a href="{% url "citi_course" %}" target="_blank">step-by-step instructions</a> and
    be sure to <strong>upload the training report</strong>, not the certificate. Please ensure that you complete the "Data or
    Specimens Only Research" course (<strong>with HIPAA module</strong>).
  {% if ticket_system_url %}To raise a support request, please <a href="{{ ticket_system_url }}">click here</a>.
  {% endif %}</p>

  <form action="{% url "edit_training" %}" method="post" enctype="multipart/form-data" id="training">
      {% include "descriptive_inline_form_snippet.html" with form=training_form %}
      <button type="button" class="btn btn-primary btn-rsp" data-toggle="modal" data-target="#submit-training">Submit Training</button>
      <div class="modal fade" id="submit-training" tabindex="-1" role="dialog" aria-labelledby="submit-training-modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Submit Training</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p>Are you sure you want to submit the training?</p>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" type="submit">Submit Training</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>
  </form>

{% endblock %}

{% block local_js_bottom %}
  <script>
    $(document).on('change', '#id_training_type', function() {
      $("#training").load(`{% url 'edit_training' %}?trainingType=${this.value} #training>`);
    });
    $(document).on('change', '#op_training_type', function() {
      $("#on_platform_training").load(`{% url 'edit_training' %}?trainingType=${this.value} #on_platform_training>`);
    });
  </script>
{% endblock %}
