{% extends "user/settings.html" %}

{% block title %}Edit ORCID{% endblock %}

{% block main_content %}
<form action="{% url 'edit_orcid' %}" method="post" enctype="multipart/form-data" class="form-signin no-pd">
	<h1>Edit ORCID</h1>
    <hr>
    {% csrf_token %}
    <p>Use the button below to link or unlink your ORCID iD to your Physionet account.</p>
    {% include "inline_form_snippet.html" %}
    {% if orcid %}
         <ul><li>ORCID iD: <a href="{{orcid.get_orcid_url}}/{{orcid.orcid_id}}" rel="noopener">{{orcid.orcid_id}}</a></li></ul>
        <button class="btn btn-primary btn-rsp" type="submit" name="remove_orcid" value="make_request">Unlink ORCID</button>
    {% else %}
        <ul><li>ORCID iD: no iD linked.</li></ul>
        <button class="btn btn-primary btn-rsp" type="submit" name="request_orcid" value="make_request">Link ORCID</button>
    {% endif %}
</form>
{% endblock %}
