{% extends "user/settings.html" %}

{% block title %}PhysioNet Credentialing{% endblock %}

{% block main_content %}
<h1 class="form-signin-heading">PhysioNet Credentialing</h1>
<hr>
<p>In order to use the restricted-access clinical databases hosted on PhysioNet, users must:</p>
<ol>
  <li>Have a credentialed PhysioNet account.</li>
  <li>Sign the data-use-agreement associated with each database.</li>
</ol>

{% if profile.is_credentialed %}
  <p>Your profile was successfully credentialed on {{ profile.credential_datetime }}.</p>
{% elif current_application %}
  <p>Your credentialing application was submitted on {{ current_application.application_datetime }}. We will respond shortly.</p>
{% else %}
  <p>Your account is not credentialed. You may <a href="{% url 'credential_application' %}">apply for access</a>.</p>
{% endif %}

{% if past_applications %}
{% endif %}


{% endblock %}
