{% extends "user/settings.html" %}

{% block title %}{{ SITE_NAME }} Credentialing{% endblock %}

{% block main_content %}
<h1>Credentialing</h1>
<hr>

{% if pause_applications %}
  <div class="alert alert-form alert-warning alert-dismissible">
    {{ pause_message }}
  </div>
{% endif %}

<p>To access certain datasets, we require your account to be "credentialed". This means that you must formally submit your personal details for review, so that we can confirm your identity.</p>
<p>Certain datasets also require you to complete <a href="{% url 'edit_training' %} ">training</a> and/or to sign a Data Use Agreement. You can find specific requirements in the "Files" section of the project description.</p>

{% if ticket_system_url %}
  <p>To raise a support request, please <a href="{{ ticket_system_url }}">click here</a>.</p>
{% endif %}

<div class="alert alert-warning">
{% if user.is_credentialed %}
  <p><i class="fas fa-check" style="color:green"></i> Your account was successfully credentialed on {{ user.credential_datetime }}</p>
{% elif current_application %}
    <p><b>Your credentialing application was submitted on {{ current_application.application_datetime }}</b>.</p>
    <p>Status of your application: {{ current_application.get_review_status }}.</p>
    <p>We aim to reach a decision within {{ estimated_time_for_credentialing }}. If you have not received a decision within this time, it is likely that we are awaiting a response from your reference.</p>
  
{% else %}
  <p>Your account is not credentialed. 

    {% if not pause_applications %}
    You may <a href="{% url 'credential_application' %}">apply for access</a>.
    {% endif %}</p>

{% endif %}
</div>

{% if applications %}
<p><a href="{% url 'user_credential_applications' %}">View my applications</a></p>
{% endif %}

{% if current_application %}
<div class="btn-container-rsp btn-left">
  <button type="button" class="btn btn-danger btn-rsp" data-toggle="modal" data-target="#withdraw-credential-modal">Withdraw Application</button>
</div>
<div class="modal fade" id="withdraw-credential-modal" tabindex="-1" role="dialog" aria-labelledby="withdraw-credential-modal" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Withdraw Application</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="" method="post">
      <div class="modal-body">
        {% csrf_token %}
        <p>Are you sure you wish to withdraw your application for credentialed access?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" name="withdraw_credentialing" type="submit">Withdraw Application</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
</div>
{% endif %}

{% endblock %}


