{% extends "user/settings.html" %}

{% block title %}
Edit Password
{% endblock %}

{% block main_content %}

<form action="{% url 'edit_password' %}" method="post" class="form-signin">
  <h1 class="form-signin-heading">Edit Password</h1>
  <hr>
  {% csrf_token %}
  {% include "inline_form_snippet.html" %}
  <div class="progress">
    <div id="StrengthProgressBar" class="progress-bar"></div>
  </div>
  <br>
  <button class="btn btn-primary btn-rsp" type="submit">Update Password</button>
</form>

<hr>
<p>If you forgot your current password, click <a href="{% url 'reset_password_request' %}">here</a> to reset by "primary" email.
{% endblock %}