{% extends "user/settings.html" %}

{% block title %}Edit Profile{% endblock %}

{% block main_content %}
<form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data" class="form-signin">
	<table style="width: 100%;">
		<tr>
			<td><h1 class="form-signin-heading">Edit Profile</h1></td>
			<td style="text-align: right;"><a class="btn btn-primary" href="{% url 'public_profile' user.username %}" role="button">View Public Profile</a></td>
		</tr>
	</table>
	<hr>
	{% csrf_token %}
	{% include "inline_form_snippet.html" %}
	<button class="btn btn-primary" type="submit" name="edit_profile">Save Changes</button>
</form>
{% endblock %}
