{% extends "user/settings.html" %}

{% block title %}Edit Profile{% endblock %}

{% block main_content %}
<form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data" class="form-signin">
  <h2 class="form-signin-heading">Edit Profile</h2>
  <hr>
  {% include "inline_form_snippet.html" %}
  <button class="btn btn-lg btn-primary" type="submit" name="edit_profile">Save Changes</button>
  <a class="btn btn-lg btn-primary" href="{% url 'public_profile' user.username %}" role="button" style="float:right">View Public Profile</a>
</form>
{% endblock %}
