{% extends "base.html" %}

{% load static %}

{% block title %} UPRRP Login {% endblock %}

{% block local_css %} {% endblock %}

{% block content %}
  <div class='container-fluid'>
  {% if login %}
    <h2 align="center">Login to Physionet Works</h2><br>
      <form method="post" action="{% url 'login' %}" class="form-horizontal row">

  {% elif reset %}
    <h2 align="center">Reset the password for Physionet Works</h2><br>
    <div class='row'>
      <form method="post" action="{% url 'reset' %}" class="form-horizontal">

  {% elif reset_password %}
    <h2 align="center">Reset the password for Physionet Works</h2><br>
    <div class='row'>
    <form method="post" action="/reset_password/{{uuid}}/{{email}}" class="form-horizontal">
  {% endif %}

  {% csrf_token %}
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      {% for field in form %}

        {% if field.errors %}
            <div class="form-group row has-error has-feedback">
          {% else %}
            <div class="form-group row">
        {% endif %}
          <label class="col-sm-2 col-md-2 col-form-label" for="{{ field.label }}">{{ field.label }}:</label>
          <div class="col-sm-10 col-md-10">{{ field }}
            {% if field.errors %}
              <span class="text-danger float-right" id="l_{{ field.label }}">{{ field.errors }}</span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
{% if form.non_field_errors %}
  <div class="non-field-errors">
    {% for err in form.non_field_errors %}
      <p class="form-error">{{ err }}</p>
    {% endfor %}
  </div>
{% endif %}
      {% if login %}
      <a href="{% url 'reset' %}" class="btn btn-warning btn-sm"> Forgot Password </a>
      <input class="form-group btn btn-success btn-sm col-md-2 float-right" type="submit" value="Login" />
      {% else %}
      <input class="form-group btn btn-success btn-sm col-md-2 float-right" type="submit" value="Submit" />
      {% endif %}
  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
  {% if messages %}
    {% for message in messages %}
      {% if message %}
      <script> $(document).ready(function(){ $('#Error_{{ forloop.counter }}').modal({ keyboard: true }, "show") }); </script>
       <div id="Error_{{ forloop.counter }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" align='center'>{{ message.extra_tags }}</h4>
            </div>
            <div class="modal-body">
              <p>{{ message }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>
{% endblock %}

{% block local_js %} {% endblock %}


