{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login-register.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  <form action="{% url 'login' %}" method="post" class="form-signin">
    <h2 class="form-signin-heading">Account Login</h2>
    {% csrf_token %}
    {{ form.username }}
    <br>
    {{ form.password }}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="checkbox">
      <label>{{ form.remember }} {{ form.remember.label }}</label><a href="{% url 'reset_password_request' %}" style="float:right">Forgot password</a>
    </div>
    <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
  </form>
  <div class="form-signin">
    <p>New user? <a id="register" href="{% url 'register' %}">Create an account</a></p>
  </div>
</div>
{% endblock %}
