{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if validlink %}

<div class="container">

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Change Password Account</h2>
        {% include "form_snippet.html" %}
        {{form.new_password1.help_text | safe }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change my password</button>
    </form>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}

{% block local_js %}

{% endblock %}
