{% extends "base.html" %}

{% load static %}

{% block title %}
Profile for {{ public_user.username }}
{% endblock %}


{% block content %}
<div class="container">
  <div class="row no-pd">

    <div class="col-md-3 prof-pic">
      {% if profile.photo %}
        <img border="1px" src="{% url 'profile_photo' public_user.username %}">
      {% else %}
        <img border="1px" src="{% static '/images/unknown-user.svg' %}">
      {% endif %}
    </div>
    <div class="col-md-9 no-pd">
      <h1 style="display: inline-block; width: calc(100% - 205px);">{{ public_user.username }}</h1>
      {% if user == public_user %}
      <a class="btn btn-primary btn-rsp" style="vertical-align: top" href="{% url 'edit_profile' %}" role="button">Settings</a>
      {% endif %}
      <hr>
      <h3>Profile</h3>
      <div class="row mb-1">
        <div class="col-md-2">
          Name:
        </div>
        <div class="col-md-10">
          {{ public_user.get_full_name }}
        </div>
      </div>

      {% if profile.affiliation %}
        <div class="row mb-1">
          <div class="col-md-2">
            Affiliation:
          </div>
          <div class="col-md-10">
            {{ profile.affiliation }}
          </div>
        </div>
      {% endif %}

      {% if profile.location %}
        <div class="row mb-1">
          <div class="col-md-2">
            Location:
          </div>
          <div class="col-md-10">
            {{ profile.location }}
          </div>
        </div>
      {% endif %}

      {% if public_email %}
        <div class="row mb-1">
          <div class="col-md-2">
            Email:
          </div>
          <div class="col-md-10">
            {{ public_email }}
          </div>
        </div>
      {% endif %}

      {% if public_user.is_credentialed and profile.website %}
        <div class="row mb-1">
          <div class="col-md-2">
            Website:
          </div>
          <div class="col-md-10">
            <a href="{{ profile.website }}" rel="nofollow">{{ profile.website }}</a> 
          </div>
        </div>
      {% endif %} 
      
      {% if projects %}
      <br />
      <h3>Contributions</h3>
        <div class="row mb-1">
          <ul>
            {% for project in projects %}
            <li><a href="{% url 'published_project' project.slug project.version %}">{{ project.title }}</a> (v{{ project.version }})
            {% endfor %}
          </ul>
        </div>
      {% endif %}

    </div>
  </div>
  <br>
</div>
{% endblock %}
