{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}



{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login_register.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <p>{{ message }}</p>
    	{% else %}
        <p>{{ message }}</p>
		<p><a href="{% url 'login' %}">Log in</a></p>
    	{% endif %}
    {% endfor %}
{% endif %}

</div>
{% endblock %}


{% block local_js %}
{% endblock %}
