{% extends "base.html" %}

{% load static %}

{% block title %}
Reset Password
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login-register.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
  <form method="post" class="form-signin">
    <h2 class="form-signin-heading">Reset Password</h2>
      {% csrf_token %}
      {% include "form_snippet.html" %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Get Reset Link</button>
  </form>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>If you do not receive an email and you have checked your junk mail folder, it is likely that you do not have an account. Please <a id="register" href="{% url 'register' %}">create one</a>.</p> 

    <p>Accounts created prior to 2019 were <em>not</em> migrated to the new platform. Your credentials will be transferred if you register using the same email address as before.</p>
  </div>

</div>

{% endblock %}

{% block local_js_bottom %}
	{% if user.email %}
	<script>$("#id_email").val("{{user.email}}");</script>
	{% endif %}
{% endblock %}
