{% extends "base.html" %}

{% load static %}

{% block title %}
Reset Password
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login_register.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
    <form method="post" class="form-signin">
        <h2 class="form-signin-heading">Reset Password</h2>
        {% csrf_token %}
        {% include "form_snippet.html" %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
        
    </form>
</div>
{% endblock %}


{% block local_js %}
{% endblock %}
