{% extends "user/settings.html" %}

{% load static %}

{% block title %}Reset Password Confirm{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login-register.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  {% if validlink %}
    <form class="form-signin" method="post">
      <h2 class="form-signin-heading">Reset Password</h2>
      {% csrf_token %}
      {% include "form_snippet.html" %}
      <div class="progress">
        <div id="StrengthProgressBar" class="progress-bar"></div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Change my password</button>
    </form>
  {% else %}
    <h2>Invalid Reset Link</h2>
    <p>The password reset link is invalid, possibly because it has already been used. Please request a <a href="{% url 'reset_password_request' %}">new password reset</a>.</p>
  {% endif %}
</div>
{% endblock %}
