{% extends "base.html" %}

{% load static %}

{% block title %}
Reset Password
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login-register.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/form-control-input.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
  <form method="post" class="form-signin">
    <h2 class="form-signin-heading">Reset Password</h2>
      {% csrf_token %}
      {% include "form_snippet.html" %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Get Reset Link</button>
  </form>
</div>
{% endblock %}

{% block local_js_bottom %}
	{% if user.email %}
	<script>$("#id_email").val("{{user.email}}");</script>
	{% endif %}
{% endblock %}
