{% extends "base.html" %}

{% load static %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
<div class="container">
    <h2>Password Reset Email Sent</h2>
	<p>We have emailed instructions for resetting your password to the specified email. If an account exists with the email you entered, you should receive it shortly.</p>

	<p>If you do not receive an email, please ensure that you have entered the correct email address, and check your spam folder.</p>
</div>
{% endblock %}
