{% extends "base.html" %}

{% load static %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/settings.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        {% with 'profile password emails' as setting_options %}
            {% for setting in setting_options.split %}
              {% url 'edit_'|add:setting as settings_url %}
              <a href={{ settings_url }} class="list-group-item {% if settings_url == request.path %}active{% endif %}">{{ setting|title }}</a>
            {% endfor %}
        {% endwith %}
      </div>
    </div><!--/span-->

    <div class="col-10 col-md-9">
      {% if messages %}
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible">
          {% else %}
            <div class="alert alert-success alert-dismissible">
          {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <div class="container">
        {% block form %}
        {% endblock %}
      </div><!--/row-->
    </div><!--/span-->

  </div><!--/row-->


</div><!--/.container-->
{% endblock %}


{% block local_js_bottom %}
<script type="text/javascript" src="{% static 'bootstrap/js/offcanvas.js' %}"></script>
<script type="text/javascript" src="{% static 'zxcvbn/zxcvbn.js' %}"></script>
<script type="text/javascript" src="{% static 'zxcvbn/zxcvbn-bootstrap-strength-meter.js' %}"></script>
<script type="text/javascript" id="helper" src="{% static 'zxcvbn/zxcvbn_ProgressBar_Change.js' %}" data-last='{{user.profile.last_name}}' data-name='{{user.profile.first_name}}' data-middle='{{user.profile.middle_names}}' data-phone='{{user.profile.phone}}' data-url='{{user.profile.url}}' data-email='{{user.email}}'></script>
{% endblock %}
