{% extends "base.html" %}

{% load static %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/settings.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        {% with 'profile password emails' as setting_options %}
            {% for setting in setting_options.split %}
              {% url 'edit_'|add:setting as settings_url %}
              <a href={{ settings_url }} class="list-group-item list-group-item-action{% if settings_url == request.path %} active{% endif %}">{{ setting|title }}</a>
            {% endfor %}
        {% endwith %}
      </div>
    </div><!--/span-->

    <div class="col-10 col-md-9">
      {% include "message_snippet.html" %}
      <div class="container">
        {% block main_content %}
        {% endblock %}
      </div><!--/row-->
    </div><!--/span-->

  </div><!--/row-->


</div><!--/.container-->
{% endblock %}


{% block local_js_bottom %}
<script type="text/javascript" src="{% static 'bootstrap/js/offcanvas.js' %}"></script>
<script type="text/javascript" src="{% static 'zxcvbn/zxcvbn.js' %}"></script>
<script type="text/javascript" src="{% static 'zxcvbn/zxcvbn-bootstrap-strength-meter.js' %}"></script>
<script type="text/javascript" id="helper" src="{% static 'zxcvbn/zxcvbn_ProgressBar_Change.js' %}" data-last='{{user.profile.last_name}}' data-name='{{user.profile.first_name}}' data-middle='{{user.profile.middle_names}}' data-phone='{{user.profile.phone}}' data-url='{{user.profile.url}}' data-email='{{user.email}}'></script>
{% endblock %}
