{% extends "base.html" %}

{% load static %}

{% block title %}My Credentialing Applications{% endblock %}

{% block content %}
<div class="container">
  <h1>My Credentialing Applications</h1>
  <hr><br>
  {% for application in applications %}
  	<h2>Application Date: {{ application.application_datetime|date }}</h2>
    {% include "user/application_display_table.html" %}
    <br>
  {% endfor %}
  <hr>
  <p><a href="{% url 'edit_credentialing' %}">Return to credentialing settings</a>.</p>
</div>
{% endblock %}
