{% extends "user/settings.html" %}

{% block title %} Agreements {% endblock %}

{% block main_content %}

<h2>Data Use Agreements</h2>
{% if signed_agreements %} 
<p>You have signed the following Data Use Agreements:</p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date of Agreement</th>
          <th>Agreement</th>
          <th>Project</th>
          <th>View Agreement</th>
        </tr>
      </thead>
      <tbody>
      {% for agreement in signed_agreements %}  
        <tr>
          <td>{{ agreement.sign_datetime|date }}</td>
          <td>{{ agreement.project.dua.name }}</td>
          <td>{{ agreement.project.title }} (v{{ agreement.project.version }})</td>
          <td><a href="{% url 'view_signed_agreement' agreement.id %}" target="_blank">View</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
<p>No agreements found.</p>
{% endif %} 

<br>

<h2>Code of Conduct</h2>
{% if signed_code_of_conducts %} 
<p>You have signed the following Code of Conduct:</p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date of Agreement</th>
          <th>Name</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
      {% for signed_code_of_conduct in signed_code_of_conducts %}  
        <tr>
          <td>{{ signed_code_of_conduct.sign_datetime|date }}</td>
          <td>{{ signed_code_of_conduct.code_of_conduct.name }}</td>
          <td>{{ signed_code_of_conduct.code_of_conduct.version }}</td>

        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
<p>No code of conduct found.</p>
{% endif %} 


{% endblock %}
