{% extends "console/base_console.html" %}

{% load static %}

{% block title %}{{ training_type }}{% endblock %}

{% block content %}
<script>
    console.log('update-course event listener triggered');
    $('#update-course').on('show.bs.modal', function (event) {
      console.log("modal opened");
      var button = $(event.relatedTarget); // Button that triggered the modal
      var trainingType = button.data('training-type'); // Extract info from data-* attributes
      var modal = $(this);
      modal.find('.modal-body input#training-type').val(trainingType);
      console.log(trainingType);
    });
  </script>

<div class="card mb-3">
    <div class="card-header">
        {{ training_type }} <span class="badge badge-pill badge-info"></span>
    </div>
      
      <div class="card mb-3">
        <div class="card-body">
          <div><button type="button" class="btn btn-sm btn-success" data-toggle="modal"
              data-target="#create-course">Upload new version</button></div>
          <div class="modal fade" id="create-course" tabindex="-1">
            <div class="modal-dialog">
              <form action="{% url 'course_details' training_type.slug %}" method="POST" enctype="multipart/form-data" class="">
                <div class="modal-content">
                  <div class="modal-body">
                    <p>Learn how to create a course <a href="{% url 'guidelines_course' %}">here</a> or see sample files to <a
                        href="{% static 'sample/example-course-create.json' %}">create a new course</a></p>
                    <div>
                      {% csrf_token %}
                      <div class="form-group">
                        <label>Training Type: </label>
                        <option value="{{ training_type.slug }}">{{ training_type.name|title }}</option>
                      </div>
                      <div class="form-group">
                        <label>File: </label>
                        <input type="file" name="json_file" id="json_file" required="True" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input type="submit" name="create" class="btn btn-primary">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <br>
    <h3 class="card-title text-center">Active Versions</h3>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Download</th>
                    <th>Expire</th>
                </tr>
            </thead>
            <tbody>
                {% for course in active_course_versions %}

                <tr>
                    <td>{{ training_type.name|title }}</td>
                    <td>{{ course.version }}</td>
                    <td>
                        <a href="{% url 'download_course_version' training_type.slug course.version %}"><i
                                class="fa fa-download"></i> Download</a>
                    </td>
                    <td>
                        <form action="{% url 'archive_course_version' training_type.slug course.version %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger" type="submit"> Archive</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><b>Note:</b> Users can no longer take the course if there are no active versions available.</p>
    </div>
    <h3 class="card-title text-center">Archived Versions</h3>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for course in inactive_course_versions %}

                <tr>
                    <td>{{ training_type.name|title }}</td>
                    <td>{{ course.version }}</td>
                    <td>
                        <a href="{% url 'download_course_version' training_type.slug course.version %}"><i
                                class="fa fa-download"></i> Download</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<script>
  document.getElementById('expiry_date').valueAsDate = new Date();
</script>