{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Project Access{% endblock %}

{% block local_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'custom/css/pagination.css' %}">
{% endblock %}

{% block content %}
 <script src="{% static 'console/js/generic-filter.js' %}"></script>
 <div class="card mb-3">
  <div class="card-header">
    {{ access_request.project }} - Access Request
  </div>
  <div class="card-body" >
    <strong>Data Use Title:</strong> {{ access_request.data_use_title }} <br>
    <strong>Requester:</strong> {{ access_request.requester.get_full_name }} <br>
    <strong>Submitted:</strong> {{ access_request.request_datetime|date }} <br>
    <strong>Status:</strong> {{ access_request.status_text }} <br>
    <strong>Data Use Purpose:</strong> {{ access_request.data_use_purpose|safe }}
    {% if access_request.responder_comments %}
      <strong>Responder Comments:</strong> {{ access_request.responder_comments }}
    {% endif %}
  </div>
</div>
{% endblock %}
