{% extends "console/base_console.html" %}

{% block title %}Ongoing Submissions{% endblock %}

{% block content %}
{% include "message_snippet.html" %}

<div class="card mb-3">
  <div class="card-header">
    1. Awaiting Editor Assignment - {{ n_awaiting_editor }}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Project</th>
            <th>Submitting Author</th>
            <th>Submission Status <a data-toggle="modal" data-target="#submissionStatusModal" href="#"><i class="fas fa-question-circle"></i></a></th>
            <th>Submission Date</th>
            <th>Editor</th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
            <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author.user.username }}</a> - {{ project.submitting_author.user.email }}</td>
            <td>{{ project.status }}</td>
            <td>{{ project.submission_datetime|date }}</td>
            <td>
              {% if project.editor %}
                {{ project.editor }}
              {% else %}
                <a style="color:red">Awaiting Editor Assignment</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h3>Active Submissions: {{ n_active }}</h3>
    <ul>
      <li>Awaiting editor assigment: {{ n_awaiting_editor }}</li>
      <li>Awaiting editor decision: {{ n_awaiting_decision }}</li>
      <li>Awaiting copyedit: {{ n_awaiting_copyedit }}</li>
      <li>Awaiting publication: {{ n_awaiting_publish }}</li>
    </ul>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    2. Awaiting Editor Decision - {{ n_awaiting_decision }}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Project</th>
            <th>Submitting Author</th>
            <th>Submission Status <a data-toggle="modal" data-target="#submissionStatusModal" href="#"><i class="fas fa-question-circle"></i></a></th>
            <th>Submission Date</th>
            <th>Editor</th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
            <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author.user.username }}</a> - {{ project.submitting_author.user.email }}</td>
            <td>{{ project.status }}</td>
            <td>{{ project.submission_datetime|date }}</td>
            <td>
              {% if project.editor %}
                {{ project.editor }}
              {% else %}
                <a style="color:red">Awaiting Editor Assignment</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="card mb-3">
  <div class="card-header">
    3. Awaiting Copyedits - {{ n_awaiting_copyedit }}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Project</th>
            <th>Submitting Author</th>
            <th>Submission Status <a data-toggle="modal" data-target="#submissionStatusModal" href="#"><i class="fas fa-question-circle"></i></a></th>
            <th>Submission Date</th>
            <th>Editor</th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
            <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author.user.username }}</a> - {{ project.submitting_author.user.email }}</td>
            <td>{{ project.status }}</td>
            <td>{{ project.submission_datetime|date }}</td>
            <td>
              {% if project.editor %}
                {{ project.editor }}
              {% else %}
                <a style="color:red">Awaiting Editor Assignment</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% include "console/submission_status_modal.html" %}

<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i> Assign Editor</div>
    <div class="card-body">
      <p>
        {% if not n_awaiting_editor %}
          <i style="color:green" class="fas fa-check-circle"></i>
        {% else %}
          <i style="color:red" class="fas fa-exclamation-circle"></i>
        {% endif %}
        {% if n_awaiting_editor == 1 %}
          There is one submission awaiting an editor.
        {% else %}
          There are {{ n_awaiting_editor }} submissions awaiting an editor.
        {% endif %}
        </p>
      <form action="" method="post" class="form-signin">
        {% csrf_token %}
        {% include "form_snippet.html" with form=assign_editor_form %}
        <button class="btn btn-primary btn-fixed" name="assign_editor" type="submit">Assign Editor</button>
      </form>
    </div>
</div>

{% endblock %}

