{# Status section #}

<p><strong>Status:</strong><br>
Application Date: {{ application.application_datetime|date }}<br>

{% if application.reference_contact_datetime %}
  Reference Contact Date: {{ application.reference_contact_datetime|date }}<br>
  {% if application.reference_response_datetime %}
    Reference Response Date: {{ application.reference_response_datetime|date }}<br>
    Reference Verified: {{ application.get_reference_response_display }}<br>
  {% endif %}
{% endif %}

{% if application.decision_datetime %}
  Decision Date: {{ application.decision_datetime|date }}<br>
{% endif %}

Decision: {% if application.status %}{{ application.get_status_display }}{% else %}<i class="fas fa-clock"></i> Pending{% endif %}<br>

{% if application.responder_comments %}
  Admin Comments:<br> {{ application.responder_comments|linebreaks }}<br>
{% endif %}</p>

{# Personal details #}

<p><strong>Personal details:</strong><br>
User: <a href="{% url 'public_profile' application.user.username %}">{{ application.user.username }}</a><br>

First Names: {{ application.first_names }}<br>

Last Name: {{ application.last_name }}<br>

Researcher Category: {{ application.get_researcher_category_display }}<br>

Organization Name: {{ application.organization_name }}<br>

Job Title: {{ application.job_title }}<br>

City: {{ application.city }}<br>

State/Province: {{ application.state_province }}<br>

Country: {{ application.get_country_display }}<br>

{% if application.webpage %}Webpage: <a href="{{ application.webpage }}" target="_blank">{{ application.webpage }}</a><br>{% endif %}

Research Summary: {{ application.research_summary }}<br>

{# Training #}

<p><strong>Training:</strong><br>

Training Course Name: {{ application.training_course_name }}<br>

Training Completion Date: {{ application.training_completion_date }}<br>

Training Completion Report: <a href="{% url 'training_report' application.slug %}">File</a><br>

Course Category: {{ application.get_course_category_display }}<br>

{% if application.course_info %}
  Course Info: {{ application.course_info }}<br>
{% endif %}</p>

{# Reference #}

<p><strong>Reference:</strong><br>

Reference Category: {{ application.get_reference_category_display }}<br>

Reference Name: {{ application.reference_name }}<br>

Reference Email: {{ application.reference_email }}<br>

Reference Title: {{ application.reference_title }}</p>
