{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Awaiting Authors - {{ project }}{% endblock %}

{% block local_js_top %}
<script type="text/javascript" src="{% static 'custom/js/copy-to-clipboard.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Awaiting Authors: {{ project }}</h1>
<hr>
{% include "console/project_info_card.html" %}
<div class="card mb-3">
  <div class="card-header">
    Awaiting Authors to Approve
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Author</th>
            <th>Email</th>
            <th>Profile</th>
            <th>Approval Date</th>
          </tr>
        </thead>
        <tbody>
        {% for author in authors %}
          <tr>
            <td>{{ author.name }}</td>
            <td>{{ author.email }}</td>
            <td><a href="{% url 'public_profile' author.user.username %}">{{ author.username }}</a></td>
            <td>
              {% if author.approval_datetime %}
                <i class="fas fa-check" style="color:green"></i> {{ author.approval_datetime }}
              {% else %}
                <i class="far fa-clock"></i> Waiting
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block local_js_bottom %}
<script type="text/javascript" src="{% static 'custom/js/enable-popover.js' %}"></script>
{% endblock %}
