{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Awaiting Authors - {{ project }}{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/submission-timeline.css' %}">
{% endblock %}

{% block local_js_top %}
<script src="{% static 'custom/js/copy-to-clipboard.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Awaiting Authors: {{ project }}</h1>
<hr>
{% include "console/submission_info_card.html" %}
<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-clock"></i> Awaiting authors to approve publication
  </div>
  <div class="card-body">
    <div class="table-responsive">
      {% include "project/awaiting_authors_table.html" %}
      <form action="" method="post" class="form-signin">
        {% csrf_token %}
        <button class="btn btn-lg btn-primary" onclick="copyToClipboard('{{ outstanding_emails }}')">Copy Outstanding Emails</button>
        {% if project.latest_reminder < yesterday %}
          <button class="btn btn-lg btn-primary" name="send_reminder" type="submit">Send Reminder Email</button>
        {% else %}
          <button class="btn btn-lg btn-primary" name="send_reminder" type="submit" disabled>Send Reminder Email</button>
          Last sent on: {{ project.latest_reminder }}
        {% endif %}
      </form>
    </div>
    <hr>
  </div>
</div>
<div class="card mb-3">
  <div class="card-header">
    Reopen Copyedit
  </div>
  <div class="card-body">
    <p>If the authors have requested additional changes, you may reopen the project for copyediting.</p>
    <p><button id="reopen-copyedit-modal-button" type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#reopenModal">
        Reopen Copyedit</button></p>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="reopenModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reopen Copyedit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to reopen the project for copyediting? Do not
        do this unless you need to make additional changes to the project.
        <form action="" method="post" class="form-signin">
          {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-fixed" name="reopen_copyedit" type="submit">Reopen Copyedit</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block local_js_bottom %}
<script src="{% static 'custom/js/enable-popover.js' %}"></script>
{% if project.editor == user %}
<script>
  function set_editor_text(){
    $('#project_editor').text($( "#id_editor option:selected" ).text());
  }
</script>
{% endif %}
{% endblock %}
