<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Database Access Grantees</title>
    <style>
      body { background: #CCCCCC; }
      table {
       table-layout: automatic
       empty-cells: show;
       width:90%; 
       border:6px solid #888888;
       margin:1em auto;
       }
      tbody { background: #FFFFFF; } 
      td, th {
       padding: .5ex .5em; 
       }
      th { 
       text-align: left;
       font-style: roman; 
       font-weight: bold;
       vertical-align: baseline; 
       }

      td {
       text-align:left;
       vertical-align: baseline;
       }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      {% if credentialed_people %}
        <table>
          <tbody>
            <tr><th></th><th align="center" colspan="8">MIMIC Data Use Agreements Issued as of  {% now "jS F Y H:i" %}</th></tr>
            <tr>
            <th></th><th align="left">First name</th><th align="left">Last name</th><th align="left">E-mail</th><th align="left">Country</th><th align="left">MIMIC approval date</th><th align="left">eICU approval date</th><th>General research area for which the data will be used</th>
            </tr>
            {% for person in credentialed_people %}
            <tr><td>{{ forloop.counter   }}</td><td align="left">{{ person.0 }}</td><td align="left">{{ person.1 }}</td><td align="left">{{ person.2 }}</td><td align="left">{{ person.3 }}</td><td align="left">{{ person.4|date }}</td><td align="left">{{ person.5|date }}</td><td>{{ person.6 }}</td></tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No credentialed people found.</p>
      {% endif %}
    </div>
</body>
</html>
