{% extends "console/base_console.html" %}

{% block title %}Credential Applications{% endblock %}

{% load console_templatetags %}

{% block content %}
<div class="card">
  <div class="card-header">
    {% with c=contacted_applications|length n=not_contacted_applications|length %}

      Outstanding credential requests  <span class="badge badge-pill badge-info">
        {{c|add:n}}
    {% endwith %}
    </span>
  </div>
  <div class="card-body">
    <div class="tab-content">
      {% if contacted_applications or not_contacted_applications %}
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="header">
                <th>#</th>
                <th>User</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Application Date</th>
                <th>Reference Contact Date</th>
                <th>Reference Verification Date</th>
              </tr>
            </thead>
            <tbody>
            {% if not_contacted_applications %}
              {% for application in not_contacted_applications %}
                <tr class="header" id='application_{{ application.user.email }}'>
                  <td>{{forloop.counter}}</td>
                  <td><a href="#application_{{ application.id }}">{{ application.user.username }}</td>
                  <td>{{ application.get_full_name }}</td>
                  <td>{{ application.user.email }}</td>
                  <td>{{ application.application_datetime|date }}</td>
                  <td>{{ application.reference_contact_datetime|date }}</td>
                  <td>{{ application.reference_response_datetime|date }}</td>
                </tr>
              {% endfor %}
            {% endif %}
            {% if contacted_applications %}
              {% for application in contacted_applications %}
                <tr class="header" id='application_{{ application.user.email }}'>
                  <td>{{forloop.counter}}</td>
                  <td><a href="#application_{{ application.id }}">{{ application.user.username }}</td>
                  <td>{{ application.get_full_name }}</td>
                  <td>{{ application.user.email }}</td>
                  <td>{{ application.application_datetime|date }}</td>
                  <td>{{ application.reference_contact_datetime|date }}</td>
                  <td>{{ application.reference_response_datetime|date }}</td>
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
        {% for application in not_contacted_applications %}
          {% include "console/complete_application_display.html" %}
        {% endfor %}
        {% for application in contacted_applications %}
          {% include "console/complete_application_display.html" %}
        {% endfor %}
      {% else %}
        <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
      {% endif %}
    </div>
  </div>
</div><br>
{% endblock %}
