{% extends "console/base_console.html" %}

{% block title %}Copyedit Submission{% endblock %}

{% block content %}

{% include "console/project_info_card.html" %}

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-glasses"></i> Copyedit Submission
  </div>
  <div class="card-body">
    <p>Make adjustments to metadata and files. For now, just move on below.</p>
    <form action="" method="post">
      {% csrf_token %}
      <button class="btn btn-success btn-lg" name='complete_copyedit' type="submit">Complete Copyedit</a>
    </form>
  </div>
</div>
{% endblock %}
