{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Copyedit Submission{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/submission-timeline.css' %}">
{% endblock %}

{% block local_js_top %}
<script src="{% static 'custom/js/cookie.js' %}"></script>
<script src="{% static 'custom/js/clear-autosave.js' %}"></script>
<script src="{% static 'project/js/dynamic-formset.js' %}"></script>
<script src="{% static 'custom/js/copy-to-clipboard.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Copyedit Project: {{ project }}</h1>
<hr>
{% include "console/submission_info_card.html" %}

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Edit Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="content-tab" data-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="true">Edit Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="complete-tab" data-toggle="tab" href="#complete" role="tab" aria-controls="complete" aria-selected="false">Complete Copyedit</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    {# Edit Content #}
    <div class="tab-content" id="tabContent">
      {# Edit Files #}
      <div class="tab-pane fade show active" id="files" role="tabpanel" aria-labelledby="files-tab">
        <div class="card">
          <div class="card-body">
            {% include "project/project_storage_allowance.html" %}
          </div>
        </div>
        <br>
        {% include "project/edit_files_panel.html" %}
      </div>
      <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="content-tab">
        <form action="" method="post">
          <h3>Description</h3>
          {{ description_form.media }}
          {% include "project/content_inline_form_snippet.html" with form=description_form %}
          {% include "project/content_inline_form_snippet.html" with form=ethics_form %}
          {% include 'project/item_list.html' with item="reference" item_label=reference_formset.item_label formset=reference_formset form_name=reference_formset.form_name add_item_url=add_item_url remove_item_url=remove_item_url %}
          <h3>Access</h3>
          <div id="access">
            {% include "project/content_inline_form_snippet.html" with form=access_form %}
          </div>
          <h3>Discovery</h3>
          {% include "project/content_inline_form_snippet.html" with form=discovery_form %}
          {% include 'project/item_list.html' with item="publication" item_label=publication_formset.item_label formset=publication_formset form_name=publication_formset.form_name add_item_url=add_item_url remove_item_url=remove_item_url %}
          {% include 'project/item_list.html' with item="topic" item_label=topic_formset.item_label formset=topic_formset form_name=topic_formset.form_name add_item_url=add_item_url remove_item_url=remove_item_url %}
          <button class="btn btn-lg btn-primary" type="submit" name="edit_content">Save Content</button>
        </form>
      </div>
      {# Complete Copyedit #}
      <div class="tab-pane fade" id="complete" role="tabpanel" aria-labelledby="complete-tab">
        <p>When you are satisfied with the final state of the project, you
           may complete this step. If you made any changes, summarize them
           below.</p>
        <form action="" method="post">
          {% csrf_token %}
          {% include "form_snippet.html" with form=copyedit_form %}
          <button class="btn btn-lg btn-primary" type="submit" name="complete_copyedit">Complete Copyedit</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block local_js_bottom %}
<script src="{% static 'custom/js/resize-ck.js' %}"></script>
<script src="{% static 'custom/js/enable-popover.js' %}"></script>
<script src="{% static 'project/js/control-access-form.js' %}"></script>
<script>
  $(document).on('change', '#id_access_policy', function() {
    $("#access").load(`{% url 'copyedit_submission' project.slug %}?accessPolicy=${this.value} #access>`);
  });
</script>

<script>disableAddButtons();</script>
{% if project.is_new_version %}
  <script src="{% static 'custom/js/disable-title.js' %}"></script>
{% endif %}

{% if project.editor == user %}
<script>
  function set_editor_text(){
    $('#project_editor').text($( "#id_editor option:selected" ).text());
  }
</script>
{% endif %}
{% endblock %}
