{% extends "console/base_console.html" %}

{% block title %}Credential Applications{% endblock %}

{% block content %}
 <div class="card mb-3">
    <div class="card-header">
      <i class="fab fa-wpforms"></i> Credential Applications <span class="badge badge-pill badge-info">{{ applications|length }}</span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
              <th>Join Date</th>
              <th>Last Login</th>
              <th>Credentialed</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <td><a href="{% url 'public_profile' user.username %}">{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.join_date }}</td>
              <td>{{ user.last_login|date }}</td>
              <td>{{ user.profile.is_credentialed }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
