<div id="searchitems">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Email</th>
          <th>Application Date</th>
          <th>Approval Date</th>
          <th>Approved By</th>
          <th>View Details</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
      {% for application in applications %}
        <tr>
        {% if application.is_legacy %}
          {% with user=application.migrated_user %}
            <td><a href="{% url 'user_management' user.username %}" target="_blank">{{ user.get_full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.credential_datetime|date }}</td>
            <td>Legacy</td>
            <td>Legacy</td>
            <td>Legacy</td>
            <td>
              <form action="" method="post">
              {% csrf_token %}
                <button class="btn btn-danger" name="remove_credentialing" value="{{ application.email }}" type="submit">
                  Revoke
                </button>
              </form>
            </td>
          {% endwith %}
        {% else %}
          {% with user=application.user %}
            <td><a href="{% url 'user_management' user.username %}" target="_blank">{{ user.get_full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ application.application_datetime|date }}</td>
            <td>{{ application.decision_datetime|date }}</td>
            <td>{{ application.responder.get_full_name }}</td>
            <td><a href="{% url 'view_credential_application' application.slug %}" target="_blank">View</a></td>
            <td>
              <form action="" method="post">
              {% csrf_token %}
                <button class="btn btn-danger" name="remove_credentialing" value="{{ application.id }}" type="submit">
                  Revoke
                </button>
              </form>
            </td>
          {% endwith %}
        {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "console/pagination.html" with pagination=applications %}
</div>