<div id="searchitems">
<table class="table table-bordered">
    <thead>
        <tr>
        <th>User</th>
        <th>Email</th>
        <th>Application Date</th>
        <th>Ref. Contact Date</th>
        <th>Comment</th>
        <th>View Details</th>
        <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        {% for application in p_applications %}
        <tr>
        {% with user=application.user %}
            <td><a href="{% url 'user_management' user.username %}" target="_blank">{{ user.get_full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ application.application_datetime|date }}</td>
            <td>{{ application.reference_contact_datetime|date }}</td>
            <td>{{ application.responder_comments }}</td>
            <td><a href="{% url 'view_credential_application' application.slug %}" target="_blank">View</a></td>
            <td>
                {% if application.reference_contact_datetime and not application.credential_review %}
                    <button class="btn btn-success" name="process_credentialing" value="{{ application.id }}" onclick="location.href='{% url 'complete_credential_applications' %}'" type="submit">
                        Process
                    </button>
                {% else %}
                    <button class="btn btn-success" name="process_credentialing" value="{{ application.id }}" onclick="location.href='{% url 'process_credential_application' application.slug %}'" type="submit">
                        Process
                    </button>
                {% endif %}
            </td>
        {% endwith %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "console/pagination.html" with pagination=p_applications %}
</div>
