{% extends "console/base_console.html" %}

{% block title %}{{ SITE_NAME }} Credentialed Users{% endblock %}

{% block content %}
 <div class="card mb-3">
    <div class="card-header">
      {{ SITE_NAME }} Credentialed Users <span class="badge badge-pill badge-info">{{ users|length }}</span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
              <th>Join Date</th>
              <th>Last Login</th>
              <th>Credential Date</th>
              <th>View Info</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <td><a href="{% url 'user_management' user.username %}">{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.join_date }}</td>
              <td>{{ user.last_login|date }}</td>
              <td>{{ user.credential_datetime }}</td>
              <td><a href="{% url 'credentialed_user_info' user.username %}">View</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}
