{% extends "console/base_console.html" %}

{% block title %}Credential Applications{% endblock %}

{% load console_templatetags %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="true">Awaiting Review {{ review_applications|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference" role="tab" aria-controls="reference" aria-selected="false">Awaiting Reference {{ reference_applications|task_count_badge|safe }}</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    {# Awaiting editor assignment #}
    <div class="tab-content">
      {# Awaiting decision #}
      <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
        {% if review_applications %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Application Date</th>
                  <th>Process Application</th>
                </tr>
              </thead>
              <tbody>
              {% for application in review_applications %}
                <tr>
                {% with user=application.user %}
                  <td><a href="{% url 'public_profile' user.username %}">{{ user }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ application.application_datetime|date }}</td>
                  <td><a href="{% url 'process_credential_application' user.username %}">Process</a></td>
                {% endwith %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Awaiting reference response #}
      <div class="tab-pane fade" id="reference" role="tabpanel" aria-labelledby="reference-tab">
        {% if reference_applications %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Application Date</th>
                  <th>View Application</th>
                </tr>
              </thead>
              <tbody>
              {% for application in review_applications %}
                <tr>
                {% with user=application.user %}
                  <td><a href="{% url 'public_profile' user.username %}">{{ user }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ application.application_datetime|date }}</td>
                  <td>View</td>
                {% endwith %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
