{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Credential Processing{% endblock %}

{% load console_templatetags %}


{% block local_js_top %}
<script src="{% static 'custom/js/sort-table.js' %}"></script>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">ID Check {{ personal_applications|task_count_badge|safe }}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference" role="tab" aria-controls="reference" aria-selected="false">Reference Check {{ reference_applications|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="response-tab" data-toggle="tab" href="#response" role="tab" aria-controls="response" aria-selected="false">Awaiting Reference Response {{ response_applications|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="final-tab" data-toggle="tab" href="#final" role="tab" aria-controls="final" aria-selected="false">Final Review {{ final_applications|task_count_badge|safe }}</a>
      </li>

    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      {# ID check #}
      <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
        {% if personal_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred" id="personalt">
            <thead>
              <tr class="header">
                <th class="table-user" onclick="sortTable(0,'personalt')">User <i class="fas fa-sort" id="icon_0_personalt"></i></th>
                <th onclick="sortTable(1,'personalt')">Full Name <i class="fas fa-sort" id="icon_1_personalt"></i></th>
                <th onclick="sortTable(2,'personalt')">Email <i class="fas fa-sort" id="icon_2_personalt"></i></th>
                <th onclick="sortTable(3,'personalt')">Reference Email <i class="fas fa-sort" id="icon_3_personalt"></i></th>
                <th class="table-elapsed" onclick="sortTable(4,'personalt')">Application <i class="fas fa-sort" id="icon_4_personalt"></i></th>
                <th>Status </th>
                <th class="table-process">Process </th>
              </tr>
            </thead>
            <tbody>  
            {% for application in personal_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td><a href="{% url 'user_management' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                <td>{{ application.application_datetime|date }}</td>
                <td><i class="traffic-circle traffic-{{ application.get_traffic_status }}"></i></td>
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Reference check #}
      <div class="tab-pane fade" id="reference" role="tabpanel" aria-labelledby="reference-tab">
        {% if reference_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred" id="referencet">
            <thead>
              <tr class="header">
                <th class="table-user" onclick="sortTable(0,'referencet')">User <i class="fas fa-sort" id="icon_0_referencet"></i></th>
                <th onclick="sortTable(1,'referencet')">Full Name <i class="fas fa-sort" id="icon_1_referencet"></i></th>
                <th onclick="sortTable(2,'referencet')">Email <i class="fas fa-sort" id="icon_2_referencet"></i></th>
                <th onclick="sortTable(3,'referencet')">Reference Email <i class="fas fa-sort" id="icon_3_referencet"></i></th>
                <th class="table-elapsed" onclick="sortTable(4,'referencet')">Application <i class="fas fa-sort" id="icon_4_referencet"></i></th>
                <th>Reset Review</th>
                <th class="table-process">Process Application</th>
              </tr>
            </thead>
            <tbody>  
            {% for application in reference_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td><a href="{% url 'user_management' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                <td>{{ application.application_datetime|date }}</td>
                <td>
                  <form action="" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" name="reset_application" value="{{ application.slug }}" type="submit">Reset</button>
                  </form>
                </td>
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Awaiting Reference response #}
      <div class="tab-pane fade" id="response" role="tabpanel" aria-labelledby="response-tab">
        {% if response_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred" id="responset">
            <thead>
              <tr class="header">
                <th class="table-user" onclick="sortTable(0,'responset')">User <i class="fas fa-sort" id="icon_0_responset"></i></th>
                <th onclick="sortTable(1,'responset')">Full Name <i class="fas fa-sort" id="icon_1_responset"></i></th>
                <th onclick="sortTable(2,'responset')">Email <i class="fas fa-sort" id="icon_2_responset"></i></th>
                <th onclick="sortTable(3,'responset')">Reference Email <i class="fas fa-sort" id="icon_3_responset"></i></th>
                <th>Reference Contact</th>
                <th>Reference Verification</th>
                <th class="table-elapsed" onclick="sortTable(6,'responset')">Application <i class="fas fa-sort" id="icon_6_responset"></i></th>
                <th class="table-process">Process Application</th>
              </tr>
            </thead>
            <tbody>  
            {% for application in response_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td><a href="{% url 'user_management' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                <td>{{ application.reference_contact_datetime|date }}</td>
                <td>{{ application.reference_response_datetime|date }}</td>
                <td>{{ application.application_datetime|date }}</td>
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Final review #}
      <div class="tab-pane fade" id="final" role="tabpanel" aria-labelledby="final-tab">
        {% if final_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred" id="finalt">
            <thead>
              <tr class="header">
                <th class="table-user" onclick="sortTable(0,'finalt')">User <i class="fas fa-sort" id="icon_0_finalt"></i></th>
                <th onclick="sortTable(1,'finalt')">Full Name <i class="fas fa-sort" id="icon_1_finalt"></i></th>
                <th onclick="sortTable(2,'finalt')">Email <i class="fas fa-sort" id="icon_2_finalt"></i></th>
                <th onclick="sortTable(3,'finalt')">Reference Email <i class="fas fa-sort" id="icon_3_finalt"></i></th>
                <th>Reference Contact</th>
                <th>Reference Verification</th>
                <th class="table-elapsed" onclick="sortTable(6,'finalt')">Application <i class="fas fa-sort" id="icon_6_finalt"></i></th>
                <th class="table-process">Process Application</th>
              </tr>
            </thead>
            <tbody>  
            {% for application in final_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td><a href="{% url 'user_management' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                <td>{{ application.reference_contact_datetime|date }}</td>
                <td>{{ application.reference_response_datetime|date }}</td>
                <td>{{ application.application_datetime|date }}</td>
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}

