{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Credentialing metrics{% endblock %}

{% block content %}

<div class="card mb-3">
  <div class="card-header">
    Credentialing metrics
  </div>
  <div class="card-body">
    <div class="table-responsive">

      <table class="table table-bordered">
        <tr>
          <th>Year</th>
          <th>Total applications</th>
          <th>Total handled (accepted + rejected)</th>
          <th>Approved (%)</th>
          <th>Decision time (days, median)</th>
          <th>Time to contact reference (days, median)</th>
          <th>Reference response time (days, median)</th>
        </tr>
        {% for year, value in stats.items %}
          <tr>
            <td>{{ year }}</td>
            <td>{{ value.count }}</td>
            <td>{{ value.processed }}</td>
            <td>{{ value.approved }}</td>
            <td>{{ value.time_to_decision }}</td>
            <td>{{ value.time_to_ref }}</td>
            <td>{{ value.time_to_reply }}</td>
          </tr>
        {% endfor %}
      </table>

    </div>
  </div>
</div>

{% endblock %}
