{% extends "console/base_console.html" %}

{% block title %}Credential Processing{% endblock %}

{% load console_templatetags %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="initial-tab" data-toggle="tab" href="#initial" role="tab" aria-controls="initial" aria-selected="true">Initial Review {{ initial_applications|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="training-tab" data-toggle="tab" href="#training" role="tab" aria-controls="training" aria-selected="false">Training Check {{ training_applications|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="false">ID Check {{ personal_applications|task_count_badge|safe }}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference" role="tab" aria-controls="reference" aria-selected="false">Reference Check {{ reference_applications|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="response-tab" data-toggle="tab" href="#response" role="tab" aria-controls="response" aria-selected="false">Reference Response {{ response_applications|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="final-tab" data-toggle="tab" href="#final" role="tab" aria-controls="final" aria-selected="false">Final Review {{ final_applications|task_count_badge|safe }}</a>
      </li>

    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      {# Initial review #}
      <div class="tab-pane fade show active" id="initial" role="tabpanel" aria-labelledby="initial-tab">
        {% if initial_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred">
            <thead>
              <tr class="header">
                <th class="table-index">#</th>
                <th class="table-user">User</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Reference Email</th>
                <th class="table-elapsed">Time Elapsed</th>
                <th class="table-process">Process Application</th>
              </tr>
            </thead>
            <tbody>  
            {% for application in initial_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'user_management' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                {% if application.time_elapsed < 2 %}
                  <td>{{ application.time_elapsed }} day</td>
                {% else %}
                  <td>{{ application.time_elapsed }} days</td>
                {% endif %}
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Training check #}
      <div class="tab-pane fade" id="training" role="tabpanel" aria-labelledby="training-tab">
        {% if training_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred">
            <thead>
              <tr class="header">
                <th class="table-index">#</th>
                <th class="table-user">User</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Reference Email</th>
                <th class="table-elapsed">Time Elapsed</th>
                <th>Reset Application</th>
                <th class="table-process">Process Application</th>
              </tr>
            </thead>
            <tbody>  
            {% for application in training_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'public_profile' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                {% if application.time_elapsed < 2 %}
                  <td>{{ application.time_elapsed }} day</td>
                {% else %}
                  <td>{{ application.time_elapsed }} days</td>
                {% endif %}
                <td>
                  <form action="" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" name="reset_application" value="{{ application.slug }}" type="submit">Reset</button>
                  </form>
                </td>
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# ID check #}
      <div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
        {% if personal_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred">
            <thead>
              <tr class="header">
                <th class="table-index">#</th>
                <th class="table-user">User</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Reference Email</th>
                <th class="table-elapsed">Time Elapsed</th>
                <th>Reset Application</th>
                <th class="table-process">Process Application</th>
              </tr>
            </thead>
            <tbody>  
            {% for application in personal_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'public_profile' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                {% if application.time_elapsed < 2 %}
                  <td>{{ application.time_elapsed }} day</td>
                {% else %}
                  <td>{{ application.time_elapsed }} days</td>
                {% endif %}
                <td>
                  <form action="" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" name="reset_application" value="{{ application.slug }}" type="submit">Reset</button>
                  </form>
                </td>
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Reference check #}
      <div class="tab-pane fade" id="reference" role="tabpanel" aria-labelledby="reference-tab">
        {% if reference_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred">
            <thead>
              <tr class="header">
                <th class="table-index">#</th>
                <th class="table-user">User</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Reference Email</th>
                <th class="table-elapsed">Time Elapsed</th>
                <th>Reset Application</th>
                <th class="table-process">Process Application</th>
              </tr>
            </thead>
            <tbody>  
            {% for application in reference_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'public_profile' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                {% if application.time_elapsed < 2 %}
                  <td>{{ application.time_elapsed }} day</td>
                {% else %}
                  <td>{{ application.time_elapsed }} days</td>
                {% endif %}
                <td>
                  <form action="" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" name="reset_application" value="{{ application.slug }}" type="submit">Reset</button>
                  </form>
                </td>
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Reference response #}
      <div class="tab-pane fade" id="response" role="tabpanel" aria-labelledby="response-tab">
        {% if response_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred">
            <thead>
              <tr class="header">
                <th class="table-index">#</th>
                <th class="table-user">User</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Reference Email</th>
                <th>Reference Contact</th>
                <th>Reference Verification</th>
                <th class="table-elapsed">Time Elapsed</th>
                <th class="table-process">Process Application</th>
              </tr>
            </thead>
            <tbody>  
            {% for application in response_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'public_profile' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                <td>{{ application.reference_contact_datetime|date }}</td>
                <td>{{ application.reference_response_datetime|date }}</td>
                {% if application.time_elapsed < 2 %}
                  <td>{{ application.time_elapsed }} day</td>
                {% else %}
                  <td>{{ application.time_elapsed }} days</td>
                {% endif %}
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Final review #}
      <div class="tab-pane fade" id="final" role="tabpanel" aria-labelledby="final-tab">
        {% if final_applications %}
        <div class="table-responsive">
          <table class="table table-bordered table-cred">
            <thead>
              <tr class="header">
                <th class="table-index">#</th>
                <th class="table-user">User</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Reference Email</th>
                <th>Reference Contact</th>
                <th>Reference Verification</th>
                <th class="table-elapsed">Time Elapsed</th>
                <th class="table-process">Process Application</th>
              </tr>
            </thead>
            <tbody>  
            {% for application in final_applications %}
              <tr class="header" id='application_{{application.user.email}}'>
              {% with user=application.user %}
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'public_profile' user.username %}">{{ user }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ application.reference_email }}</td>
                <td>{{ application.reference_contact_datetime|date }}</td>
                <td>{{ application.reference_response_datetime|date }}</td>
                {% if application.time_elapsed < 2 %}
                  <td>{{ application.time_elapsed }} day</td>
                {% else %}
                  <td>{{ application.time_elapsed }} days</td>
                {% endif %}
                <td>
                  <form action="{% url 'process_credential_application' application.slug %}">
                    <input class="btn btn-success" type="submit" value="Process"/>
                  </form>
                </td>
              {% endwith %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}

