{% extends "console/base_console.html" %}

{% load static %}

{% block title %}{{ SITE_NAME }} - DUAs{% endblock %}

{% block content %}
  <div class="card mb-3">
    <div class="card-header">
        {{ dua.name }} - edit
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'dua_detail' dua.pk %}">
            {% include "inline_form_snippet.html" with form=dua_form %}
          <button class="btn btn-primary btn-fixed" type="submit">Save</button>
        </form>
    </div>
  </div>
{% endblock %}

{% block local_js_bottom %}
  <script src="{% static 'custom/js/resize-ck.js' %}"></script>
{% endblock %}
