{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Edit Submission - {{ project }}{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/submission-timeline.css' %}">
{% endblock %}

{% block local_js_top %}
<script src="{% static 'custom/js/copy-to-clipboard.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Edit Project: {{ project }}</h1>
<hr>
{% include "console/submission_info_card.html" %}
<div class="card mb-3">
  <div class="card-header">
    Editor Response
  </div>
  <div class="card-body">
    <form action="" method="post" class="form-signin">
      {% csrf_token %}
      {% include "form_snippet.html" with form=edit_submission_form %}
      <button class="btn btn-primary btn-fixed" name="submit_response" type="submit">Submit Response</button>
    </form>
  </div>
</div>
{% endblock %}

{% block local_js_bottom %}
<script src="{% static 'custom/js/enable-popover.js' %}"></script>
{% if project.editor == user %}
<script>
  function set_editor_text(){
    $('#project_editor').text($( "#id_editor option:selected" ).text());
  }
</script>
{% endif %}
{% endblock %}
