{% extends "console/base_console.html" %}

{% block title %}Editing Submissions{% endblock %}

{% block content %}
{# Awaiting editor decision #}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-glasses"></i> Awaiting Your Decision <span class="badge badge-pill badge-{% if a_projects %}danger{% else %}success{% endif %}">{{ a_projects|length }}</span>
  </div>
  <div class="card-body">
    <p>You are assigned to edit the following projects.</p>
    {% if a_projects %}
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Project</th>
              <th>Submitting Author</th>
              <th>Submission Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% for project in a_projects %}
            <tr>
              <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
              <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</a></td>
              <td>{{ project.submission_datetime|date }}</td>
              <td><a class="btn btn-primary btn-sm" href="{% url 'edit_submission' project.slug %}" role="button">Edit Project</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
    {% endif %}
  </div>
</div>

{# Awaiting revisions #}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-clock"></i> Awaiting Author Revisions <span class="badge badge-pill badge-{% if b_projects %}danger{% else %}success{% endif %}">{{ b_projects|length }}</span>
  </div>
  <div class="card-body">
    <p>You have instructed the following projects to be revised by their authors.</p>
    {% if b_projects %}
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Project</th>
              <th>Submitting Author</th>
              <th>Submission Date</th>
              <th>Revision Request Date</th>
            </tr>
          </thead>
          <tbody>
          {% for project in b_projects %}
            <tr>
              <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
              <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</a></td>
              <td>{{ submission.submission_datetime|date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
    {% endif %}
  </div>
</div>

{# Awaiting editor copyedit #}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-glasses"></i> Awaiting Your Copyedits <span class="badge badge-pill badge-{% if c_projects %}danger{% else %}success{% endif %}">{{ c_projects|length }}</span>
  </div>
  <div class="card-body">
    <p>You have accepted these projects for publication. Make any copyedits necessary to ensure their quality.</p>
    {% if a_projects %}
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Project</th>
              <th>Submitting Author</th>
              <th>Submission Date</th>
              <th>Editor Approval Date</th>
            </tr>
          </thead>
          <tbody>
          {% for project in c_projects %}
            <tr>
              <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
              <td><a href="{% url 'public_profile' project.submitting_author.username %}">{{ project.submitting_author }}</a></td>
              <td>{{ submission.submission_datetime|date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
    {% endif %}
  </div>
</div>

{# Awaiting author approval #}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-clock"></i> Awaiting Author Approval <span class="badge badge-pill badge-{% if d_projects %}danger{% else %}success{% endif %}">{{ d_projects|length }}</span>
  </div>
  <div class="card-body">
    <p>You have copyedited these projects. Awaiting all authors to approve the final project.</p>
    {% if d_projects %}
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Project</th>
              <th>Submitting Author</th>
              <th>Submission Date</th>
              <th>Editor Approval Date</th>
            </tr>
          </thead>
          <tbody>
          {% for project in d_projects %}
            <tr>
              <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
              <td><a href="{% url 'public_profile' project.submitting_author.username %}">{{ project.submitting_author }}</a></td>
              <td>{{ submission.submission_datetime|date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
    {% endif %}
  </div>
</div>

{# Awaiting editor publish #}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-glasses"></i> Awaiting Your Publishing <span class="badge badge-pill badge-{% if e_projects %}danger{% else %}success{% endif %}">{{ e_projects|length }}</span>
  </div>
  <div class="card-body">
    <p>All authors have accepted the project for publication. You may publish them.</p>
    {% if a_projects %}
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Project</th>
              <th>Submitting Author</th>
              <th>Submission Date</th>
              <th>Editor Approval Date</th>
              <th>Authors Approval Date</th>
            </tr>
          </thead>
          <tbody>
          {% for project in e_projects %}
            <tr>
              <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
              <td><a href="{% url 'public_profile' project.submitting_author.username %}">{{ project.submitting_author }}</a></td>
              <td>{{ submission.submission_datetime|date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
