{% extends "console/base_console.html" %}

{% block title %}Editing Submissions{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
      <i class="fa fa-tachometer-alt"></i> Editing Submissions
  </div>
  <div class="card-body">
    <p>You are assigned to edit the following submissions.</p>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Project</th>
            <th>Submitting Author</th>
            <th>Submission Status <a data-toggle="modal" data-target="#submissionStatusModal" href="#"><i class="fas fa-question-circle"></i></a>
            <th>Submission Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for submission in submissions %}
          <td><a href="{% url 'project_overview' submission.project.id %}">{{ submission.project }}</a></td>
          <td> <a href="{% url 'public_profile' submission.project.submitting_author.username %}">{{ submission.project.submitting_author.username }}</a> - {{ submission.project.submitting_author.email }}</td>
          <td>{{ submission.submission_status }}</td>
          <td>{{ submission.submission_datetime|date }}</td>
          <td>{% if submission.submission_status == 0 %}<a class="btn btn-primary btn-sm" href="{% url 'edit_submission' submission.id %}" role="button">Edit Submission</a>{% else %}Awaiting author action{% endif %}</td>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include "console/submission_status_modal.html" %}

{% endblock %}
