{% extends "console/base_console.html" %}

{% block title %}Editor Home{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
      <i class="fa fa-table"></i> Your Editing Project Submissions
  </div>
  <div class="card-body">
    <p>You are assigned to edit the following projects</p>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Submission ID</th>
            <th>Project</th>
            <th>Submission Status</th>
            <th>Submission Date</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
        {% for submission in submissions %}
            <td>{{ submission.id }}</td>
            <td><a href="{% url 'project_overview' submission.project.id %}">{{ submission.project }}</a></td>
            <td>{{ submission.submission_status }}</td>
            <td>{{ submission.submission_datetime|date }}</td>
            <td><a class="btn btn-primary btn-sm" href="{% url 'edit_submission' submission.id %}" role="button"><i class="fas fa-glasses"></i> Edit Submission</a></td>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
