{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Event management{% endblock %}

{% block content %}

    <div class="col-md-9 no-pd">
        <h1>{{ event.title }}</h1>
        <br/>
        <h3>Event Details</h3>
        <hr>
        <div class="row mb-1">
            <div class="col-md-3">
                Event Organizer:
            </div>
            <div class="col-md-9">
                <a href="{% url 'user_management' event.host.username %}"> {{ event.host.username }}</a>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-3">
                Category:
            </div>
            <div class="col-md-9">
                {{ event.category }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-3">
                Created on:
            </div>
            <div class="col-md-9">
                {{ event.added_datetime | date:"d M Y" }}
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-md-3">
                Start Date:
            </div>
            <div class="col-md-9">
                {{ event.start_date | date:"d M Y" }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-3">
                End Date:
            </div>
            <div class="col-md-9">
                {{ event.end_date | date:"d M Y" }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-3">
                Allowed Domains:
            </div>
            <div class="col-md-9">
                {% if event.allowed_domains %}
                    {{ event.allowed_domains }}
                {% else %}

                {% endif %}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-3">
                Total participants:
            </div>
            <div class="col-md-9">
                <div class="row mb-1">
                    <div class="col-md-1">
                        {{ event.participants.count }}
                    </div>
                    <div class="col-md-11">
                        <button class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#view-participants">View participants
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mb-1">
            <div class="col-md-3">
                Description:
            </div>
            <div class="col-md-9">
                {{ event.description }}
            </div>
        </div>

        {% if profile.location %}
            <div class="row mb-1">
                <div class="col-md-3">
                    Location:
                </div>
                <div class="col-md-9">
                    {{ profile.location }}
                </div>
            </div>
        {% endif %}

        {% for status, group in emails.items %}
            <div class="row mb-1">
                <div class="col-md-3">
                    Email ({{ status }}):
                </div>
                <div class="col-md-9">
                    {% for email in group %}
                        {{ email|join:", " }}
                    {% empty %}
                        N/A
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        {% if profile.website %}
            <div class="row mb-1">
                <div class="col-md-3">
                    Website:
                </div>
                <div class="col-md-9">
                    <a href="{{ profile.website }}" rel="nofollow">{{ profile.website }}</a>
                </div>
            </div>
        {% endif %}

    </div>


    <div class="modal fade" id="view-participants" tabindex="-1" role="dialog"
         aria-labelledby="view-participants-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Participants</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% include 'events/event_entries.html' %}
            </div>
        </div>
    </div>
{% endblock %}
