{% extends "console/base_console.html" %}
{% load static %}
{% block title %}Event Management{% endblock %}
{% block content %}
<h1>{{ event.title }}</h1>
<hr />
<div class="card mb-3">
  <div class="card-header">Event Details</div>
  <div class="card-body">
    <div class="row mb-1">
      <div class="col-md-3">Event Organizer:</div>
      <div class="col-md-9">
        <a href="{% url 'user_management' event.host.username %}">{{ event.host.username }}</a>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-3">Category:</div>
      <div class="col-md-9">{{ event.category }}</div>
    </div>
    <div class="row mb-1">
      <div class="col-md-3">Created on:</div>
      <div class="col-md-9">{{ event.added_datetime | date:"d M Y" }}</div>
    </div>
    <div class="row mb-1">
      <div class="col-md-3">Start Date:</div>
      <div class="col-md-9">{{ event.start_date | date:"d M Y" }}</div>
    </div>
    <div class="row mb-1">
      <div class="col-md-3">End Date:</div>
      <div class="col-md-9">{{ event.end_date | date:"d M Y" }}</div>
    </div>
    <div class="row mb-1">
      <div class="col-md-3">Allowed Domains:</div>
      <div class="col-md-9">
        {% if event.allowed_domains %}
        {{ event.allowed_domains }}
        {% else %}
        {% endif %}
      </div>
    </div>

    {% for info in applicant_info %}
    <div class="row mb-1">
      <div class="col-md-3">{{ info.title }}</div>
      <div class="col-md-9">
        <div class="row mb-1">
          <div class="col-md-1">{{ info.count }}</div>
          <div class="col-md-11">
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#{{ info.id }}">View</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="row mb-1">
      <div class="col-md-3">Description:</div>
      <div class="col-md-9">{{ event.description }}</div>
    </div>

  </div>
</div>
{% include 'console/event_management_manage_dataset.html' %}

{% for info in applicant_info %}
<div class="modal fade" id="{{ info.id }}" tabindex="-1" role="dialog" aria-labelledby="view-{{ info.id }}-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ info.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% include 'events/event_applications.html' %}
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}

{% block local_js_bottom %}
<script src="{% static 'custom/js/resize-ck.js' %}"></script>
<script>
  $(document).ready(function () {
    $('.manage-cohost').submit(function (e) {
      e.preventDefault();
      let $form = $(this);
      disableSubmitButton($form);

      const formData = getFormData(e, $form);
      const url = e.target.action;

      if (formData['action'] == '{{ cohostStatus.MAKE_COHOST }}') {
        var method = 'PUT';
      } else if (formData['action'] == '{{ cohostStatus.REMOVE_COHOST }}') {
        var method = 'DELETE';
      }

      $.ajax({
        url: url,
        type: method,
        contentType: 'application/json',
        data: formData,
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRFToken', formData.csrfmiddlewaretoken);
        },
        success: function (data) {
          handleSuccess($form, data);
        },
        error: function (data) {
          handleError($form, data);
          console.log(data);
        }
      });
    });
  });

  function disableSubmitButton($form) {
    $form.find('input[type="submit"]').prop('disabled', true);
  }

  function enableSubmitButton($form) {
    $form.find('input[type="submit"]').prop('disabled', false);
  }

  function getFormData(e, $form) {
    const participantId = e.target.participant.value;
    const eventSlug = e.target.event.value;
    const submitValue = $form.find('input[type="submit"]').val();
    const action = $form.find('input[type="submit"]').attr('data-action');
    const csrftoken = e.target.csrfmiddlewaretoken.value;

    console.log(e.target);

    return {
      'participant_id': participantId,
      'event_slug': eventSlug,
      'csrfmiddlewaretoken': csrftoken,
      'action': action,
      'submit': submitValue
    };
  }

  function handleSuccess($form, data) {
    enableSubmitButton($form);

    let current_action = $form.find('input[type="submit"]').attr('data-action');
    const make_cohost_action = '{{ cohostStatus.MAKE_COHOST }}';
    const remove_cohost_action = '{{ cohostStatus.REMOVE_COHOST }}';

    if (current_action == make_cohost_action) {
      updateButtonForRemoveCohost($form, remove_cohost_action);
    } else if (current_action == remove_cohost_action) {
      updateButtonForMakeCohost($form, make_cohost_action);
    }
  }

  function handleError($form, data) {
    enableSubmitButton($form);
    const errorMessage = data.responseJSON.message;
    alert(errorMessage);
  }

  function updateButtonForRemoveCohost($form, remove_cohost_action) {
    $form.find('input[type="submit"]').attr('data-action', remove_cohost_action);
    $form.find('input[type="submit"]').val('Remove cohost');
    $form.find('input[type="submit"]').removeClass('btn-primary');
    $form.find('input[type="submit"]').addClass('btn-danger');
  }

  function updateButtonForMakeCohost($form, make_cohost_action) {
    $form.find('input[type="submit"]').attr('data-action', make_cohost_action);
    $form.find('input[type="submit"]').val('Make cohost');
    $form.find('input[type="submit"]').removeClass('btn-danger');
    $form.find('input[type="submit"]').addClass('btn-success');
  }
</script>
{% endblock %}