{% extends "console/base_console.html" %}

{% load static %}

{% block title %}{{ SITE_NAME }} - Event Agreements{% endblock %}

{% block content %}
  <div class="card mb-3">
    <div class="card-header">
      {{ event_agreement.name }} - new version
    </div>
    <div class="card-body">
      <form method="post" action="{% url 'event_agreement_new_version' event_agreement.pk %}">
        {% include "project/content_inline_form_snippet.html" with form=event_agreement_form %}
        <button class="btn btn-primary btn-fixed" type="submit">Create</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block local_js_bottom %}
  <script src="{% static 'custom/js/resize-ck.js' %}"></script>
  <script src="{% static 'custom/js/enable-popover.js' %}"></script>
{% endblock %}
