{% extends "console/base_console.html" %}

{% block title %}Google Cloud{% endblock %}
{% block local_js_top %}
<script src="https://apis.google.com/js/api.js"></script>
<script>
  /**
   * Sample JavaScript code for directory.members.insert
   * See instructions for running APIs Explorer code samples locally:
   * https://developers.google.com/explorer-help/guides/code_samples#javascript
   */

  // function authenticate() {
  //   return gapi.auth2.getAuthInstance()
  //       .signIn({scope: "https://www.googleapis.com/auth/admin.directory.group https://www.googleapis.com/auth/admin.directory.group.member"})
  //       .then(function() { console.log("Sign-in successful"); },
  //             function(err) { console.error("Error signing in", err); });
  // }
  // function loadClient() {
  //   return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/admin/directory_v1/rest")
  //       .then(function() { console.log("GAPI client loaded for API"); },
  //             function(err) { console.error("Error loading GAPI client for API", err); });
  // }
  // function Manage_Group(group, email) {
  //   return gapi.client.directory.members.insert({
  //     if(group != false){
  //     "groupKey": group,
  //     }
  //     "resource": {
  //       "email": email
  //     }
  //   }).then(function(response) {
  //               // Handle the results here (response.result has the parsed body).
  //               console.log("Response", response);
  //             },
  //             function(err) { console.error("Execute error", err); });
  // }
  // gapi.load("client:auth2", function() {
  //   gapi.auth2.init({client_id: "569883598760-m64u8mgjebvmprq1finirnp25mrdn4sp.apps.googleusercontent.com"});
  // });

</script>
{% endblock %}

{% block content %}
 <div class="card mb-3">
  <div class="card-header">
    <p>Empty page</p>
  </div>
  <div class="card-body">
    <div class="table-responsive">
    </div>
  </div>
</div>
{% endblock %}
