{% extends "console/base_console.html" %}

{% block title %}Credentialing Application Email Notification{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    Application was marked as {{ application.get_status_display }} -- ({{ application.user.get_full_name }})
  </div>
  <div class="card-body">
    <p><a class='btn btn-primary btn-lg' href="{{mailto}}">Generate applicant email.</a></p>
    <br>
    <p>Return to <a href="{% url 'complete_credential_applications' %}">manage the applications.</p>
  </div>
</div>
{% endblock %}