<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Contact reference email</title>
    {% include "base_css.html" %}
  </head>
  <body>
    <div class="container-fluid">
      <p>Contact reference</p>
      <p><a class='btn btn-primary' href="{% url 'complete_credential_applications' %}">Back to manage applications</a></p>
      <p> {{ application.get_full_name }} -- {{ application.user.email }}</p>
      <p><a href="{{mailto}}">Contact reference</a></p>
    </div>
</body>
</html>
