<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Contact reference email</title>
    {% include "base_css.html" %}
    <style>
      a { text-decoration: underline; }
      body { padding: 2rem; }
    </style>
  </head>
  <body>
    <p>Application was marked as {{ application.get_status_display }} -- ({{ application.get_full_name }})</p>
    <p style="font-size: .9rem;"><a class="" href="{% url 'complete_credential_applications' %}">Back to pending applications</a></p>
  </body>
</html>
