{% extends "console/base_console.html" %}

{% load static %}

{% load project_templatetags %}

{% block title %}Manage Project - {{ project }}{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/submission-timeline.css' %}">
{% endblock %}

{% block local_js_top %}
<script src="{% static 'custom/js/copy-to-clipboard.js' %}"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script>
    function authenticate() {
    return gapi.auth2.getAuthInstance()
        .signIn({scope: "https://www.googleapis.com/auth/admin.directory.group"})
        .then(function() { console.log("Sign-in successful"); },
              function(err) { console.error("Error signing in", err); });
  }
  function loadClient() {
    return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/admin/directory_v1/rest")
        .then(function() { console.log("GAPI client loaded for API"); },
              function(err) { console.error("Error loading GAPI client for API", err); });
  }
  // Make sure the client is loaded and sign-in is complete before calling this method.
  function execute(email) {
    resource = '{"resource": {"email": "'+email+'"} }'
    try {
      return gapi.client.directory.groups.insert(JSON.parse(resource))
        .then(function(response) { console.log("Response", response);
          if (response.status == 200){
            $.ajax({
              url: "{% url 'manage_gcp' project.slug %}",
              data: {
                "group": response.result['email']
              },
              success: function(result){
                if (result.status == 'done'){
                  alert("The group "+response.result['email']+" was create successfully.")
                  location.reload();
                }
                else{
                  console.log(result);
                }
              }
            });
          }
          else{
            alert("There was an error creating the group.")
          }
      },
        function(err) { console.log(err); 
        alert("There was an error, '"+JSON.stringify(err.result.error.message)+"'")
      });
    }
    catch (err){
        alert("There was an error, please authenticate with a physionet.org account");
        console.error("Execute error", err)
    }
  }
  gapi.load("client:auth2", function() {
    gapi.auth2.init({client_id: "569883598760-m64u8mgjebvmprq1finirnp25mrdn4sp.apps.googleusercontent.com"});

  });
</script>
{% endblock %}

{% block content %}
<h1>Manage Project - {{ project }}</h1>
<hr>
<div class="card mb-3">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Project Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="false">Submission Timeline</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <p>{{ project.resource_type|resource_badge|safe }} {{ project.access_policy|access_badge|safe }}</p>
        <h4 class="card-title"><a href="{% url 'published_project' project.slug project.version %}" target="_blank">{{ project.title }}</a></h4>
        <p class="card-text">
          Authors: {% for author in authors %}{{ author|show_all_author_info|safe }} {% endfor %}<br>
          Created: {{ project.creation_datetime|date }}. Submitted: {{ project.submission_datetime|date }}. Published: {{ project.publish_datetime|date }}<br>
          Storage: {{ storage_info.readable_main_used }} uncompressed, {{ storage_info.readable_compressed_used }} compressed, {{ storage_info.readable_used }} total, {{ storage_info.readable_allowance }} allowance.<br>
          Version: {{ project.version }}{% if project.is_latest_version %} (latest){% else %}<br>Latest Published Version: <a href="{% url 'published_project' latest_version.slug latest_version.version %}" target="_blank">{{ latest_version.version }}</a>{% endif %}
        </p>
        <p>
          <button class="btn btn-primary" onclick="copyToClipboard('{{ author_emails }}')">Copy Author Emails</button>
        </p>
      </div>
      <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
        {% include "project/static_submission_timeline.html" %}
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    Manage Content
  </div>
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      {% include "form_snippet.html" with form=doi_form %}
      <button class="btn btn-primary btn-fixed" name="set_doi" type="submit">Set DOI</button>
    </form>
    <br>
    <h2>Special Files</h2>
    <hr>
    <form action="" method="post">
      {% csrf_token %}
      <button class="btn btn-primary btn-fixed" name="make_checksum_file" type="submit">Make Checksum File</button>
      <button class="btn btn-primary btn-fixed" name="make_zip" type="submit">Make Zip</button>
    </form>
    {% if project.access_policy > 0 and not project.gcp.gcp_group or not project.gcp.gcp_bucket or not project.gcp.sent_files %}
    <br>
    <h3>Google Cloud</h3>
    <hr>
      {% if project.access_policy > 0 and not project.gcp.gcp_group %}
        <p>In order to do any task google cloud related, you need to authenticate with a "GCP Organization Account".</p>
        <button onclick="authenticate().then(loadClient)" class="btn btn-primary">Authenticate </button><br><br>
        <p>This is a project that contains some kind of security, credential or DUA. Because of this it needs a group to control the access.</p>
        <button onclick="execute('{{project.slug}}-noreply@physionet.org')" class="btn btn-primary">Create access group</button><br><br>
      {% endif %}
      {{project.gcp.gcp_bucket}}
      {% if not project.gcp.gcp_bucket %}
        <p>Create the GCP bucket to store all of the information of this project.</p>
        <form action="" method="post">
          {% csrf_token %}
          <button class="btn btn-primary" name="bucket" value='{{project.slug}}' type="submit">Create GCP bucket </button><br><br>
        </form>
      {% endif %}
      {% if not project.gcp.sent_files %}
      <p>To send the files of this project to GCP, please log into the server and run the following command. After the files are sent, click the button.</p>
      <code>gsutil -m cp -r -L /data/transfers/gcloud/{{project.slug}}.log {{project.file_root}}/{{project.version}}/ gs://physionet-data-{{project.slug|lower}}/{{project.version}}/</code>

        <form action="" method="post">
          {% csrf_token %}
          <button class="btn btn-primary" name="send_files" value='{{project.slug}}' style='margin-top: 1em' type="submit">Send files to bucket </button><br>
        </form>
      {% endif %}
      {% if project.gcp.sent_files and project.gcp.gcp_bucket %}
        <p>The files have been sent to GCP. The bucket name is: {{project.gcp.sent_files}}</p>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}

{% block local_js_bottom %}
<script type="text/javascript" src="{% static 'custom/js/enable-popover.js' %}"></script>
{% endblock %}
