{% extends "console/base_console.html" %}

{% load static %}

{% block title %}News Items{% endblock %}

{% block local_js_top %}
<script src="{% static 'custom/js/cookie.js' %}"></script>
<script src="{% static 'custom/js/clear-autosave.js' %}"></script>
{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/pagination.css' %}">
{% endblock %}

{% block content %}
 <script src="{% static 'custom/js/cookie.js' %}"></script>
 <script src="{% static 'project/js/dynamic-formset.js' %}"></script>
 <script src="{% static 'console/js/search-console.js' %}"></script>

 <div class="card mb-3">
  <div class="card-header">
    News Items <span class="badge badge-pill badge-info">{{ news_items.paginator.count }}</span>
  </div>
  <div class="card-body">
    <p><a href="{% url 'news_add' %}" class="btn btn-lg btn-success">Add News Item</a></p>
    <div class="table-responsive">
        
      <input type="search" oninput="search('{% url "news_search" %}', value);" placeholder="Search...">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Publish Datetime</th>
            <th>External URL</th>
            <th>Banner</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody id="searchitems">
          {% include "console/news_list.html" %}
        </tbody>
      </table>
      {% include "console/pagination.html" with pagination=news_items %}
    </div>
  </div>
</div>
{% endblock %}
