{% for news in news_items %}
  <tr>
    <td>{% if news.url %}<a href="{{ news.url }}" target="_blank">{% endif %}{{ news.title }}{% if news.url %}{% endif %}</a></td>
    <td>{{ news.publish_datetime }}</td>
	<td>{% if news.url %}<a href='{{ news.url }}'>{{ news.url }}</a>{% else %}None{% endif %}</td>
    <td>{% if news.front_page_banner %}<span class="fa fa-check"><span class="visually-hidden">&#10004;</span></span>{% endif %}</td>
    <td><a href="{% url 'news_edit' news.slug %}" class="btn btn-sm btn-primary" role="button">Edit</a></td>
  </tr>
{% endfor %}
