<div id="searchitems">
  <table class="table table-bordered">
      <thead>
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>Application Date</th>
          <th>Ref. Contact Date</th>
          <th>Decision Date</th>
          <th>Decision</th>
          <th>Comment</th>
          <th>Reviewer</th>
          <th>View Details</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        {% for application in u_applications %}
          <tr>
          {% with user=application.user %}
            <td><a href="{% url 'user_management' user.username %}" target="_blank">{{ user.get_full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ application.application_datetime|date }}</td>
            <td>{{ application.reference_contact_datetime|date }}</td>
            <td>{{ application.decision_datetime|date }}</td>
            <td>{{ application.get_status_display }}</td>
            <td>{{ application.responder_comments }}</td>
            <td>{{ application.responder }}</td>
            <td><a href="{% url 'view_credential_application' application.slug %}" target="_blank">View</a></td>
            <td>
              {% if application.user.is_credentialed %}
              <p>User is credentialed</p>
              {% elif application.is_latest_by_user %}
                <form action="" method="post">
                {% csrf_token %}
                  <button class="btn btn-success" name="manage_credentialing" value="{{ application.id }}" type="submit">
                    Reactivate
                  </button>
                </form>
              {% else %}
                <p>This is not the latest application</p>
              {% endif %}
            </td>
          {% endwith %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
  {% include "console/pagination.html" with pagination=u_applications %}
</div>