{% for application in applications %}
  <tr>
  {% if application.is_legacy %}
    {% with user=application.migrated_user %}
      <td><a href="{% url 'public_profile' user.username %}">{{ user.get_full_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.credential_datetime|date }}</td>
      <td>Legacy</td>
      <td>Legacy</td>
      <td>Legacy</td>
      <td>
        <form action="" method="post">
        {% csrf_token %}
          <button class="btn btn-danger" name="remove_credentialing" value="{{ application.email }}" type="submit">
            Remove Credentialing
          </button>
        </form>
      </td>
    {% endwith %}
  {% else %}
    {% with user=application.user %}
      <td><a href="{% url 'public_profile' user.username %}">{{ user.get_full_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ application.application_datetime|date }}</td>
      <td>{{ application.decision_datetime|date }}</td>
      <td>{{ application.responder.get_full_name }}</td>
      <td><a href="{% url 'view_credential_application' application.slug %}">View</a></td>
      <td>
        <form action="" method="post">
        {% csrf_token %}
          <button class="btn btn-danger" name="remove_credentialing" value="{{ application.id }}" type="submit">
            Remove Credentialing
          </button>
        </form>
      </td>
    {% endwith %}
  {% endif %}
  </tr>
{% endfor %}
