{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Credential Applications{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/pagination.css' %}">
{% endblock %}

{% load console_templatetags %}

{% block local_js_top %}
<script src="{% static 'custom/js/cookie.js' %}"></script>
<script src="{% static 'project/js/dynamic-formset.js' %}"></script>
<script src="{% static 'console/js/search-console.js' %}"></script>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        {% if "unsuccessful" not in request.path and "processing" not in request.path %}
          <a class="nav-link active" id="s-tab" href="{% url 'past_credential_applications' 'successful' %}" role="tab">
        {% else %}
          <a class="nav-link" id="s-tab" href="{% url 'past_credential_applications' 'successful' %}" role="tab">
        {% endif %}
        Successful Applications <span class="badge badge-pill badge-info">{{ applications.paginator.count }}</span></a>
      </li>
      <li class="nav-item">
        {% if "unsuccessful" in request.path %}
          <a class="nav-link active" id="u-tab" href="{% url 'past_credential_applications' 'unsuccessful' %}" role="tab">
        {% else %}
          <a class="nav-link" id="u-tab" href="{% url 'past_credential_applications' 'unsuccessful' %}" role="tab">
        {% endif %}
        Unsuccessful Applications <span class="badge badge-pill badge-info">{{ u_applications.paginator.count }}</span></a>
      </li>
      <li class="nav-item">
        {% if "processing" in request.path %}
          <a class="nav-link active" id="p-tab" href="{% url 'past_credential_applications' 'processing' %}" role="tab">
        {% else %}
          <a class="nav-link" id="p-tab" href="{% url 'past_credential_applications' 'processing' %}" role="tab">
        {% endif %}
        Processing Applications <span class="badge badge-pill badge-info">{{ p_applications.paginator.count }}</span></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      {# Successful applications #}
      {% if "unsuccessful" not in request.path and "processing" not in request.path %}
      <div class="tab-pane fade show active" id="s-apps" role="tabpanel" aria-labelledby="s-tab">
        {% if applications %}
          <div class="table-responsive">
            <input type="search" oninput="search('{% url "past_credential_applications" status="successful" %}', value);" placeholder="Search...">
            {% include "console/past_credential_successful_user_list.html" %}
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Unsuccessful applications #}
      {% elif "unsuccessful" in request.path %}
      <div class="tab-pane show active" id="u-apps" role="tabpanel" aria-labelledby="u-tab">
        {% if u_applications %}
          <div class="table-responsive">
            <input type="search" oninput="search('{% url "past_credential_applications" status="unsuccessful" %}', value);" placeholder="Search...">
            {% include "console/past_credential_unsuccessful_user_list.html" %}
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Processing applications #}
      {% elif "processing" in request.path %}
      <div class="tab-pane show active" id="p-apps" role="tabpanel" aria-labelledby="p-tab">
        {% if p_applications %}
          <div class="table-responsive">
            <input type="search" oninput="search('{% url "past_credential_applications" status="processing" %}', value);" placeholder="Search...">
            {% include "console/past_credential_processing_user_list.html" %}
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}