{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Credential Applications{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/pagination.css' %}">
{% endblock %}

{% load console_templatetags %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        {% if "unsuccessful" not in request.path %}
          <a class="nav-link active" id="s-tab" href="{% url 'past_credential_applications' 'successful' %}" role="tab">
        {% else %}
          <a class="nav-link" id="s-tab" href="{% url 'past_credential_applications' 'successful' %}" role="tab">
        {% endif %}
            Successful Applications <span class="badge badge-pill badge-info">{{ applications.paginator.count }}</span></a>
      </li>
      <li class="nav-item">
        {% if "unsuccessful" in request.path %}
          <a class="nav-link active" id="u-tab" href="{% url 'past_credential_applications' 'unsuccessful' %}" role="tab">
        {% else %}
          <a class="nav-link" id="u-tab" href="{% url 'past_credential_applications' 'unsuccessful' %}" role="tab">
        {% endif %}
            Unsuccessful Applications <span class="badge badge-pill badge-info">{{ u_application.paginator.counts }}</span></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      {# Successful applications #}
      {% if "unsuccessful" not in request.path %}
      <div class="tab-pane fade show active" id="s-apps" role="tabpanel" aria-labelledby="s-tab">
        {% if applications %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Application Date</th>
                  <th>Approval Date</th>
                  <th>Credentialed By</th>
                  <th>View Application</th>
                  <th>Manage</th>
                </tr>
              </thead>
              <tbody>
              {% for application in applications %}
                <tr>
                {% if application.is_legacy %}
                  {% with user=application.migrated_user %}
                    <td><a href="{% url 'public_profile' user.username %}">{{ user.get_full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.credential_datetime|date }}</td>
                    <td>Legacy</td>
                    <td>Legacy</td>
                    <td>Legacy</td>
                    <td>
                      <form action="" method="post">
                      {% csrf_token %}
                        <button class="btn btn-danger" name="remove_credentialing" value="{{ application.email }}" type="submit">
                          Remove Credentialing
                        </button>
                      </form>
                    </td>
                  {% endwith %}
                {% else %}
                  {% with user=application.user %}
                    <td><a href="{% url 'public_profile' user.username %}">{{ user.get_full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ application.application_datetime|date }}</td>
                    <td>{{ application.decision_datetime|date }}</td>
                    <td>{{ application.responder.get_full_name }}</td>
                    <td><a href="{% url 'view_credential_application' application.slug %}">View</a></td>
                    <td>
                      <form action="" method="post">
                      {% csrf_token %}
                        <button class="btn btn-danger" name="remove_credentialing" value="{{ application.id }}" type="submit">
                          Remove Credentialing
                        </button>
                      </form>
                    </td>
                  {% endwith %}
                {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include "console/pagination.html" with pagination=applications %}
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Unsuccessful applications #}
      {% elif "unsuccessful" in request.path %}
      <div class="tab-pane show active" id="u-apps" role="tabpanel" aria-labelledby="u-tab">
        {% if u_applications %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Application Date</th>
                  <th>Reference Contact Date</th>
                  <th>Response Date</th>
                  <th>Response</th>
                  <th>View Application</th>
                  <th>Manage</th>
                </tr>
              </thead>
              <tbody>
              {% for application in u_applications %}
                <tr>
                {% with user=application.user %}
                  <td><a href="{% url 'public_profile' user.username %}">{{ user.get_full_name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ application.application_datetime }}</td>
                  <td>{{ application.reference_contact_datetime|date }}</td>
                  <td>{{ application.decision_datetime }}</td>
                  <td>{{ application.responder_comments }}</td>
                  <td><a href="{% url 'view_credential_application' application.slug %}">View</a></td>
                  <td>
                    {% if application.user.is_credentialed %}
                    <p>User is credentialed</p>
                    {% elif application.is_latest_by_user %}
                      <form action="" method="post">
                      {% csrf_token %}
                        <button class="btn btn-success" name="manage_credentialing" value="{{ application.id }}" type="submit">
                          Reactivate application
                        </button>
                      </form>
                    {% else %}
                      <p>This is not the latest application</p>
                    {% endif %}
                  </td>
                {% endwith %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% include "console/pagination.html" with pagination=u_applications %}
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}