{% extends "console/base_console.html" %}

{% block title %}Credential Applications{% endblock %}

{% load console_templatetags %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="s-tab" data-toggle="tab" href="#s-apps" role="tab" aria-controls="s-apps" aria-selected="true">Successful Applications <span class="badge badge-pill badge-info">{{ s_applications|length }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="u-tab" data-toggle="tab" href="#u-apps" role="tab" aria-controls="u-apps" aria-selected="false">Unsuccessful Applications <span class="badge badge-pill badge-info">{{ u_applications|length }}</span></a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">
      {# Successful applications #}
      <div class="tab-pane fade show active" id="s-apps" role="tabpanel" aria-labelledby="s-tab">
        {% if s_applications %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Application Date</th>
                  <th>View Application</th>
                </tr>
              </thead>
              <tbody>
              {% for application in s_applications %}
                <tr>
                {% with user=application.user %}
                  <td><a href="{% url 'public_profile' user.username %}">{{ user }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ application.application_datetime|date }}</td>
                  <td><a href="{% url 'view_credential_application' application.slug %}">View</a></td>
                {% endwith %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
      {# Unsuccessful applications #}
      <div class="tab-pane fade" id="u-apps" role="tabpanel" aria-labelledby="u-tab">
        {% if u_applications %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Email</th>
                  <th>Application Date</th>
                  <th>Reference Contact Date</th>
                  <th>View Application</th>
                </tr>
              </thead>
              <tbody>
              {% for application in u_applications %}
                <tr>
                {% with user=application.user %}
                  <td><a href="{% url 'public_profile' user.username %}">{{ user }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ application.application_datetime|date }}</td>
                  <td>{{ application.reference_contact_datetime|date }}</td>
                  <td><a href="{% url 'view_credential_application' application.slug %}">View</a></td>
                {% endwith %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No applications to show.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
