{% extends "console/base_console.html" %}

{% block title %}Credentialing Application Processed{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    Credentialing Application Processed
  </div>
  <div class="card-body">
    <p>You have {% if application.status == CredentialApplication.Status.REJECTED %}rejected{% elif application.status == CredentialApplication.Status.ACCEPTED %}accepted{% else %}withdrawn{% endif %} the credentialing application of {{ application.user.get_full_name }}.</p>
    <p>You may return to the <a href="{% url 'credential_processing' %}">outstanding applications.</p>
  </div>
</div>
{% endblock %}