{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Credential Application - {{ project }}{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/submission-timeline.css' %}">
{% endblock %}

{% block local_js_top %}
<script type="text/javascript" src="{% static 'custom/js/copy-to-clipboard.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Credential Application - {{ user.username }}</h1>
<hr>

<div class="card mb-3">
  <div class="card-header">
    Application Info
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>User</td>
            <td><a href="{% url 'public_profile' app_user.username %}">{{ app_user }}</a></td></tr>
          <tr>
            <td>Full Name</td>
            <td>{{ application.full_name }}</td>
          </tr>
          <tr>
            <td>Researcher Category</td>
            <td>{{ application.get_researcher_category_display }}</td>
          </tr>
          <tr>
            <td>Organization Name</td>
            <td>{{ application.organization_name }}</td>
          </tr>
          <tr>
            <td>City</td>
            <td>{{ application.city }}</td>
          </tr>
          <tr>
            <td>State/Province</td>
            <td>{{ application.state_province }}</td>
          </tr>
          <tr>
            <td>Country</td>
            <td>{{ application.get_country_display }}</td>
          </tr>
          <tr>
            <td>Website</td>
            <td><a href="{{ application.website }}" target="_blank">{{ application.website }}</td>
          </tr>
          <tr>
            <td>Training Course Name</td>
            <td>{{ application.training_course_name }}</td>
          </tr>
          <tr>
            <td>Training Completion Date</td>
            <td>{{ application.training_completion_date }}</td>
          </tr>
          <tr>
            <td>Training Completion Report</td>
            <td>{{ application.training_completion_report }}</td>
          </tr>
          <tr>
            <td>Course Category</td>
            <td>{{ application.get_course_category_display }}</td>
          </tr>
          {% if application.course_name %}
            <tr>
              <td>Course Name</td>
              <td>{{ application.course_name }}</td>
            </tr>
          {% endif %}
          {% if application.course_number %}
          <tr>
            <td>Course Number</td>
            <td>Application.course_number</td>
          </tr>
          {% endif %}
          <tr>
            <td>Reference Category</td>
            <td>{{ application.get_reference_category_display }}</td>
          </tr>
          <tr>
            <td>Reference Name</td>
            <td>{{ application.reference_name }}</td>
          </tr>
          <tr>
            <td>Reference Email</td>
            <td>{{ application.reference_email }}</td>
          </tr>
          <tr>
            <td>Reference Title</td>
            <td>{{ application.reference_title }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    Contact Reference
  </div>
  <div class="card-body">
    {% if application.reference_contact_datetime %}
      <p><i class="fas fa-clock"></i> The reference was contacted on {{ application.reference_contact_datetime }}. Awaiting Response.
    {% else %}
      <p>The reference has not been contacted.</p>
    {% endif %}
    <form action="" method="post" class="form-signin">
      {% csrf_token %}
      {% include "form_snippet.html" with form=contact_reference_form %}
      <button class="btn btn-primary btn-fixed" name="contact_reference" type="submit">Contact Reference</button>
    </form>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    Process Application
  </div>
  <div class="card-body">

    <form action="" method="post" class="form-signin">
      {% csrf_token %}
      {% include "form_snippet.html" with form=edit_submission_form %}
      <button class="btn btn-primary btn-fixed" name="invite_author" type="submit">Submit Response</button>
    </form>
  </div>
</div>
{% endblock %}
