{% extends "console/base_console.html" %}

{% load static %}

{% block title %}{{ page_title }} - {{ app_user.username }}{% endblock %}

{% block local_js_top %}
<script src="{% static 'custom/js/copy-to-clipboard.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Credentialing: {{ page_title }} for {{ app_user.profile.first_names }} {{ app_user.profile.last_name }}</h1>
<hr>

<div class="card-columns row">
  <div class="col-sm-5">
    <div class="card mb-4">
      <div class="card-header">
        Application information
      </div>
      <div class="card-body">
        <div class='mb-2'>
         {% include "console/application_display_table.html" %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="row">

      {% if application.credential_review.status == 30 %}
        <div class="card mb-4">
          <div class="card-header">
            Contact Reference
          </div>
          <div class="card-body">
            {% if application.reference_email|length < 1 %}
              <p>A reference was not provided.</p>
            {% elif application.reference_contact_datetime %}
              <p><i class="fas fa-envelope"></i> The reference was contacted on {{ application.reference_contact_datetime }}</p>
              {% if not application.reference_response_datetime %}
                <p><i class="fas fa-clock"></i> Awaiting reference response.</p>
              {% endif %}
            {% else %}
              <p>The reference has not been contacted.</p>
            {% endif %}
            <form action="" method="post" class="form-signin">
              {% csrf_token %}
              {% include "console/email_modal.html" with form=contact_cred_ref_form app_user=app_user modal_id="contact-reference-modal" modal_title="Email Reference" submit_name="contact_reference" submit_value=app_user.id submit_text="Contact Reference" %}
              <button type="button" class="btn btn-primary btn-fixed" data-toggle="modal" data-target="#contact-reference-modal">Contact Reference</button>
            </form>
            {# Reference already responded #}
            {% if application.reference_response_datetime %}
              <p><i class="fas fa-check" style="color:green"></i> The reference verified the applicant on {{ application.reference_response_datetime }}</p>
              {% if application.reference_response_text %}
                <h2 style='font-size:20px;'>Reference comments:</h2>
                <p style='margin-left:2em'>{{ application.reference_response_text }}</p>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}

      </div>
        {% if application.credential_review.status == 10 %}
        <div class="card mb-4">
          <div class="card-header">
            Update ID Check Status
          </div>
          <div class="card-body">
            {# Personal #}
            <form action="" method="post" class="form-signin">
              {% csrf_token %}
              {% include "form_snippet.html" with form=intermediate_credential_form %}
              <button class="btn btn-primary btn-fixed" name="approve_personal" value="{{ app_user.id }}" type="submit">Submit response</button>
            </form>
            <br />
            <form action="" method="post" class="form-signin"  onsubmit="return confirm ('Are you sure? ')">
                {% csrf_token %}
               <button class="btn btn-danger btn-fixed" name="immediate_accept" value="{{ app_user.id }}" type="submit">Full approve</button>
          </form>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            Guidelines
          </div>
          <div class="card-body">
            {# Guidance for ID check #}
            <ul>
              <li>Do you find search results for the applicant's name</li>
              <li>Can you find publications linked to the applicant?</li>
              <li>Is the research summary sufficiently descriptive?</li>
              <li>Does the applicant understand that data must not be shared?</li>
              <li>Is the information consistent?
                <ul>
                <li>Independent researcher should not list an organization</li>
                <li>Students should be listed as "student" or "postdoc"</li>
                <li>MD's with a hospital as their organization should be "hospital researcher"</li>
              </ul>
              </li>
            </ul>
          </div>
        </div>

        {% endif %}
        {% if application.credential_review.status == 20 %}
        <div class="card mb-4">
          <div class="card-header">
            Reference Check
          </div>
          <div class="card-body">
            {# Reference #}
            {% if application.reference_email|length < 1 %}
              <p>No reference provided.</p>
            {% else %}
              <form action="" method="post" class="form-signin">
                {% csrf_token %}
                {% include "form_snippet.html" with form=intermediate_credential_form %}
                <button class="btn btn-primary btn-fixed" name="approve_reference" value="{{ app_user.id }}" type="submit">Submit Response</button>
              </form>
              <br />
              <form action="" method="post" class="form-signin"  onsubmit="return confirm ('Are you sure? ')">
                {% csrf_token %}
                <button class="btn btn-primary btn-danger" name="skip_reference" value="{{ app_user.id }}" type="submit">Skip Reference Check</button>
             </form>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% if application.credential_review.status == 30 %}
        <div class="card mb-4">
          <div class="card-header">
            Awaiting Reference Response
          </div>
          <div class="card-body">
            {# Response #}
            <form action="" method="post" class="form-signin">
              {% csrf_token %}
              {% include "form_snippet.html" with form=intermediate_credential_form %}
              <button class="btn btn-primary btn-fixed" name="approve_response" value="{{app_user.id}}" type="submit">Submit Response</button>
              <button class="btn btn-primary btn-fixed" name="approve_response_all" value="{{app_user.id}}" type="submit">Approve All</button>
            </form>
          </div>
        </div>
        {% endif %}
        {% if application.credential_review.status == 40 %}
        <div class="card mb-4">
          <div class="card-header">
            Process Application
          </div>
          <div class="card-body">
            <form action="" method="post" class="form-signin">
              {% csrf_token %}
              {% include "form_snippet.html" with form=process_credential_form %}
              <button class="btn btn-primary btn-lg" name="process_application" value="{{app_user.id}}" type="submit">Submit Response</button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
  </div>
</div>

{% endblock %}
