{% extends "console/base_console.html" %}

{% load static %}

{% block title %}{{ page_title }} - {{ app_user.username }}{% endblock %}

{% block local_js_top %}
<script src="{% static 'custom/js/copy-to-clipboard.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Credentialing: {{ page_title }} for {{ app_user.profile.first_names }} {{ app_user.profile.last_name }}</h1>
<hr>

<div class="card-columns row">
  <div class="col-sm-5">
    <div class="card mb-4">
      <div class="card-header">
        Application Information
      </div>
      <div class="card-body">
        <div class='mb-2'>
         {% include "console/application_display_table.html" %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="row">

      {% if application.credential_review.status == 30 %}
        <div class="card mb-4">
          <div class="card-header">
            Contact Reference
          </div>
          <div class="card-body">
            {% if application.reference_email|length < 1 %}
              <p>A reference was not provided.</p>
            {% elif application.reference_contact_datetime %}
              <p><i class="fas fa-envelope"></i> The reference was contacted on {{ application.reference_contact_datetime }}</p>
              {% if not application.reference_response_datetime %}
                <p><i class="fas fa-clock"></i> Awaiting response.</p>
              {% endif %}
            {% else %}
              <p>The reference has not been contacted.</p>
            {% endif %}
            {% if not application.reference_email|length < 1 %}
            <form action="" method="post">
              {% csrf_token %}
              {% include "console/email_modal.html" with form=contact_cred_ref_form app_user=app_user modal_id="contact-reference-modal" modal_title="Email Reference" submit_name="contact_reference" submit_value=app_user.id submit_text="Send" %}
              <button type="button" class="btn btn-primary btn-fixed" data-toggle="modal" data-target="#contact-reference-modal">Contact reference (again!)</button>
            </form>
            {% endif %}
            {# Reference already responded #}
            {% if application.reference_response_datetime %}
              <p><i class="fas fa-check" style="color:green"></i> The reference verified the applicant on {{ application.reference_response_datetime }}</p>
              {% if application.reference_response_text %}
                <h2 style='font-size:20px;'>Reference comments:</h2>
                <p style='margin-left:2em'>{{ application.reference_response_text }}</p>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}

      </div>
        {% if application.credential_review.status == 10 %}
        <div class="card mb-4">
          <div class="card-header">
            Update ID Check Status
          </div>
          <div class="card-body">
            {# Personal #}
            <form action="" method="post" class="form-signin">
              {% csrf_token %}
              {% include "form_snippet.html" with form=credential_review_form %}
              <button class="btn btn-success btn-fixed" name="accept_id" type="submit">Accept ID</button>
              <button class="btn btn-primary btn-fixed" name="full_approve" type="submit">Full approve</button>
              <button class="btn btn-danger btn-fixed" name="reject" type="submit">Reject</button>
            </form>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            Guidelines
          </div>
          <div class="card-body">
            {# Guidance for ID check #}
            <ul>
              <li>Do you find search results for the applicant's name</li>
              <li>Can you find publications linked to the applicant?</li>
              <li>Is the research summary sufficiently descriptive?</li>
              <li>Does the applicant understand that data must not be shared?</li>
              <li>Is the information consistent?
                <ul>
                <li>Independent researcher should not list an organization</li>
                <li>Students should be listed as "student" or "postdoc"</li>
                <li>Medical doctors with a hospital as their organization should be "hospital researcher"</li>
              </ul>
              </li>
            </ul>
          </div>
        </div>

        {% endif %}
        {% if application.credential_review.status == 20 %}
        <div class="card mb-4">
          <div class="card-header">
            Reference Check
          </div>
          <div class="card-body">
            {# Reference #}
            <form action="" method="post">
              {% csrf_token %}
              {% if application.reference_email|length > 1 %}
                <button type="button" class="btn btn-success btn-fixed" data-toggle="modal" data-target="#contact-reference-modal">Contact reference</button>
              {% else %}
                <button type="button" class="btn btn-success btn-fixed" data-toggle="modal" data-target="#contact-reference-modal" disabled>Contact reference</button>
              {% endif %}
              <br /><br />
              {% include "console/email_modal.html" with form=contact_cred_ref_form app_user=app_user modal_id="contact-reference-modal" modal_title="Email Reference" submit_name="accept_ref" submit_value=app_user.id submit_text="Send" %}
            </form>
            <form action="" method="post">
              {% csrf_token %}
              {% include "form_snippet.html" with form=credential_review_form %}
              <button class="btn btn-primary btn-fixed" name="skip_ref" type="submit">Skip reference</button>
              <button class="btn btn-danger btn-danger" name="reject" type="submit">Reject</button>
            </form>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            Guidelines
          </div>
          <div class="card-body">
            {# Skip reference check #}
            <ul>
              <li>Is the reference searchable and appropriate?</li>
              <li>Can you find publications linked to the reference?</li>
              <li>For students and postdocs only:
                <ul>
                  <li>Is the reference in a supervisory position?</li>
                  <li>Is the applicant included in a list of course participants?</li>
                </ul>
              </li>
              <li>The check can be skipped if:</li>
              <ul>
                <li>the user is not a student or postdoc</li>
                <li>the identity of the user is clear</li>
              </ul>
            </ul>
          </div>
        </div>
        {% endif %}
        {% if application.credential_review.status == 30 %}
        <div class="card mb-4">
          <div class="card-header">
            Awaiting Reference Response
          </div>
          <div class="card-body">
            {# Response #}
            <form action="" method="post">
              {% csrf_token %}
              {% include "form_snippet.html" with form=intermediate_credential_form %}
              <button class="btn btn-primary btn-fixed" name="approve_response" value="{{app_user.id}}" type="submit">Submit Response</button>
            </form>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            Guidelines
          </div>
          <div class="card-body">
            {# Guidelines #}
            <ul>
              <li>Does the referee know the applicant?</li>
              <li>Does the referee approve the applicant?</li>
              <li>Does the referee understand that data must not be shared?</li>
            </ul>
          </div>
        </div>
        {% endif %}
        {% if application.credential_review.status == 40 %}
        <div class="card mb-4">
          <div class="card-header">
            Process Application
          </div>
          <div class="card-body">
            <form action="" method="post">
              {% csrf_token %}
              {% include "form_snippet.html" with form=credential_review_form %}
              <button class="btn btn-success btn-fixed" name="accept_final" type="submit">Full approve</button>
              <button class="btn btn-danger btn-fixed" name="reject" type="submit">Reject</button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
  </div>
</div>

{% endblock %}
