{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Project Access{% endblock %}

{% block content %}
 <div class="card mb-3">
  <div class="card-header">
    Credentialed projects <span class="badge badge-pill badge-info">{{ c_projects|length }}</span>
  </div>
  <div class="card-body">
    <a href="{% url 'download_credentialed_users' %}" class="btn btn-md btn-success">Download CSV</a>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Publish Datetime</th>
            <th>Credentialed Users</th>
            <th>Members</th>
          </tr>
        </thead>
        <tbody>
        	{% for project in c_projects %}
        	<tr>
        		<td><a href="{% url 'published_project' project.slug project.version %}">{{ project }}</a></a></td>
        		<td>{{ project.publish_datetime }}</td>
        		<td>{{ project.member_count }}</td>
        		<td><a href="{% url 'project_access_manage' project.id %}" class="btn btn-sm btn-primary" role="button">View</a></td>
        	</tr>
        	{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

