{% load project_templatetags %}
<div class="card mb-3">
  <div class="card-header">
    Project Information
  </div>
  <div class="card-body">
    <p>{{ project.resource_type|resource_badge|safe }}</p>
    <h4 class="card-title"><a href="{% url 'project_overview' project.slug %}">{{ project.title }}</a></h4>
    <p class="card-text">
      Authors: {% for author in authors %}{{ author|show_all_author_info|safe }}{% endfor %}<br>
      Created: {{ project.creation_datetime|date }}. Submitted: {{ project.submission_datetime|date }}.<br>
      Storage Used: 10Mb/100Gb
    </p>
    <p><a class="btn btn-lg btn-primary" href="{% url 'project_preview' project.slug %}" role="button" target="_blank">
      View Project Preview</a>
      <button class="btn btn-lg btn-primary" onclick="copyToClipboard('{{ author_emails }}')">Copy Author Emails</button>
    </p>
  </div>
</div>
