{% load project_templatetags %}
<div class="card mb-3">
  <div class="card-header">
    Project Information
  </div>
  <div class="card-body">
    <p>{{ project.resource_type|resource_badge|safe }}</p>
    <h4 class="card-title"><a href="{% url 'project_overview' project.slug %}">{{ project.title }}</a></h4>
    <p class="card-text">
      Submitting Author: {{ submitting_author|show_all_author_info|safe }}<br>
      Coauthors: {% for author in coauthors %}{{ author|show_all_author_info|safe }} {% empty %}None{% endfor %}<br>
      Created: {{ project.creation_datetime|date }}<br>
      Submitted: {{ project.submission_datetime|date }}
    </p>
    <p><a class="btn btn-lg btn-primary" href="{% url 'project_preview' project.slug %}" role="button" target="_blank">
      View Project Preview</a>
      <button class="btn btn-lg btn-primary" onclick="copyToClipboard('{{ author_emails }}')">Copy Author Emails</button>
    </p>
  </div>
</div>
