{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Published Projects{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/pagination.css' %}">
{% endblock %}

{% block content %}
<script src="{% static 'console/js/generic-filter.js' %}"></script>
<div class="card mb-3">
  <div class="card-header">
    Published Projects <span class="badge badge-pill badge-info">{{ projects.paginator.count }}</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <label class="font-weight-bold" for="searchbox">Search for project:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <input id="searchbox" type="search" oninput="search();"  placeholder="Search...">
      </div>
    </div>
    <div class="table-responsive" id="searchitems">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Project</th>
            <th>History</th>
            <th>Version</th>
            <th>Submitted By</th>
            <th>Editor</th>
            <th>Created</th>
            <th>Published</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td><a href="{% url 'published_project' project.slug project.version %}">{{ project.title }}</a></td>
            <td>{% if project.is_legacy %}Legacy{% else %}<a href="{% url 'published_submission_history' project.slug project.version %}">View History</a>{% endif %}</td>
            <td>{{ project.version }}</td>
            <td>{% if project.is_legacy %}Legacy{% else %}<a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}{% endif %}</td>
            <td>{{ project.editor }}</td>
            <td>{{ project.creation_datetime|date }}</td>
            <td>{{ project.publish_datetime|date }}</td>
            <td><a href="{% url 'manage_published_project' project.slug project.version %}" class="btn btn-sm btn-primary" role="button">Manage</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% include "console/pagination.html" with pagination=projects %}
    </div>
  </div>
</div>
{% endblock %}

{% block local_js_bottom %}
  <script>
    function search() {
      const query = document.getElementById('searchbox').value.toLowerCase();
      const rows = document.querySelectorAll('#searchitems tbody tr');

      rows.forEach(row => {
        const projectTitle = row.querySelector('td a').textContent.toLowerCase();
        if (projectTitle.includes(query)) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      });
    }

    document.getElementById('searchbox').addEventListener('input', search);
  </script>
{% endblock %}
