{% extends "console/base_console.html" %}

{% block title %}Published Projects{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    Published Projects <span class="badge badge-pill badge-info">{{ projects|length}}</span>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Project</th>
            <th>History</th>
            <th>Version</th>
            <th>Submitted By</th>
            <th>Editor</th>
            <th>Created</th>
            <th>Published</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
        {% for project in projects %}
          <tr>
            <td><a href="{% url 'published_project' project.slug project.version %}">{{ project.title }}</a></td>
            <td>{% if project.is_legacy %}Legacy{% else %}<a href="{% url 'published_submission_history' project.slug project.version %}">View History</a>{% endif %}</td>
            <td>{{ project.version }}</td>
            <td>{% if project.is_legacy %}Legacy{% else %}<a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}{% endif %}</td>
            <td>{{ project.editor }}</td>
            <td>{{ project.creation_datetime|date }}</td>
            <td>{{ project.publish_datetime|date }}</td>
            <td><a href="{% url 'manage_published_project' project.slug %}" class="btn btn-sm btn-primary" role="button">Manage</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
