{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Publish Submission{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/submission-timeline.css' %}">
{% endblock %}

{% block local_js_top %}
<script type="text/javascript" src="{% static 'custom/js/copy-to-clipboard.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Publish Submission - {{ project.title }}</h1>
<hr>
{% include "console/submission_info_card.html" %}

<div class="card mb-3">
  <div class="card-header">
    Publish Submission
  </div>
  <div class="card-body">
    <p>
      {% if publishable %}
        The project is ready to publish.
      {% else %}
        Something has gone wrong. The project should be publishable at this point but it is not. Please check it.
      {% endif %}
    </p>
    <form action="" method="post" class="form-signin">
      {% csrf_token %}
      {% include "form_snippet.html" with form=publish_form %}
      <button class="btn btn-success btn-lg" name="publish_submission" type="submit">Publish Submission</button>
    </form>
  </div>
</div>
{% endblock %}

{% block local_js_bottom %}
<script type="text/javascript" src="{% static 'custom/js/enable-popover.js' %}"></script>
{% endblock %}
