<div class="card mb-3">
  <div class="card-header">
    Reopen Copyedit
  </div>
  <div class="card-body">
    <p>If the authors have requested additional changes, you may reopen the project for copyediting.</p>
    <p><button id="reopen-copyedit-modal-button" type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#reopenModal">
        Reopen Copyedit</button></p>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="reopenModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reopen Copyedit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to reopen the project for copyediting? Do not
        do this unless you need to make additional changes to the project.
      </div>
      <div class="modal-footer">
        <form action="{% url 'reopen_copyedit' project.slug %}" method="post">
          {% csrf_token %}
          <button class="btn btn-danger btn-fixed" name="reopen_copyedit" type="submit">Reopen Copyedit</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
