{% extends "console/base_console.html" %}

{% load project_templatetags %}

{% block title %}Storage Requests{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    Storage Requests <span class="badge badge-pill badge-info">{{ storage_response_formset|length }}</span>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Project</th>
            <th>Storage Request (GB)</th>
            <th>Current Allowance (GB)</th>
            <th>Request Date</th>
            <th>Respond</th>
          </tr>
        </thead>
        <tbody>
        {% if storage_response_formset|length %}
          {% for storage_response_form in storage_response_formset %}
            <tr>
              <td><a href="{% url 'project_preview' storage_response_form.instance.project.slug %}">{{ storage_response_form.instance.project.title }}</a></td>
              <td>{{ storage_response_form.instance.request_allowance }}</td>
              <td>{{ storage_response_form.instance.project.core_project.storage_allowance|bytes_to_gb }}</td>
              <td>{{ storage_response_form.instance.request_datetime|date }}</td>
              <td><button id="respond-modal-button-{{ storage_response_form.instance.id }}" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#storage-response-modal-{{ storage_response_form.instance.id }}">Respond</button></td>
            </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{# The modals for the response #}
{% if storage_response_formset|length %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ storage_response_formset.management_form }}
    {% for storage_response_form in storage_response_formset %}
      <div class="modal fade" id="storage-response-modal-{{ storage_response_form.instance.id }}" tabindex="-1" role="dialog" aria-labelledby="storage-response-modal-{{ storage_response_form.project_id.value }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Respond to storage request</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
              <div class="modal-body">
                {{ storage_response_form }}
              </div>
              <div class="modal-footer">
                <button id="storage-response-button-{{ storage_response_form.instance.id }}" class="btn btn-primary" name="storage_response" value="{{ storage_response_form.instance.id }}" type="submit">Submit Response</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </form>
{% endif %}
{% endblock %}
