{% extends "console/base_console.html" %}

{% block title %}Submission Reponse{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
      Submission Response
  </div>
  <div class="card-body">
    {% if response == 0 %}
      <p>You have rejected the submission.</p>
    {% elif response == 1 %}
      <p>You have requested a resubmission. The submitting author is to
         make revisions and resubmit. You will be notified when they
         have done so.</p>
    {% else %}
      <p>You have approved the submission. When the submitting author
         confirms, the project will be published.</p>
    {% endif %}
    <p>The authors have been notified of your decision. You may return to your
       <a href="{% url 'console_home' %}">console home</a>.</p>
  </div>
</div>
{% endblock %}
