<div class="modal fade" id="submissionStatusModal" tabindex="-1" role="dialog" aria-labelledby="submissionStatusModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submission Statuses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ol start="0">
          <li>Submitted - Awaiting editor assignment or decision.</li>
          <li>Rejected - editor decision 1. The submission ends.</li>
          <li>Resubmission - editor decision 2. Awaiting submitting author to make revisions and resubmit.</li>
          <li>Accepted/Copyedit - editor decision 3. The editor accepts the submission, and makes small changes to the metadata and/or files.</li>
          <li>Copyedit complete. Awaiting approval from authors to publish.</li>
          <li>All authors approved. Awaiting editor to publish.</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
