{% extends "console/base_console.html" %}

{% block title %}Project Submissions{% endblock %}

{% block content %}
{% include "message_snippet.html" %}
<div class="card mb-3">
  <div class="card-header">
      <i class="fa fa-table"></i> Active Project Submissions
  </div>
  <div class="card-body">
    <p>Submission Statuses</p>
    <ol>
      <li>Presubmission - submitting author submits project. Awaiting co-authors.</li>
      <li>Submitted - all co-authors agree to submission. Awaiting editor assignment.</li>
      <li>Submitted - editor is assigned. Awaiting editor decision. Continues to 4, 5, or 6.</li>
      <li>Resubmission - editor decision 1. Awaiting submitting author to make revisions. Loops back to 3.</li>
      <li>Rejected - editor decision 2. The submission ends.</li>
      <li>Accepted - editor approved publication. Awaiting submitting author to confirm.</li>
      <li>Accepted - submitting author approves publication. Project is published and submission ends.</li>
    </ol>
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Submission ID</th>
            <th>Project</th>
            <th>Submission Status</th>
            <th>Submission Date</th>
            <th>Editor</th>
          </tr>
        </thead>
        <tbody>
        {% for submission in submissions %}
            <td>{{ submission.id }}</td>
            <td><a href="{% url 'project_overview' submission.project.id %}">{{ submission.project }}</a></td>
            <td>{{ submission.submission_status }}</td>
            <td>{{ submission.submission_datetime|date }}</td>
            <td>
                {% if submission.editor %}
                    {{ submission.editor }}
                {% else %}
                    <a style="color:red">Awaiting Editor Assignment</a>
                {% endif %}
            </td>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i> Assign Editor</div>
    <div class="card-body">
      <p>
        {% if not n_awaiting_editor %}
          <i style="color:green" class="fas fa-check-circle"></i>
        {% else %}
          <i style="color:red" class="fas fa-exclamation-circle"></i>
        {% endif %}
        {% if n_awaiting_editor == 1 %}
          There is one submission awaiting an editor.
        {% else %}
          There are {{ n_awaiting_editor }} submissions awaiting an editor.
        {% endif %}
        </p>
      <form action="" method="post" class="form-signin">
        {% csrf_token %}
        {% include "form_snippet.html" with form=assign_editor_form %}
        <button class="btn btn-primary btn-fixed" name="invite_author" type="submit">Assign Editor</button>
      </form>
    </div>
</div>

{% endblock %}

