{% extends "console/base_console.html" %}

{% block title %}Submitted Projects{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="a-tab" data-toggle="tab" href="#a" role="tab" aria-controls="a" aria-selected="true">Awaiting Editor Assigment <span class="badge badge-pill badge-{% if a_projects %}danger{% else %}success{% endif %}">{{ a_projects|length }}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="b-tab" data-toggle="tab" href="#b" role="tab" aria-controls="b" aria-selected="false">Awaiting Decision <span class="badge badge-pill badge-{% if b_projects %}danger{% else %}success{% endif %}">{{ b_projects|length }}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="c-tab" data-toggle="tab" href="#c" role="tab" aria-controls="c" aria-selected="false">Awaiting Revisions <span class="badge badge-pill badge-{% if c_projects %}danger{% else %}success{% endif %}">{{ c_projects|length }}</span></a></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="d-tab" data-toggle="tab" href="#d" role="tab" aria-controls="d" aria-selected="false">Awaiting Copyedit <span class="badge badge-pill badge-{% if d_projects %}danger{% else %}success{% endif %}">{{ d_projects|length }}</span></a></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="e-tab" data-toggle="tab" href="#e" role="tab" aria-controls="e" aria-selected="false">Awaiting Approval <span class="badge badge-pill badge-{% if e_projects %}danger{% else %}success{% endif %}">{{ e_projects|length }}</span></a></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="f-tab" data-toggle="tab" href="#f" role="tab" aria-controls="f" aria-selected="false">Awaiting Publish <span class="badge badge-pill badge-{% if f_projects %}danger{% else %}success{% endif %}">{{ f_projects|length }}</span></a></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    {# a. Awaiting editor assignment #}
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="a" role="tabpanel" aria-labelledby="home-tab">
        {% if a_projects %}
          <p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#assignModal">
        Assign Editor</button></p>
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitting Author</th>
                  <th>Submission Date</th>
                </tr>
              </thead>
              <tbody>
              {% for project in a_projects %}
                <tr>
                  <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</a></td>
                  <td>{{ project.submission_datetime|date }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {# Assign editor modal #}
          <div class="modal" tabindex="-1" role="dialog" id="assignModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Assign Editor</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="" method="post" class="form-signin">
                    {% csrf_token %}
                    {% include "form_snippet.html" with form=assign_editor_form %}

                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary btn-fixed" name="assign_editor" type="submit">Assign Editor</button>
                  </form>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
      {# Awaiting decision #}
      <div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="b-tab">
        {% if b_projects %}
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitting Author</th>
                  <th>Editor</th>
                  <th>Submission Date</th>
                </tr>
              </thead>
              <tbody>
              {% for project in b_projects %}
                <tr>
                  <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</a></td>
                  <td>{{ project.editor }}</td>
                  <td>{{ project.submission_datetime|date }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
      {# Awaiting copyedit #}
      <div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="c-tab">
        {% if c_projects %}
          <div class="table-responsive">
            <table class="table table-bordered" id="cTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitting Author</th>
                  <th>Submission Date</th>
                  <th>Revision Request Date</th>
                  <th>Editor</th>
                </tr>
              </thead>
              <tbody>
              {% for project in c_projects %}
                <tr>
                  <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</a></td>
                  <td>{{ project.submission_datetime|date }}</td>
                  <td>{{ project.editor }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
      {# Awaiting decision #}
      <div class="tab-pane fade" id="d" role="tabpanel" aria-labelledby="d-tab">
        {% if d_projects %}
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitting Author</th>
                  <th>Submission Date</th>
                  <th>Editor</th>
                  <th>Is Resubmission</th>
                </tr>
              </thead>
              <tbody>
              {% for project in c_projects %}
                <tr>
                  <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author.user.username }}</a> - {{ project.submitting_author.user.email }}</td>
                  <td>{{ project.submission_datetime|date }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
      {# Awaiting approval #}
      <div class="tab-pane fade" id="e" role="tabpanel" aria-labelledby="e-tab">
        {% if e_projects %}
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitting Author</th>
                  <th>Submission Date</th>
                  <th>Editor</th>
                  <th>Is Resubmission</th>
                </tr>
              </thead>
              <tbody>
              {% for project in e_projects %}
                <tr>
                  <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author.user.username }}</a> - {{ project.submitting_author.user.email }}</td>
                  <td>{{ project.submission_datetime|date }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
      {# Awaiting publish #}
      <div class="tab-pane fade" id="f" role="tabpanel" aria-labelledby="f-tab">
        {% if f_projects %}
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitting Author</th>
                  <th>Submission Date</th>
                  <th>Editor</th>
                  <th>Is Resubmission</th>
                </tr>
              </thead>
              <tbody>
              {% for project in f_projects %}
                <tr>
                  <td><a href="{% url 'project_overview' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author.user.username }}</a> - {{ project.submitting_author.user.email }}</td>
                  <td>{{ project.submission_datetime|date }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>







{% endblock %}

