{% extends "console/base_console.html" %}

{% block title %}Submitted Projects{% endblock %}

{% load console_templatetags %}

{% block content %}
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      {% if perms.project.can_assign_editor %}
        <li class="nav-item">
          <a class="nav-link active" id="assignment-tab" data-toggle="tab" href="#assignment" role="tab" aria-controls="assignment" aria-selected="true">Awaiting Editor Assignment {{ assignment_projects|task_count_badge|safe }}</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" id="decision-tab" data-toggle="tab" href="#decision" role="tab" aria-controls="decision" aria-selected="false">Awaiting Decision {{ decision_projects|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="revision-tab" data-toggle="tab" href="#revision" role="tab" aria-controls="revision" aria-selected="false">Awaiting Author Revisions {{ revision_projects|task_count_badge|safe }}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="copyedit-tab" data-toggle="tab" href="#copyedit" role="tab" aria-controls="copyedit" aria-selected="false">Awaiting Copyedit {{ copyedit_projects|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="approval-tab" data-toggle="tab" href="#approval" role="tab" aria-controls="approval" aria-selected="false">Awaiting Author Approval {{ approval_projects|task_count_badge|safe }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="publish-tab" data-toggle="tab" href="#publish" role="tab" aria-controls="publish" aria-selected="false">Awaiting Publication {{ publish_projects|task_count_badge|safe }}</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    {# Awaiting editor assignment #}
    <div class="tab-content">
      {% if perms.project.can_assign_editor %}
        <div class="tab-pane fade show active" id="assignment" role="tabpanel" aria-labelledby="assignment-tab">
          {% if assignment_projects %}
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Project</th>
                    <th>Submitted By</th>
                    <th>Submitted</th>
                    <th>Manage</th>
                  </tr>
                </thead>
                <tbody>
                {% for project in assignment_projects %}
                  <tr>
                    <td><a href="{% url 'submission_info' project.slug %}">{{ project }}</a></td>
                    <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</a></td>
                    <td>{{ project.submission_datetime|date }}</td>
                    <td><a href='#' data-toggle="modal" data-target="#assignModal" onclick="set_project_id('{{ project.id }}','{{ project|escapejs }}')" class="btn btn-primary btn-sm" role="button">Assign Editor</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
                  <script> 
                    function set_project_id(pid, pname){
                      $("#project_name").html(pname);
                      $("#id_project").val(pid);
                    }
                  </script>
            {# Assign editor modal #}
            <div class="modal" tabindex="-1" role="dialog" id="assignModal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Assign Editor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <label for="project_name">Project</label> 
                    <h6 id='project_name'></h6>
                    <form action="" method="post" class="form-signin">
                      {% csrf_token %}
                      {% include "form_snippet.html" with form=assign_editor_form %}
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary btn-fixed" name="assign_editor" type="submit">Assign Editor</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
          {% endif %}
        </div>
      {% endif %}
      {# Awaiting decision #}
      <div class="tab-pane fade" id="decision" role="tabpanel" aria-labelledby="decision-tab">
        {% if decision_projects %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitted By</th>
                  <th>Editor</th>
                  <th>Submitted</th>
                  <th>Resubmitted</th>
                  <th>Manage</th>
                </tr>
              </thead>
              <tbody>
              {% for project in decision_projects %}
                <tr>
                  <td><a href="{% url 'submission_info' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</a></td>
                  <td>{{ project.editor }}</td>
                  <td>{{ project.submission_datetime|date }}</td>
                  <td>
                    {% if project.resubmission_datetime %}
                      {{ project.resubmission_datetime|date }}
                    {% else %}
                      Not a resubmission
                    {% endif %}
                  </td>
                  {% if project.editor == user %}
                    <td><a class="btn btn-primary btn-sm" href="{% url 'edit_submission' project.slug %}" role="button">Edit Project</a></td>
                  {% else %}
                    <td><p>Assigned</p></td>
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
      {# Awaiting author revisions #}
      <div class="tab-pane fade" id="revision" role="tabpanel" aria-labelledby="revision-tab">
        {% if revision_projects %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitted By</th>
                  <th>Submitted</th>
                  <th>Revision Requested</th>
                  <th>Latest reminder</th>
                  <th>Editor</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              {% for project in revision_projects %}
                <tr>
                  <td><a href="{% url 'submission_info' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</a></td>
                  <td>{{ project.submission_datetime|date }}</td>
                  <td>{{ project.revision_request_datetime|date }}</td>
                  <td>{{ project.latest_reminder|date }}</td>
                  <td>{{ project.editor }}</td>
                  <td>
                    <form action="" method="post" class="form-signin">
                      {% csrf_token %}
                      {% if project.latest_reminder < yesterday %}
                      <button class="btn btn-primary" name="send_revision_reminder" value="{{ project.id }}" type="submit">Send Reminder Email</button>
                      {% else %}
                      <button class="btn btn-primary" name="send_revision_reminder" value="{{ project.id }}" disabled type="submit">Send Reminder Email</button>
                      {% endif %}
                    </form>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
      {# Awaiting copyedit #}
      <div class="tab-pane fade" id="copyedit" role="tabpanel" aria-labelledby="copyedit-tab">
        {% if copyedit_projects %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitted By</th>
                  <th>Submitted</th>
                  <th>Accepted</th>
                  <th>Editor</th>
                  <th>Manage</th>
                </tr>
              </thead>
              <tbody>
              {% for project in copyedit_projects %}
                <tr>
                  <td><a href="{% url 'submission_info' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</td>
                  <td>{{ project.submission_datetime|date }}</td>
                  <td>{{ project.editor_accept_datetime|date }}</td>
                  <td>{{ project.editor }}</td>
                  {% if project.editor == user %}
                    <td><a class="btn btn-primary btn-sm" href="{% url 'copyedit_submission' project.slug %}" role="button">Copyedit Project</a></td>
                  {% else %}
                    <td><p>Assigned</p></td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
      {# Awaiting author approval #}
      <div class="tab-pane fade" id="approval" role="tabpanel" aria-labelledby="approval-tab">
        {% if approval_projects %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitted By</th>
                  <th>Submitted</th>
                  <th>Accepted</th>
                  <th>Copyedit Completed</th>
                  <th>Latest reminder</th>
                  <th>Editor</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              {% for project in approval_projects %}
                <tr>
                  <td><a href="{% url 'submission_info' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author }}</td>
                  <td>{{ project.submission_datetime|date }}</td>
                  <td>{{ project.editor_accept_datetime|date }}</td>
                  <td>{{ project.copyedit_completion_datetime|date }}</td>
                  <td>{{ project.latest_reminder|date }}</td>
                  <td>{{ project.editor }}</td>
                  <td>
                    {% if project.latest_reminder < yesterday %}
                      <button class="btn btn-primary" name="send_approval_reminder" value="{{ project.id }}" type="submit">Send Reminder Email</button>
                    {% else %}
                      <button class="btn btn-primary" name="send_approval_reminder" value="{{ project.id }}" disabled type="submit">Send Reminder Email</button>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
      {# Awaiting publish #}
      <div class="tab-pane fade" id="publish" role="tabpanel" aria-labelledby="publish-tab">
        {% if publish_projects %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Project</th>
                  <th>Submitted By</th>
                  <th>Submitted</th>
                  <th>Accepted</th>
                  <th>Copyedit Completed</th>
                  <th>Author Approved</th>
                  <th>Editor</th>
                  <th>Manage</th>
                </tr>
              </thead>
              <tbody>
              {% for project in publish_projects %}
                <tr>
                  <td><a href="{% url 'submission_info' project.slug %}">{{ project }}</a></td>
                  <td><a href="{% url 'public_profile' project.submitting_author.user.username %}">{{ project.submitting_author.user.username }}</a> - {{ project.submitting_author.user.email }}</td>
                  <td>{{ project.submission_datetime|date }}</td>
                  <td>{{ project.editor_accept_datetime|date }}</td>
                  <td>{{ project.copyedit_completion_datetime|date }}</td>
                  <td>{{ project.author_approval_datetime|date }}</td>
                  <td>{{ project.editor }}</td>
                  {% if project.editor == user %}
                    <td><a class="btn btn-primary btn-sm" href="{% url 'publish_submission' project.slug %}" role="button">Publish Project</a></td>
                  {% else %}
                    <td><p>Assigned</p></td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p><i class="fas fa-check" style="color:green"></i> No projects to show.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock %}

