{% extends "console/base_console.html" %}

{% block title %}Submission Reponse{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
      Submission Response
  </div>
  <div class="card-body">
    {% if response == 1 %}
    <p>You have requested a resubmission. The submitting author is to
       make revisions and resubmit. You will be notified when they
       have done so.</p>
    {% elif response == 2 %}
      <p>You have rejected the submission.</p>
    {% else %}
      <p>You have approved the submission. The project has been published <a href="{% url 'published_project' published_project.id }">here</a>.</p>
    {% endif %}
    <p>The authors have been notified of your decision. You may return to your
       <a href="{% url 'console_home' %}">console home</a>.</p>
  </div>
</div>
{% endblock %}
