{% extends "console/base_console.html" %}

{% load static %}
{% load console_templatetags %}

{% block title %}{{ SITE_NAME }} - Training{% endblock %}

{% block content %}
<h1>{{ training.user.get_full_name }} - Process Training</h1>
<hr>

<div class="card-columns row">
    <div class="col-sm-5">
        <div class="card mb-4">
            <div class="card-header">
                Application information
            </div>
            <div class="card-body">
                <h5>Personal</h5>
                <ul>
                  <li>Username:
                      <mark><a href="{% url 'user_management' training.user.username %}">{{ training.user.username }}</a></mark>
                  </li>
                  <li>First name: <mark>{{ training.user.profile.first_names }}</mark></li>
                  <li>Last name: <mark>{{ training.user.profile.last_name }}</mark></li>
                  {% if application.suffix %}<li>Suffix: {{ training.user.profile.suffix }} </li>{% endif %}
                  <li>Credentialed: <mark>{{ application.ref_credentialed_flag|yesno:"Yes,No" }}</mark></li>
                  <li>Email (primary): <mark>{{ training.user.email }}</mark></li>
                  <li>Emails (other): 
                    {% with associated_emails=training.user|get_verified_emails %}
                    {% for email in associated_emails %}
                      <mark>{{ email }}</mark>{% if not forloop.last %}, {% endif %}
                    {% empty %}N/A
                    {% endfor %}
                    {% endwith %}
                  </li>
                </ul>

                <h5>Training</h5>
                <ul>
                  <li>Type: <mark>{{ training.training_type.name }}</mark></li>
                  {% if training.completion_report %}
                  <li>Document: <mark><a href="{% url 'training_report' training.pk %}" target="_blank">Training report</a></mark></li>
                  {% endif %}
                  {% if training.completion_report_url %}
                    <li>URL: <mark><a href="{{ training.completion_report_url }}" target="_blank">External link</a></mark></li>
                  {% endif %}
                  <li>Submitted: {{ training.application_datetime|date }}</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                Document information
            </div>
            <div class="card-body">
                <p>
                    {% for field_name, matched_value in parsed_training_pdf.items %}
                        <strong><i>{{ field_name }}: </i></strong> {{ matched_value }} <br>
                    {% empty %}
                        Cannot parse document
                    {% endfor %}
                </p>
                <div>
                  <iframe src="{% url 'training_report' training.pk %}" style="width:100%;height:24rem;"></iframe>
                  <a href="{% url 'training_report' training.pk %}" target="_blank"><button class="btn btn-primary">Open</button></a><br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card mb-4">
            <div class="card-header">
                Reviewer Questions
            </div>
            <div class="card-body">
                <form action="" method="post" class="form-signin" onsubmit="return confirm ('Are you sure? ')">
                    {% csrf_token %}
                    {% include "console/formset_snippet.html" with formset=questions_formset %}
                    {% include "form_snippet.html" with form=training_review_form %}
                    <button class="btn btn-primary btn-fixed" name="accept" type="submit">Accept</button>
                    <button class="btn btn-danger btn-fixed" name="reject" type="submit">Reject</button>
                    <button class="btn btn-success btn-fixed" name="accept_all" value="{{ training.user.id }}" type="submit">Approve All</button>
                  </form>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                Guidelines
            </div>
            <div class="card-body">
                <ul>
                    <li>Does the name on the certificate match the name of the user?</li>
                    <li>Is the correct document attached (e.g. report, not certificate)?</li>
                    <li>Is the training up to date?</li>
                    <li>Are the required models complete?</li>
                    <li>Has the HIPAA module been completed?</li>
                </ul>
            </div>
        </div>

  </div>
</div>

{% endblock %}