{% extends "console/base_console.html" %}

{% load static %}
{% load console_templatetags %}

{% block title %}{{ SITE_NAME }} - Training{% endblock %}

{% block content %}
<h1>{{ training.user.get_full_name }} - Process Training</h1>
<hr>

<div class="card-columns row">
    <div class="col-sm-5">
        <div class="card mb-4">
            <div class="card-header">
                Application information
            </div>
            <div class="card-body">
                <p>
                    Username: <a href="{% url 'user_management' training.user.username %}">{{ training.user.username }}</a><br>
                    Email: {{ training.user.email }} <br>
                    Applied: {{ training.application_datetime|date }} <br>
                    Is credentialed: {{ training.user.is_credentialed|yesno:"Yes,No" }}
                </p>
                <h5>{{ training.training_type.name }} Training</h5>
                {% if training.completion_report %}
                    Document: <a href="{% url 'training_report' training.pk %}" target="_blank">Training report</a><br>
                {% endif %}
                {% if training.completion_report_url %}\
                    URL: <a href="{{ training.completion_report_url }}" target="_blank">{{ training.completion_report_url }}</a><br>
                {% endif %}
                Submitted on: {{ training.application_datetime|date }}
            </div>
        </div>
        <div class="card mb-4">
            {% if parsed_training_pdf.unknown_cert_type %}
                <div class="card-header">
                    Unknown certificate type
                </div>
            {% else %}
                <div class="card-header">
                    Informations from document
                </div>
                <div class="card-body">
                    <h5><strong>Training: </strong>{{ parsed_training_pdf.shortname }}</h5>
                    <p>
{#                    Consider for loop here#}
                        <strong><i>Username:</i></strong> {{ parsed_training_pdf.username }} <br>
                        {% if parsed_training_pdf.email != None %}
                            <strong><i>Email:</i></strong> {{ parsed_training_pdf.email }} <br>
                        {% endif %}
                        {% if parsed_training_pdf.certificate_id != None %}
                            <strong><i>Certificate ID:</i></strong> {{ parsed_training_pdf.certificate_id }} <br>
                        {% endif %}
                        {% if parsed_training_pdf.institution != None %}
                            <strong><i>Institution:</i></strong> {{ parsed_training_pdf.institution }} <br>
                        {% endif %}
                        {% if parsed_training_pdf.reported_score != None %}
                            <strong><i>Reported Score</i></strong> {{ parsed_training_pdf.reported_score }} <br>
                        {% endif %}
                        <strong><i>Issued on:</i></strong> {{ parsed_training_pdf.date }} <br>
                        {% if parsed_training_pdf.expiration_date %}
                            <strong><i>Expiration date:</i></strong> {{ parsed_training_pdf.expiration_date }} <br>
                        {% endif %}
                        {% if parsed_training_pdf.fullname %}
                            <strong><i>Course name:</i></strong> <i>{{ parsed_training_pdf.fullname }}</i>
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card mb-4">
            <div class="card-header">
                Reviewer Questions
            </div>
            <div class="card-body">
                <form action="" method="post" class="form-signin" onsubmit="return confirm ('Are you sure? ')">
                    {% csrf_token %}
                    {% include "console/formset_snippet.html" with formset=questions_formset %}
                    {% include "form_snippet.html" with form=training_review_form %}
                    <button class="btn btn-primary btn-fixed" name="accept" type="submit">Accept</button>
                    <button class="btn btn-danger btn-fixed" name="reject" type="submit">Reject</button>
                    <button class="btn btn-success btn-fixed" name="accept_all" value="{{ training.user.id }}" type="submit">Approve All</button>
                  </form>
            </div>
        </div>
  </div>
</div>

{% endblock %}