{% extends "console/base_console.html" %}

{% block title %}Submitted Projects{% endblock %}

{% load console_templatetags %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    {{ training.training_type.name }} Training - {{ training.user.get_full_name }} {% include "user/training_badge.html" %}
  </div>
  <div class="card-body">
    Document: <a href="{% url 'training_report' training.pk %}" target="_blank">Training report</a><br>
    Url: <a href="{{ training.completion_report_url }}" target="_blank">{{ training.completion_report_url }}</a><br>
    Submitted on: {{ training.application_datetime|date }}<br>
    {% if training.reviewer_comments %}
      Reviewer comments: {{ training.reviewer_comments }}
    {% endif %}
  </div>
</div>
<br>
{% endblock %}