{% extends "console/base_console.html" %}
{% load static %}

{% block local_css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'console/css/stats.css' %}"> -->
<!-- To reload changes, add the Unix timestamp -->
<link rel="stylesheet" type="text/css" href="/static/console/css/stats.css?{% now 'U' %}"/>
{% endblock %}

{% block local_js_top %}
<script src="{% static 'd3/d3.v3.min.js' %}"></script>
<script src="{% static 'd3/d3.tip.v0.6.3.js' %}"></script>
{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    Usage stats for reviewers
  </div>
  <div class="card-body">
    <div class="table-responsive">

      <p>Project tracking information<p>

      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tr>
          <th>Submission Date</th>
          <th></th>
          <th>Editor Assignment Date</th>
          <th></th>
          <th>Author Approval Date</th> 
          <th></th>
          <th>Publish Date</th>
        </tr>
        {% for project in projects %}
          <tr>
            <td>{{ project.submission_datetime|date }}</td>
            <td>{{ project.submission_datetime|timesince:project.editor_assignment_datetime }}</td>
            <td>{{ project.editor_assignment_datetime|date }}</td>
            <td>{{ project.editor_assignment_datetime |timesince:project.author_approval_datetime }}</td>
            <td>{{ project.author_approval_datetime|date }}</td>
            <td>{{ project.author_approval_datetime|timesince:project.publish_datetime}}</td>
            <td>{{ project.publish_datetime|date }}</td>
          </tr>
        {% endfor %}
      </table>

      <p>Time taken for projects<p>
      <div id="timeSE">
        {# Time Taken from Submission to Editor Assigned #}
      </div>
      <br>
      <div id="timeEA">
        {# Time Taken from Editor Assigned to Author Approval #}
      </div>
      <br>
      <div id="timeAP">
        {# Time Taken from Author Approval to Publication #}
      </div>

    </div>
  </div>
</div>

<script>

// Common parameters for all charts
// Set the dimensions of the canvas. Leave left and right margins for
// y axis scale numbers
var margin = {top: 40, right: 100, bottom: 70, left: 100},
  width = document.getElementById("timeSE").offsetWidth - margin.left - margin.right,
  height = width * 0.5 - margin.top - margin.bottom;

// Create the tooltips
var tip = d3.tip()
  .attr("class", "d3-tip")
  .offset([-10, 0])
  .html(function(d){
    return d3.time.format("%m-%d-%Y")(new Date(d.time_start));
  });

/**
 * Generate the two column chart from data.
 * @param  {JSON}   data        An array of json data to plot.
 * @param  {String} addId       Id of element to add the chart to.
 * @param  {String} chartTitle  The title of the chart.
 * @param  {String} xLabel      The title for the x-axis.
 * @param  {String} yLabel      The title for the y-axis.
 */
function generateChart(data, addId, chartTitle, xLabel, yLabel) {

  // Get the range of dates (dates should already be sorted)
  var minDate = new Date(data[0].time_start);
  var maxDate = new Date(data[data.length-1].time_start);

  // Set the axis sizes
  var x = d3.time.scale()
    .domain([minDate, maxDate])
    .range([0, width])
    .nice();

  var y = d3.scale.log()
    .domain([1, d3.max(data.map(function(d) { return d.time_elapsed; }))])
    .range([height, 0])
    .nice();

  // Define the axes
  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%m/%d/%Y"));

  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);

  var svg = d3.select("#" + addId)
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  // Add the tooltips to the svg
  svg.call(tip);

  // Add title
  svg.append("text")
    .attr("class", "graph-title")
    .attr("x", width/2)
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .text(chartTitle);

  // Text label for the x axis
  svg.append("text")             
    .attr("transform",
          "translate(" + (width/2) + " ," + 
            (height + margin.top + 20) + ")")
    .style("text-anchor", "middle")
    .text(xLabel);

  // Text label for the y axis
  svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 0 - margin.left)
    .attr("x",0 - (height / 2))
    .attr("dy", "1em")
    .style("text-anchor", "middle")
    .text(yLabel); 

  // Add x axis
  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

  // Add left y axis
  svg.append("g")
      .attr("class", "y axis axisLeft")
      .attr("transform", "translate(0,0)")
      .call(yAxis)
    .append("text")
      .attr("y", 6)
      .attr("dy", "-2em")
      .style("text-anchor", "start")

  // Add the bars for the barchart
  var bars = svg.selectAll(".bar")
      .data(data)
      .enter()
    .append("rect")
      .attr("class", "bar1")
      .on("mouseover", tip.show)
      .on("mouseout", tip.hide)
      .attr("x", function(d) { return x(new Date(d.time_start)); })
      .attr("width", (width) / (10*data.length))
      .attr("y", function(d) { return y(d.time_elapsed); })
      .attr("height", function(d) { return height - y(d.time_elapsed);});
}

// Generate the chart - time taken for projects
// To hold the json response
data_SE = {{ time_SE|safe }};
data_EA = {{ time_EA|safe }};
data_AP = {{ time_AP|safe }};
generateChart(data_SE, "timeSE", "Time Taken from Submission to Editor Assigned", "Submission Date", "Total Seconds");
generateChart(data_EA, "timeEA", "Time Taken from Editor Assigned to Author Approval", "Editor Assigned Date", "Total Seconds");
generateChart(data_AP, "timeAP", "Time Taken from Author Approval to Publication", "Author Approval Date", "Total Seconds");
</script>

{% include "console/charts.html" %}

{% endblock %}
