{% extends "console/base_console.html" %}

{% load static %}

{% block title %}Project Access{% endblock %}

{% block local_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'custom/css/pagination.css' %}">
{% endblock %}

{% block content %}
 <script src="{% static 'console/js/generic-filter.js' %}"></script>
 <div class="card mb-3">
  <div class="card-header">
    Users - logs<span class="badge badge-pill badge-info">{{ users.paginator.count }}</span>
  </div>
  <div class="card-body">
    <input id="searchbox" type="search" oninput="search();"  placeholder="Search...">
    <div class="table-responsive" id="searchitems"> 
      </form>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>User</th>
            <th>Logs count</th>
            <th>Logs</th>
          </tr>
        </thead>
        <tbody>
          {% include "console/user_access_logs_list.html" %}
        </tbody> 
      </table>
      {% include "console/pagination.html" with pagination=users %}
    </div>
  </div>
</div>
{% endblock %}

{% block local_js_bottom %}
  <script>
    const search = () => {
      const filters = {
        q: $('#searchbox').val()
      }
      filter('{% url 'user_access_logs' %}', filters)
    }
  </script>
{% endblock %}