{% extends "console/base_console.html" %}

{% load static %}

{% block title %}PhysioNet Users{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/pagination.css' %}">
{% endblock %}

{% block content %}
{% url 'user_list_inactive' as user_list_inactive %}
<script src="{% static 'custom/js/cookie.js' %}"></script>
<script src="{% static 'project/js/dynamic-formset.js' %}"></script>
<script src="{% static 'console/js/search-console.js' %}"></script>

<div class="card mb-3">
  <div class="card-header">
    PhysioNet Users <span class="badge badge-pill badge-info">{{ users.paginator.count }}</span>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      {% if request.path == user_list_inactive %}
      <input type="search" oninput="search('{% url "users_list_search" group="inactive" %}', value);" placeholder="Search...">
      {% else %}
      <input type="search" oninput="search('{% url "users_list_search" group="all" %}', value);" placeholder="Search...">
      {% endif %}
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Join Date</th>
            <th>Last Login</th>
            <th>Logins  {% if request.path != user_list_inactive %}(90 days){% else %}(total){% endif %}</th>
            <th>Credentialed</th>
          </tr>
        </thead>
        <tbody id="searchitems">
          {% include 'console/users_list.html' %}
        </tbody>
      </table>
      {% include "console/pagination.html" with pagination=users %}
    </div>
  </div>
</div>
{% endblock %}
