{% extends "console/base_console.html" %}

{% load static %}

{% block title %}PhysioNet Users{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'search/css/content-index.css' %}">
{% endblock %}

{% block content %}
{% url 'user_list_inactive' as user_list_inactive %}
<script src="{% static 'custom/js/cookie.js' %}"></script>
<script src="{% static 'project/js/dynamic-formset.js' %}"></script>
<script type="text/javascript">
 function search(value){
  var csrftoken = getCookie('csrftoken');
  $.ajax({
    type: "POST",
    url: "{% url 'users_list_search' %}",
    data: {'csrfmiddlewaretoken':csrftoken,
            'search_field':value,
            {% if request.path == user_list_inactive %}
              'inactive':true,
            {% endif %}
    },
    success: function reloadSection(result){
        $("#userlist").html(result);
    },
  });
 }
</script>
<div class="card mb-3">
  <div class="card-header">
    {% ifequal request.path user_list_inactive %}Inactive
      PhysioNet Users <span class="badge badge-pill badge-danger">{{ users.paginator.count }}</span>
    {% else %}
      PhysioNet Users <span class="badge badge-pill badge-info">{{ users.paginator.count }}</span>
    {% endifequal %}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <input type="search" oninput="search(value);" placeholder="Search...">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Join Date</th>
            <th>Last Login</th>
            <th>Logins  {% if request.path != user_list_inactive %}(90 days){% else %}(total){% endif %}</th>
            <th>Credentialed</th>
          </tr>
        </thead>
        <tbody id="userlist">
          {% include 'console/users_list.html' %}
        </tbody>
      </table>
      {% include "console/pagination.html" with pagination=users %}
    </div>
  </div>
</div>
{% endblock %}
