{% extends "console/base_console.html" %}

{% load static %}

{% block title %}{{ SITE_NAME }} Users{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/pagination.css' %}">
{% endblock %}

{% block content %}
<script src="{% static 'custom/js/cookie.js' %}"></script>
<script src="{% static 'project/js/dynamic-formset.js' %}"></script>
<script src="{% static 'console/js/search-console.js' %}"></script>

<div class="card mb-3">
  <div class="card-header">
    {{ SITE_NAME }} Users <span class="badge badge-pill badge-info">{{ users.paginator.count }}</span>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      {% if group == 'inactive' %}
      <input type="search" oninput="search('{% url "users_list_search" group="inactive" %}', value);" placeholder="Search...">
      {% elif group == 'active' %}
      <input type="search" oninput="search('{% url "users_list_search" group="active" %}', value);" placeholder="Search...">
      {% else %}
      <input type="search" oninput="search('{% url "users_list_search" group="all" %}', value);" placeholder="Search...">
      {% endif %}
      {% include 'console/users_list.html' %}
    </div>
  </div>
</div>
{% endblock %}
