{% extends "console/base_console.html" %}

{% load static %}

{% block title %}User management{% endblock %}

{% block content %}

<div class="col-md-9 no-pd">
  <h1>{{ subject.get_full_name }} ({{ subject.username }})</h1>
  <br />
  <h3>Profile</h3>
  <hr>
  <div class="row mb-1">
    <div class="col-md-3">
      Name:
    </div>
    <div class="col-md-9">
      {{ subject.get_full_name }}
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-md-3">
      Account activated:
    </div>
    <div class="col-md-9">
      {{ subject.is_active }}
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-md-3">
      Credentialed:
    </div>
    <div class="col-md-9">
      {{ subject.is_credentialed }}
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-md-3">
      Amazon ID
    </div>
    <div class="col-md-9">
      {% if aws_info %}
        {{ aws_info }}
      {% else %}
        Not provided.
      {% endif %}
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-md-3">
      Google Cloud ID:
    </div>
    <div class="col-md-9">
      {% if gcp_info %}
        {{ gcp_info }}
      {% else %} 
        Not provided.
      {% endif %}
    </div>
  </div>
  
    <div class="row mb-1">
      <div class="col-md-3">
        Affiliation:
      </div>
      <div class="col-md-9">
        {% if profile.affiliation %}
          {{ profile.affiliation }}
        {% else %}
          Not provided.
        {% endif %}
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-3">
        Personal Website:
      </div>
      <div class="col-md-9">
        {% if profile.website %}
        <a href="{{ profile.website }}" rel="nofollow">{{ profile.website }}</a>
        {% else %}
         Not provided.
        {% endif %}
      </div>
    </div>

  {% if profile.location %}
    <div class="row mb-1">
      <div class="col-md-3">
        Location:
      </div>
      <div class="col-md-9">
        {{ profile.location }}
      </div>
    </div>
  {% endif %}

  {% for status, group in emails.items %}
    <div class="row mb-1">
        <div class="col-md-3">
          Email ({{ status }}):
        </div>
        <div class="col-md-9">
          {% for email in group %}
            {{ email|join:", " }}
          {% empty %}
            N/A
          {% endfor %}
        </div>
    </div>
  {% endfor %}

  <br />
  <h3>Permission groups</h3>
  <hr>
    <div class="row mb-1">
      {% if groups %}
      <div class="col-md-6">
        The user is a member of the following groups:
      </div>
      <div class="col-md-9">
        <ul>
        {% for group in groups %}
            <li><a href="{% url 'user_group' group.name %}">{{ group.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% else %}
        <div class="col-md-6">
          The user does not belong to a permission group.
        </div>
        {% endif %}
    </div>

  <br />
  <h3>Projects</h3>
  <hr>
  {% for status, group in projects.items %}
  <h4>{{ status }} projects</h4>
    <ul>
      {% for project in group %}
        {% if status == "Unsubmitted" %}
          <li><a href="{% url 'submission_info' project.slug %}">{{ project.title }}
            </a> ({% if project.version %}v{{ project.version }}{% else %}version TBC{% endif %})</li>
        {% elif status == "Submitted" %}
          <li><a href="{% url 'submission_info' project.slug %}">{{ project.title }}
            </a> (v{{ project.version }})</li>
        {% elif status == "Archived" %}
          <li><a href="{% url 'archived_submission_history' project.slug %}">{{ project.title }}
            </a> (v{{ project.version }})</li>
        {% elif status == "Published" %}
          <li><a href="{% url 'manage_published_project' project.slug project.version %}">{{ project.title }}
            </a> (v{{ project.version }})</li>
        {% endif %}
      {% empty %}
        <li>None.</li>
      {% endfor %}
    </ul>
  {% endfor %}

  <br>
  <h3>Training</h3>
  <hr>
    {% for status, training in training_list.items %}
    <h4>{{ status }}</h4>
      <ul>
        {% for train in training %}
          <li>
            {{ train.training_type.name }}
            {% if status == "Under review" %}
              <a href="{% url 'training_process' train.id %}">(View training)</a>
            {% endif %}
          </li>
        {% empty %}
          <li> N/A </li>
        {% endfor %}
      </ul>
    {% endfor %}
  
  <br />
  <h3>Credentialing history</h3>
  <hr>
  <ul>
  {% for cred_app in credentialing_app %}
    <li><strong>Submitted: {{ cred_app.application_datetime }}</strong><br />
    {% if cred_app.status == 0 %} 
      Status: Pending <a href="{% url 'process_credential_application' cred_app.slug %}">(View application)</a>
    {% else %}
      Status: {{ cred_app.get_status_display }}
    {% endif %}<br />
    Reviewer: 
      {% if cred_app.responder %}
        {{ cred_app.responder }}
      {% else %}
        N/A
      {% endif %}
    <br />
    Reviewer comments: 
      {% if cred_app.responder_comments %}
        {{ cred_app.responder_comments }}
      {% else %}
        N/A
      {% endif %}
    </li>
  {% empty %}
    <li>No applications found.</li>
  {% endfor %}
  </ul>
  
</div>
{% endblock %}
