<div id="searchitems">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        {% if group == 'all' %}<th>Activated</th>{% endif %}
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Join Date</th>
        <th>Last Login</th>
        <th>Logins  {% if category != 'inactive' %}(90 days){% else %}(total){% endif %}</th>
        <th>Credentialed</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        {% if group == 'all' %}<td>{% if user.is_active %}<span class="fa fa-check"><span class="visually-hidden">&#10004;</span></span>{% endif %}</td>{% endif %}
        <td><a href="{% url 'user_management' user.username %}">{{ user.username }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.join_date }}</td>
        <td>{{ user.last_login|date }}</td>
        <td>{{ user.login_time_count }} </td>
        <td>{{ user.credential_datetime|date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "console/pagination.html" with pagination=users %}
</div>