{% extends "console/base_console.html" %}

{% load static %}

{% block title %}User management{% endblock %}

{% block content %}

<div class="col-md-9 no-pd">
  <h1>{{ subject.username }}</h1>
  <hr>
  <h3>Profile</h3>
  <div class="row mb-1">
    <div class="col-md-3">
      Name:
    </div>
    <div class="col-md-9">
      {{ subject.get_full_name }}
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-md-3">
      Activation status:
    </div>
    <div class="col-md-9">
      {{ subject.is_active }}
    </div>
  </div>

  {% if profile.affiliation %}
    <div class="row mb-1">
      <div class="col-md-3">
        Affiliation:
      </div>
      <div class="col-md-9">
        {{ profile.affiliation }}
      </div>
    </div>
  {% endif %}

  {% if profile.location %}
    <div class="row mb-1">
      <div class="col-md-3">
        Location:
      </div>
      <div class="col-md-9">
        {{ profile.location }}
      </div>
    </div>
  {% endif %}

  {% for status, group in emails.items %}
    <div class="row mb-1">
        <div class="col-md-3">
          Email ({{ status }}):
        </div>
        <div class="col-md-9">
          {% for email in group %}
            {{ email|join:", " }}
          {% empty %}
            N/A
          {% endfor %}
        </div>
    </div>
  {% endfor %}

  {% if profile.website %}
    <div class="row mb-1">
      <div class="col-md-3">
        Website:
      </div>
      <div class="col-md-9">
        <a href="{{ profile.website }}" rel="nofollow">{{ profile.website }}</a>
      </div>
    </div>
  {% endif %}

  <br />
  <h3>Projects</h3>
  {% for status, group in projects.items %}
  <h4>{{ status }} projects</h4>
    <ul>
      {% for project in group %}
        {% if status == "Unsubmitted" %}
          <li><a href="{% url 'submission_info' project.slug %}">{{ project.title }}
            </a> ({% if project.version %}v{{ project.version }}{% else %}version TBC{% endif %})</li>
        {% elif status == "Submitted" %}
          <li><a href="{% url 'submission_info' project.slug %}">{{ project.title }}
            </a> (v{{ project.version }})</li>
        {% elif status == "Archived" %}
          <li><a href="{% url 'rejected_submission_history' project.slug %}">{{ project.title }}
            </a> (v{{ project.version }})</li>
        {% elif status == "Published" %}
          <li><a href="{% url 'manage_published_project' project.slug project.version %}">{{ project.title }}
            </a> (v{{ project.version }})</li>
        {% endif %}
      {% empty %}
        <li>None.</li>
      {% endfor %}
    </ul>
  {% endfor %}
  <br>
  <h3>User Training</h3>
    {% for status, training in trainings.items %}
    <h5>{{ status }} Trainings</h5>
      <ul>
        {% for training in training %}
          <li>
            {{ training.training_type.name }}
          </li>
        {% empty %}
          <li> N/A </li>
        {% endfor %}
      </ul>
    {% endfor %}
  <br>
  <h3>Credentialing history</h3>
  <ul>
  {% for cred_app in credentialing_app %}
    <li><strong> Application {{ forloop.counter }}</strong><br />
    Date: {{ cred_app.application_datetime }}<br />
    {% if cred_app.status == 0 %} 
      Status: Pending<br />
    {% else %}
      Status: {{ cred_app.get_status_display }}<br />
    {% endif %}
    Reviewer: {{ cred_app.responder }}<br />
    Reviewer comments: {{ cred_app.responder_comments }}
    </li>
  {% empty %}
    <li>No applications found.</li>
  {% endfor %}
  </ul>
  
</div>
{% endblock %}
