/*.citation {
  margin-top: 0.25rem !important;
  margin-left: 3rem !important;
  margin-right: 3rem !important;
  background: rgb(230, 230, 230) !important;
}*/

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 40px;
  padding-right: 40px;
  background: #F0F0F0;
}

a{
  word-break: break-all;
}

@media (min-width: 768px){
  .btn-right{
    float: right;
  }

  .name{
    padding-left: 2.5em;
  }

  .col-md-8{
    padding-left: 0;
  }

  .col-md-4{
    padding-right: 0;
  }
}

@media (max-width: 767px){
  .col-md-4{
    padding-left: 0;
  }

  .list-group, .list-group .row{
    display: block;
  }

  .dropdown-menu.show{
    transform: unset !important;
    width: 100%;
    margin-bottom: 20px;
  }

  .col-md-8, .col-md-4{
    padding: 0;
  }
}


