{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
{{ project_info }}

Dear {{ name }},

Based on the recommendations of our editors, we are delighted to accept your project entitled "{{ project.title }}" for publication on {{ SITE_NAME }}.

A summary of our standard set of editorial checks is listed below:
{% for result in edit_log.quality_assurance_results %}- {{ result }}
{% endfor %}
Additional comments from the editorial team are listed below:
{{ edit_log.editor_comments }}

After copyediting of the project and files is complete, we will be in touch again. Then, once all authors approve of the copyedited version at {{ url_prefix }}{% url 'project_submission' project.slug %}, the project will be ready for publication.

{{ signature }}

{{ footer }}
{% endfilter %}{% endautoescape %}
