{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
Dear {{ application.reference_name }},

{{ applicant_name }} is applying for credentialed access to PhysioNet, the website for sharing biomedical data. He/She has listed you as a reference for the application and he/she has summarized the research project as follows:

{{application.research_summary}}

Are you familiar with {{ applicant_name }}'s research, and in your view would it be reasonable to grant this request?

If you support this application for credentialed access, please indicate your approval using the link below. If you do not support the application, please ignore this email or update us directly via the link.

{{ url_prefix }}{% url 'credential_reference' application.slug %}

{{ signature }}
{% endfilter %}{% endautoescape %}
