{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
{{ project_info }}

Dear {{ name }},

We are pleased to say that copyediting of your project entitled "{{ project.title }}" is now complete. To proceed with publication, you must now approve the project using the following link:

{{ url_prefix }}{% url 'project_submission' project.slug %}

{% if copyedit_log.made_changes %}
The changes made during the copyediting process are summarized below:
{{ copyedit_log.changelog_summary }}
{% else %}We were satisfied with the state of your project, so no changes were made during the copyediting process.{% endif %}

Please check this version carefully because it will not be possible to edit the project after publication. When all authors have approved the project using the online system, it will be ready for publication on {{ SITE_NAME }}.

{{ signature }}

{{ footer }}
{% endfilter %}{% endautoescape %}
