{% load i18n %}{% autoescape off %}
Dear {{ application.full_name }}
{% if application.status == 2 %}
Your PhysioNet credentialing application has been accepted. You are now a credentialed PhysioNet user and can access restricted-access PhysioNet databases if you agree to their terms of usage.
{% else %}
Your PhysioNet credentialing application has been rejected. The following comments were made:

"""
{{ application.responder_comments }}
"""

If you like, you may open a new credentialing application at: http://{{ domain }}{% url 'credential_application' %}
{% endif %}

Regards
The PhysioNet team
{% endautoescape %}
