{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
{{ project_info }}

Dear Colleague,

You have been invited by {{ inviter_name }} ({{ inviter_email }}) to co-author a project entitled "{{ project.title }}" on {{ domain }}. Please accept or decline this request as appropriate. If you accept the invitation, you will also need to provide your affiliation.

You may respond to the invitation from your project homepage ({{ url_prefix }}{% url "project_home" %}). If the email address {{ target_email }} is not associated with your {{ domain }} account, please add it to your profile.

If you do not have an account, please register here: {{ url_prefix }}{% if sso_enabled %}{% url "login" %}{% else %}{% url "register" %}{% endif %}. Once you have registered, you will find the pending invitation on your project home page.

{{ signature }}

{{ footer }}
{% endfilter %}{% endautoescape %}
