{% load i18n %}{% autoescape off %}
{{ project_info }}

Dear Colleague,

You have been invited by {{ inviter_name }} ({{ inviter_email }}) to co-author a project entitled "{{ project.title }}" on {{ domain }}. Please accept or decline this request as appropriate.

If you already have a {{ domain }} account, you may respond from your project home page: http://{{ domain }}{% url "project_home" %}. If this email address is not associated with your account, you may add it from your email settings page or ask your co-author to resend their invitation to an alternative address.

If you do not have an account, please register here: http://{{ domain }}{% url "register" %}. Once you have registered, you will find the pending invitation on your project home page.

{{ signature }}

{{ footer }}
{% endautoescape %}
