{% load i18n %}{% autoescape off %}
----------------
It is hereby agreed between the data requestor, hereinafter referred to as the "LICENSEE", and MIT-LCP, that:

1. The LICENSEE will not attempt to identify any individual or institution referenced in PhysioNet restricted data.
2. The LICENSEE will exercise all reasonable and prudent care to avoid disclosure of the identity of any individual or institution referenced in PhysioNet restricted data in any publication or other communication.
3. The LICENSEE will not share access to PhysioNet restricted data with anyone else.
4. The LICENSEE will exercise all reasonable and prudent care to maintain the physical and electronic security of PhysioNet restricted data.
5. If the LICENSEE finds information within PhysioNet restricted data that he or she believes might permit identification of any individual or institution, the LICENSEE will report the location of this information promptly by email to PHI-report@physionet.org, citing the location of the specific information in question.
6. The LICENSEE will use the data for the sole purpose of lawful use in scientific research and no other.
7. The LICENSEE will be responsible for ensuring that he or she maintains up to date certification in human research subject protection and HIPAA regulations.
8. The LICENSEE agrees to share any code associated with publications arising from this data on a defined PhysioNet repository (physionet.org/physiotools/repository/).
9. This agreement may be terminated by either party at any time, but the LICENSEE's obligations with respect to PhysioNet data shall continue after termination.
----------------

Application Date: {{ application.application_datetime|date }}
My first (given) name(s): {{ application.first_names }}
My last (family) name(s): {{ application.last_name }}
Suffix (e.g., Jr.), if applicable: {{ application.suffix }}
My PhysioNet email: {{ application.user.email }}
Researcher Category: {{ application.get_researcher_category_display }}
Organization Name: {{ application.organization_name }}
Job title or position: {{ application.job_title }}
City: {{ application.city }}
State/Province: {{ application.state_province }}
Country: {{ application.get_country_display }}
Webpage: {% if application.webpage %}{{ application.webpage }}{% endif %}
General research area for which the data will be used: {{ application.research_summary }}

Human studies training course (name of course): {{ application.training_course_name }}
Date completed: {{ application.training_completion_date }}

Reference Category: {{ application.get_reference_category_display }}
Reference's Name: {{ application.reference_name }}
Reference's Email: {{ application.reference_email }}
Reference's job title or position: {{ application.reference_title }}

{% if application.course_category %}
Course Category: {{ application.get_course_category_display }}
Course Info: {{ application.course_info }}
{% endif %}

{% endautoescape %}