{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
Dear {{ applicant_name }},

Thank you for submitting your request for credentialed access to {{ SITE_NAME }}. If your request is approved, you will be authorized to use protected databases upon signing Data Use Agreements and completing any required training. 

To submit your training documents for review, please visit: {{ url_prefix }}{% url 'edit_training' %}.

Please note that each dataset may have its own data usage terms and/or training requirements. The specific training requirements and data usage terms for each dataset are listed in the project description.

Please allow {{ estimated_time_for_credentialing }} for your application to be reviewed and processed. Thank you for your understanding and patience. You can follow the status of your application at: {{ url_prefix }}{% url 'credential_application' %}.

{{ signature }}

{{ footer }}
{% include "notification/email/mailto_contact_applicant.html" with dua=dua %}
{% endfilter %}{% endautoescape %}
