Dear {{ user.get_full_name }},

{% if data_access.platform == 3 %}
You have requested access to use {{ project }} in GCP Storage.

The URL for the storage bucket in GCP is:
https://console.cloud.google.com/storage/browser/{{ project.gcp.bucket_name }}

You can use the following command to copy the content of the bucket to your computer:
gsutil -m -u YOUR_PROJECT_ID cp -r gs://{{ project.gcp.bucket_name }} DESTINATION

To access this bucket from the command line, you will need to set
up Google Cloud credentials as described here:
https://cloud.google.com/storage/docs/gsutil_install#authenticate

{% else %}
You have requested access to use {{ project }} in GCP BigQuery.

For information on how to access this resource please follow these steps
1. Navigate to: https://console.cloud.google.com/bigquery
2. In the left sidebar, there will be a button saying "+ADD DATA". Click it and pin the project "physionet-data".
3. You should now see the {{ SITE_NAME }} datasets in the left sidebar.
   - If you don't have access to a particular dataset, no information will be displayed when you click on the dataset name (and you may see a spinning circle icon).
   - If you cannot add the project "physionet-data", please access it through this link: https://console.cloud.google.com/bigquery?project=physionet-data&page=dataset
{% endif %}

{{ signature }}
