{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
Dear {{ applicant_name }},

Thank you for submitting your data use agreement. If it is approved, you will be authorized to use restricted-access {{ SITE_NAME }} clinical databases.

Below is a copy of the agreement you submitted. Please review it for accuracy, looking especially for inaccuracies caused by browser auto-fill.

It may take several weeks to process your request. Thank you for your understanding and patience.

{{ signature }}

{{ footer }}
{% include "notification/email/mailto_contact_applicant.html" with dua=dua %}
{% endfilter %}{% endautoescape %}
