{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
Dear {{ applicant_name }},

{% if application.status == 1 %}Thank you for applying for credentialed access to PhysioNet. Your application was not approved. This may be for one of the following reasons:

- It was incomplete, or included obviously incorrect information (perhaps as a result of browser auto-fill).
- You did not submit the required CITI completion report, listing the training modules you completed, with dates and scores.
- Your CITI training is out of date.
- You are a student, postdoc, intern, or trainee, but did not list your supervisor (a faculty member or someone with a senior research appointment at your institution) as reference.
- Your research summary did not include sufficient information, or was in some other way inadequate.

{% if comments and application.status == 1 %}The following comments were added to your application:

{{ application.responder_comments }}

If you are able to address these issues, please open a new credentialing application at {{ url_prefix }}{% url 'credential_application' %}.
{% endif %}
{% elif application.status == 2 %}Thank you for your interest in the PhysioNet Clinical Databases. We are pleased to say that your application for credentialed access has been approved. You are now able to access protected databases upon agreeing to the terms of usage. For example, you can access MIMIC-III by following the steps below:

- Go to the project page at {{ url_prefix }}{% url 'published_project_latest' 'mimiciii' %}
- Find the “Files” section in the project description
- Click “Sign the data use agreement” to agree to the terms of usage for this dataset

{% endif %}{{ signature }}

{{ footer }}
{% endfilter %}{% endautoescape %}