{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
Dear {{ applicant_name }},

{% if application.status == CredentialApplication.Status.REJECTED %}Thank you for applying for credentialed access to {{ SITE_NAME }}. Your application was not approved. This may be for the following reason(s):

{% if application.auto_rejection_reason == 'NRFR' %}

- We did not receive a response from your reference.

{% elif include_comments %}

{{ application.responder_comments }}

{% else %}

- It was incomplete, or included obviously incorrect information (perhaps as a result of browser auto-fill).
- You are a student, postdoc, intern, or trainee, but did not list your supervisor (a faculty member or someone with a senior research appointment at your institution) as reference.
- Your research summary did not include sufficient information, or was in some other way inadequate.

{% endif %}

If you are able to address the issue(s), please open a new credentialing application at {{ url_prefix }}{% url 'credential_application' %}.

{% elif application.status == CredentialApplication.Status.ACCEPTED %}Thank you for your interest in the {{ SITE_NAME }} Clinical Databases. We are pleased to say that your application for credentialed access has been approved.

{% if example_project %}
You are now able to access protected databases upon agreeing to the terms of usage and completing any required training. For example, you can access {{ example_project.title }} by following the steps below:

- Go to the project page at {{ url_prefix }}{% url 'published_project_latest' example_project.slug %}
- Find the “Files” section in the project description
- Follow instructions to complete required training, if necessary.
- Click “Sign the Data Use Agreement” to agree to the terms of usage for the dataset
{% endif %}

To check the status of your training or to submit training documents for review, please visit {{ url_prefix }}{% url 'edit_training' %}.

{% endif %}{{ signature }}

{{ footer }}
{% endfilter %}{% endautoescape %}
