{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
Dear {{ applicant_name }},

{% if training.status.name == "REJECTED" %}Thank you for submitting your "{{ training.training_type.name }}" documentation to {{ SITE_NAME }}. Your training was not approved. This may be for the following reason(s):
{% if include_comments %}
{{ training.reviewer_comments }}

{% else %}

- The document included obviously incorrect information.
- The document did not list required training modules, with dates and scores.
- The training is out of date.

{% endif %}
If you are able to address the issue(s), please resubmit your training at: {{ url_prefix }}{% url 'edit_training' %}.

{% elif training.status.name == "ACCEPTED" %}We are pleased to say that your "{{ training.training_type.name }}" training was approved.
{% if training.user.is_credentialed and example_project %}
You are now able to access protected databases upon agreeing to the terms of usage. For example, you can access {{ example_project.title }} by following the steps below:

- Go to the project page at {{ url_prefix }}{% url 'published_project_latest' example_project.slug %}
- Find the “Files” section in the project description
- Click “Sign the data use agreement” to agree to the terms of usage for this dataset
{% else %}
Before accessing protected databases such as MIMIC-III, you will also need to complete the credentialing process.

You can submit a new credentialing application or check the status of an existing application at: {{ url_prefix }}{% url 'credential_application' %}
{% endif %}

{% endif %}{{ signature }}

{{ footer }}
{% endfilter %}{% endautoescape %}
