{% load i18n %}{% autoescape off %}
{{ project_info }}

Dear {{ applicant_name }},
{% if application.status == 2 %}
We are pleased to say that your application for credentialed access to PhysioNet has been accepted. You are now a credentialed user with the ability to access restricted-access PhysioNet databases upon agreeing to the terms of usage.
{% else %}
Thank you for applying for credentialed access to PhysioNet. Your application has not been approved for the reason outlined below:

"""
{{ application.responder_comments }}
"""

If you are able to address these issues, please open a new credentialing application at: http://{{ domain }}{% url 'credential_application' %}
{% endif %}

{{ signature }}

{{ footer }}
{% endautoescape %}
