{% load i18n %}{% autoescape off %}{% filter wordwrap:70 %}
{{ project_info }}

Dear {{ name }},

We are writing to inform you that the review process for your project entitled "{{ project.title }}" is complete. Based on the review, our decision is that the project is not suitable for publication in its current form.

A summary of the review is listed below:
{% for result in edit_log.quality_assurance_results %}- {{ result }}
{% endfor %}

Additional comments by the editorial team follow below:
{{ edit_log.editor_comments }}

Your project has been closed, but we would welcome a new submission if you are able to address these issues. Thanks for submitting your work to {{ SITE_NAME }} and we are sorry not to be able to publish it on this occasion.

{{ signature }}

{{ footer }}
{% endfilter %}{% endautoescape %}
