[Unit]
Description=Command that runs Django background tasks
After=emperor.uwsgi.service

[Service]
Environment=DJANGO_SETTINGS_MODULE=physionet.settings.production
ExecStart=/physionet/python-env/physionet/bin/python /physionet/physionet-build/physionet-django/manage.py process_tasks --log-std
Restart=always
KillSignal=SIGINT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
