{% load i18n %}{% autoescape off %}
Dear {{ name}}

The editor has accepted the publication of your project: {{ project.title }}, with the following comments:

"{{ editor_comments }}"

The editor will now copyedit the project's metadata and files for any final changes. They will email you when they have finished making changes, to ask for your approval. When all of the project's authors approve of the copyedits at: http://{{ domain }}{% url 'project_submission' project.id %}, the editor will be able to complete this step and publish the project.

Regards
The PhysioNet Team
{% endautoescape %}
