<section id="physionet">
  <h1>What is PhysioNet</h1>
  <br>
  <p>PhysioNet is a unique resource for research and education, offering free access to large collections of physiological data and related open-source software. In cooperation with the annual <a href="http://www.cinc.org/" target="_blank">Computing in Cardiology</a> conference, PhysioNet also hosts an annual series of challenges, focusing research on unsolved problems in clinical and basic science. PhysioNet is managed by members of the <a href="https://lcp.mit.edu/">MIT Laboratory for Computational Physiology</a>. For a brief history, see our <a href="{% url 'timeline' %}">timeline</a>. </p>
</section>

<!-- <section id="software">
  <div class="container">
        <h2>Content</h2>
        <p>Some brief highlights of software includes:</p>
        <h5>XXX</h5>
        <ul>
          <li><a href="#"></li>
          <li><a href="#"></li>
        </ul>
  </div>
</section> -->

<br>
<hr>
<br>

<section id="funding">
  <h1>Funding</h1>
  <br>
  <p>PhysioNet was originally established under the auspices of the NIH's National Center for Research Resources in 1999. We gratefully acknowledge support from the following organizations:</p>
  <ul>
    <li>NIH National Institute of Biomedical Imaging and Bioengineering and the National Institute of General Medical Sciences, under grant <em>2R01GM104987-09</em>.</li>
  </ul>
</section>
