{% extends "base.html" %}

{% load static %}

{% block title %}
About PhysioNet
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/agency.css' %}"/>
{% endblock %}


{% block content %}
<section class="bg-light" id="funding">
  <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Funding</h2>
          <h3 class="section-subheading text-muted">All hail the hypnotoad.</h3>
          <p>PhysioNet is supported by the <a href="http://www.nigms.nih.gov/" target="_blank">National Institute of General Medical Sciences</a> and the <a href="https://www.nibib.nih.gov/" target="_blank">National Institute of Biomedical Imaging and Bioengineering</a> under NIH grant number: <em>2R01GM104987-09</em>.</p>
        </div>
      </div>
  </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">The PhysioNet Team</h2>
          <h3 class="section-subheading text-muted">All hail the hypnotoad.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'about/hypnotoad.jpg' %}" alt="">
            <h4>Hypno-Toad</h4>
            <p class="text-muted">Lead Designer Lead Designer Lead Designer Lead Designer Lead Designer Lead Designer Lead Designer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-playstation"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'about/hypnotoad.jpg' %}" alt="">
            <h4>Hypno-Toad</h4>
            <p class="text-muted">Lead Marketer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-playstation"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'about/hypnotoad.jpg' %}" alt="">
            <h4>Hypno-Toad</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-playstation"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">If you would like to join our team, allow yourself to succumb to the influence of the hypnotoad.</p>
        </div>
      </div>
    </div>
</section>
{% endblock %}
