{% extends "base.html" %}

{% load static %}

{% block title %}
About
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/about.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/timeline.css' %}">
{% endblock %}


{% block content %}
<div class="main">
  <div class="row">
    <div class="main-side">

      <div class="card">
        <h2 class="card-header">About</h2>
        <div class="card-body">
          <ul>
            <li><a href="#submittal">What is PhysioNet</a></li>
            <li><a href="#sharing">Reasons to share</a></li>
            <li><a href="#databases">Database highlights</a></li>
            <li><a href="#funding">Funding</a></li>
          </ul>
        </div>
      </div>

       <div class="card my-4">
        <h2 class="card-header">Contact</h2>
        <div class="card-body">
          <ul>
            <li><a href="#form">Submit your message</a></li>
          </ul>
        </div>
      </div>
    </div><div class="main-content">
      <h1>About</h1>
      <br>
      <div>{% include "about/about_physionet.html" %}</div>
      <br>
      <hr>
      <br>
      {% include "message_snippet.html" %}
      <h1 id="contact">Contact</h1>
      <br>
      <div>{% include "about/contact.html" %}</div>
      <br>
      <hr>
    </div>
  </div>
</div>

{% endblock %}
