{% extends "base.html" %}

{% load static %}

{% block title %}
About
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/about.css' %}">
{% endblock %}


{% block content %}
<div class="main">
  <div class="row">
    <div class="main-side">

      <div class="card">
        <h2 class="card-header">About</h2>
        <div class="card-body">
          <ul>
            <li><a href="#physionet">PhysioNet: Brief Introduction</a></li>
            <li><a href="#resource">Community resource</a></li>
            <li><a href="#history">Brief Historical Background</a></li>
            <li><a href="#funding">Funding</a></li>
            <li><a href="#citation">Citation of the Resource</a></li>
            <li><a href="#contact">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div><div class="main-content">
      <div>{% include "about/about_physionet.html" %}</div>
      <br>
      {% include "message_snippet.html" %}
      <h1 id="contact">Contact us</h1>
      <div class="indented-box">
        <div>{% include "about/contact.html" %}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
