<p>Set the access policy and terms of reuse for your resource. The descriptive
  metadata of all published projects are publically visible. The following
  access policies control access to the files:</p>
<ol>
  <li><strong>Open</strong>: Anyone can access the files, as long
    as they conform to the terms of the specified
    <a href="{% url 'licenses' %}">license</a>.
    No data use agreement (DUA) is provided.</li>
  <li><strong>Restricted</strong>: Only logged in users who sign
    the specified
    <a href="{% url 'duas' %}">data use agreement</a> can access the
    files.</li>
  <li><strong>Credentialed</strong>: Only PhysioNet credentialed users who sign
    the specified DUA can access the files. This tier is only for sensitive
    databases. Please <a href="{% url 'contact' %}">
    contact us</a> beforehand if you would like to contribute such a
    resource.</li>
</ol>

<p>* Only PhysioNet affiliated users may select protected-access policies.</p>
