<p>Each project has one or more <strong>authors</strong>: the people
   responsible for creating the resource. Only the
   <strong>submitting author</strong> who creates the project, can
   invite, remove, and *reorder authors, edit the project's content,
   and submit the project for review. A <strong>corresponding author</strong>
   must be chosen to support the published resource.</p>

<p>The submitting author can invite a co-author to the project by
   specifying an email address. An email will be sent to the target
   email address. If a PhysioNet account is already associated with
   the specified email, the invitation will appear in the user's
   <a href="{% url 'project_home' %}" target="_blank">project
   home</a> page. If not, once they associate the email to
   their existing account, or create a new account with the email,
   they will be able to view and accept the invitation in the
   aforementioned location.</p>

<p>All authors must fill in their own affiliation information on a
   project by project basis, which is not tied to the affiliation
   listed in their PhysioNet profiles.
</p>

<p><em>* The author order is the order in which author names will be
   displayed in the published project.</em>
</p>
