{% extends "base.html" %}

{% load static %}

{% block title %}
PhysioNet Challenges
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/about.css' %}">
{% endblock %}


{% block content %}

<div class="main">
  <div class="row">
    <div class="main-side">

      <div class="card">
        <h2 class="card-header">PhysioNet Challenges</h2>
        <div class="card-body">

            <!-- Challenges -->
            <ul>
              <li><a href="#forum">Challenge forum</a></li>
              <li><a href="#2018">2018</a></li>
              <li><a href="#2017">2017</a></li>
              <li><a href="#2016">2016</a></li>
              <li><a href="#2015">2015</a></li>
              <li><a href="#2014">2014</a></li>
              <li><a href="#2013">2013</a></li>
              <li><a href="#2012">2012</a></li>
              <li><a href="#2011">2011</a></li>
              <li><a href="#2010">2010</a></li>
              <li><a href="#2009">2009</a></li>
              <li><a href="#2008">2008</a></li>
              <li><a href="#2007">2007</a></li>
              <li><a href="#2006">2006</a></li>
              <li><a href="#2005">2005</a></li>
              <li><a href="#2004">2004</a></li>
              <li><a href="#2003">2003</a></li>
              <li><a href="#2002">2002</a></li>
              <li><a href="#2001">2001</a></li>
              <li><a href="#2000">2000</a></li>
            </ul>

        </div>
      </div>
    </div><div class="main-content">
      <div>{% include "about/about_challenge.html" %}</div>
    </div>
  </div>
</div>

{% endblock %}
