<ul>
  <li>The challenge is produced in a sound manner.</li>
  <li>The challenge is adequately described.</li>
  <li>Any challenge files are provided in an open format.</li>
  <li>Any challenge files are machine readable.</li>
  <li>All the information needed for reuse is present.</li>
  <li>No <a href="https://www.hhs.gov/hipaa/for-professionals/privacy/special-topics/de-identification/index.html">protected health information</a> is contained.</li>
  <li>The content is suitable for {{ SITE_NAME }}.</li>
</ul>
