<!-- <section id="citation">
  <h1>Suggested Citation</h1>
  <br>
  <p>If you use resources from PhysioNet in a publication, please credit
  the author(s) using the citation displayed at the top of the published content. Please also include the standard citation for PhysioNet:</p>

  <p class="alert alert-primary" role="alert">Goldberger AL, Amaral LAN, Glass L,
    Hausdorff JM, Ivanov PCh, Mark RG,
  Mietus JE, Moody GB, Peng C-K, Stanley HE.  PhysioBank, PhysioToolkit, and
  PhysioNet: Components of a New Research Resource for Complex Physiologic
  Signals.
  <i>Circulation</i> <b>101</b>(23):e215-e220 [Circulation Electronic Pages;
  <a href="http://circ.ahajournals.org/content/101/23/e215.full"
  target="other">http://circ.ahajournals.org/content/101/23/e215.full</a>];
  2000 (June 13).</p>

</section>

<br>
<hr>
<br> -->

<section id="challenge">
  <h1>Challenges</h1>
    <p> In cooperation with the annual <a href="http://www.cinc.org/"
    target="_blank">Computing in Cardiology</a> conference, PhysioNet hosts a series
    of challenges, inviting participants to tackle clinically interesting
    problems that are either unsolved or not well-solved.</p>
  <ul>
    <!-- <li><a href="{% url 'published_project_latest' 'challenge-2019' %}">2019</a>: Early Prediction of Sepsis from Clinical Data.</li> -->
    <li><a href="{% url 'published_project_latest' 'challenge-2018' %}">2018</a>: You Snooze, You Win.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2017' %}">2017</a>: CAF Classification from a Short Single Lead ECG Recording.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2016' %}">2016</a>: Classification of Normal/Abnormal Heart Sound Recordings.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2015' %}">2015</a>: Reducing false arrhythmia alarms in the icu.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2014' %}">2014</a>: Robust detection of heart beats in multimodal data.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2013' %}">2013</a>: Non-invaside fetal ECG.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2012' %}">2012</a>: Predicting mortality of ICU patients.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2011' %}">2011</a>: Improving the quality of ECGs collected using mobile phones.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2010' %}">2010</a>: Mind the Gap.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2009' %}">2009</a>: Predicting Acute Hypotensive Episodes.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2008' %}">2008</a>: Detecting and Quantifying T-Wave Alternans.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2007' %}">2007</a>: Electrocardiographic Imaging of Myocardial Infarction.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2006' %}">2006</a>: QT Interval Measurement.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2005' %}">2005</a>: The First Five Challenges Revisited.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2004' %}">2004</a>: Spontaneous Termination of Atrial Fibrillation.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2003' %}">2003</a>: Distinguishing Ischemic from Non-Ischemic ST Changes.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2002' %}">2002</a>: RR Interval Time Series Modeling.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2001' %}">2001</a>: Predicting Paroxysmal Atrial Fibrillation.</li>
    <li><a href="{% url 'published_project_latest' 'challenge-2000' %}">2000</a>: Detecting Sleep Apnea from the ECG.</li>
  </ul>

<p>To find more challenges on PhysioNet, <a href="{% url 'content_index' %}">search our resources</a>.</p>
</section>

<br>
<hr>

<section id="forum">
  <h1>Forum</h1>
  <p>The organizers of the PhysioNet Challenges maintain a forum on Google Groups. If Javascript is enabled in your browser, the latest discussion is displayed below.</p>
  <br>
  <iframe id="forum_embed"
    src="about:blank"
    scrolling="no"
    frameborder="0"
    width="800"
    height="700">
  </iframe>

  <script type="text/javascript">
   document.getElementById("forum_embed").src =
    "https://groups.google.com/forum/embed/?place=forum/physionet-challenges" +
    "&showsearch=true&showpopout=true&parenturl=" +
    encodeURIComponent(window.location.href);
  </script>
  <noscript>
  <p>To display the discussion forum, please enable JavaScript in your browser.</p>
  </noscript>
</section>
