<div class="alert alert-info" role="alert">
    For information on the current George B. Moody PhysioNet Challenge, see:
    <a href="http://moody-challenge.physionet.org/">http://moody-challenge.physionet.org/</a>
</div>

<div class="alert alert-secondary" role="alert">
  Additional Challenge content:
  <ul>
    <li><a href="/about/challenge/moody-challenge-overview">George B. Moody PhysioNet
      Challenges (description)</a></li>
    <li><a href="/about/challenge/moody-challenge">George B. Moody PhysioNet Challenges (past challenges)</a>
    </li>
    <li><a href="/about/challenge/community-challenge">Community Challenges</a></li>
  </ul>
</div>

<section id="challenges-overview">
  <h1>Challenges Overview</h1>
  <p>PhysioNet supports open challenges, which invite participants to tackle clinically interesting questions that are
    either highly topical or neglected. Since the launch of PhysioNet in 1999, PhysioNet has co-hosted the annual <a
            href="moody-challenge-overview">George B. Moody PhysioNet Challenge</a> in collaboration with <a
            href="http://www.cinc.org/">Computing in Cardiology</a>. We also support external challenges hosted by our
    wider <a href="community-challenge">community</a>.
  </p>
</section>

<br>

<section id="moody-challenges">
  <h2>The George B. Moody PhysioNet Challenges</h2>
  <p>Formerly known as the PhysioNet/Computing in Cardiology Challenge, the George B. Moody PhysioNet Challenge runs
    from Jan/Feb through August each year. For details of this year's event, please see the <a
            href="https://moody-challenge.physionet.org">Current Challenge Site</a>. A list of past Challenges with
    links to outputs (open source code and open access data), can be found <a href="moody-challenge">here</a>.
  </p>
  <section id="organizing-moody-challenge">
  <h3>Organizing a Moody PhysioNet Challenge</h3>
  <p>If you are interested in contributing to, or posing a Moody PhysioNet Challenge, please feel free to contact us (at
    moody-challenge@physionet.org) with details of the data and labels that you can provide, the nature of the problem
    that you wish to solve, and some demo code that makes a basic attempt to solve the problem. We strongly recommend
    having at least three independent databases, two to become public, and one to remain private/hidden. Depending on
    the data, we generally need about one year to prepare a Challenge. For more information on the general aims and
    framework of the Challenge, and the criteria for a successful event, please see <a
            href="https://arxiv.org/abs/2007.10502">here</a>.
  </p>
  </section>
</section>

<br>


<section id="community-challenges">
  <h2>Community Challenges</h2>
  <p>Community challenges, organized independently of the annual Moody PhysioNet Challenge, can be found <a
          href="community-challenge">here</a>. For information about a specific Community Challenge please contact the
    author on the PhysioNet project page.
  </p>

  <section id="organizing-community-challenge">
  <h3>Organizing a Community Challenge</h3>
  <p>If you are interested in publishing a challenge independent of the Moody PhysioNet Challenge, please use
    the <a href="/about/publish">project submission system</a> and select Challenge as the project type. We will
    subsequently review your project proposal. Once published, the information about your Challenge and the project code
    and data will be made available to the public. We can also announce your project in our News Feed.
  </p>
  </section>
</section>

<br>

<section id="general-information">
    <h2>General Information</h2>
  <p>If you have a question that isn't specific to a Moody PhysioNet Challenge or a Community Challenge please contact
    us at contact@physionet.org.
      </p>
</section>
