{% extends "base.html" %}

{% load static %}

{% block title %}CITI Course Instructions{% endblock %}

{% block content %}
<div class="container">
  <h1>CITI Course Instructions</h1>
  <hr>
  <p>To access certain resources on {{ SITE_NAME }}, you must complete training in human research and data privacy. We recommend the CITI Program's "Data or Specimens Only Research" course. A link to the website can be found here: <a href="https://about.citiprogram.org/">CITI Program.</a> You must create an account with CITI Program before proceeding. Follow the instructions below to complete the course:</p>
  <ol>
    <li>Once you have created an account, go to 'My Courses' on the top of the page. Click "Add affiliation"</li>
    <img src="{% static 'images/about/citi-course-instructions-1.png' %}" alt="Citi Course instructions 1" class="screenshot">
    <li>Search for "Massachusetts Institute of Technology Affiliates". Click the checkmarks to agree. You are affiliating with MIT for the purpose of accessing data hosted on MIT servers.</li>
    <img src="{% static 'images/about/citi-course-instructions-2.png' %}" alt="Citi Course instructions 2" class="screenshot"> 
    <li>Fill out the form. Please use your institutional address, not a personal address, where possible (note, you do not require an MIT address).</li>
    <img src="{% static 'images/about/citi-course-instructions-3.png' %}" alt="Citi Course instructions 3" class="screenshot">
    <li>You will be asked to sign in with your MIT personal certificate, if available. If you do not have a certificate, please complete the questionnaire. To take the "Data or Specimens Only Research" course, you must answer questions 1, 2, and 3. For question 5, please answer 'Yes' for 'Conflicts of Interest'.</li>
    <img src="{% static 'images/about/citi-course-instructions-4.png' %}" alt="Citi Course instructions 4" class="screenshot">
    <li>Once submitted, you should see the 'Data or Specimens Only Research' and 'Conflicts of Interest' modules. Please complete these modules.</li>
    <img src="{% static 'images/about/citi-course-instructions-5.png' %}" alt="Citi Course instructions 5" class="screenshot">
  </ol>
</div>
{% endblock %}

{% block local_js_bottom %}
<script src="{% static 'custom/js/enable-popover.js' %}"></script>
{% endblock %}
