{% extends "base.html" %}

{% load static %}

{% block title %}CITI Course Instructions{% endblock %}

{% block content %}
<div class="container">
  <h1>CITI Course Instructions</h1>
  <hr>
  <p>In order to become a <a href="{% url 'edit_credentialing' %}">credentialed</a> {{ SITE_NAME }} user and access the restricted-access clinical databases, you must complete a suitable training program in human research subject protections and HIPAA regulations. We recommend the Collaborative Institutional Training Initiative (CITI) Program's “Data or Specimens Only Research” course. Follow the instructions below to access and complete the training course:</p>
  <ol>
    <li>Click 'Add affiliation'</li>
    <img src="{% static 'images/about/citi-course-instructions-1.png' %}" alt="Citi Course instructions 1" class="screenshot">
    <li>Search for 'Massachusetts Institute of Technology Affiliates'. Click the checkmarks to agree.</li>
    <img src="{% static 'images/about/citi-course-instructions-2.png' %}" alt="Citi Course instructions 2" class="screenshot"> 
    <li>Fill out the form. In the case that you do not have an MIT email address, please use your academic/institutional one and not a personal email address.</li>
    <img src="{% static 'images/about/citi-course-instructions-3.png' %}" alt="Citi Course instructions 3" class="screenshot">
    <li>Next, you will be asked to sign in with your MIT personal certificate (if available). If you do not have one, please fill out the questionnaire. In order to take the 'Data or Specimens Only Research' course, you must answer questions 1, 2, and 3. For question 5, please answer 'Yes' for 'Conflicts of Interest'.</li>
    <img src="{% static 'images/about/citi-course-instructions-4.png' %}" alt="Citi Course instructions 4" class="screenshot">
    <li>Once submitted, you should see the 'Data or Specimens Only Research' module and 'Conflicts of Interest' module needed to complete</li>
    <img src="{% static 'images/about/citi-course-instructions-5.png' %}" alt="Citi Course instructions 5" class="screenshot">
  </ol>
</div>
{% endblock %}

{% block local_js_bottom %}
<script src="{% static 'custom/js/enable-popover.js' %}"></script>
{% endblock %}
