<section id="form">
  <div>
    <form method="post" action="#contact">
      {% csrf_token %}

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            {{ contact_form.name }}
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">    
          <div class="form-group">
            {{ contact_form.email }}
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">    
          <div class="form-group">
            {{ contact_form.subject }}
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12"> 
          <div class="form-group">
            {{ contact_form.message }}
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 no-pd">
          <div class="col-lg-12 button-wrapper">
            <div id="success"></div>
            <button class="btn btn-primary btn-xl" type="submit">Send Message</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
