{% extends "base.html" %}

{% load static %}

{% block title %}
PhysioNet
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/about.css' %}"/>
{% endblock %}


{% block content %}
{% include "message_snippet.html" %}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h2 class="section-heading text-center">Contact Us</h2>
        <p>If you have a bug report or suggestion regarding the site or its content, you may raise an issue on the
        <a href="https://github.com/MIT-LCP/physionet-build" target="_blank">development repository</a>.</p>
        <p>For general comments and queries, and private security issues, you may use this form.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{ contact_form.name }}
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                {{ contact_form.email }}
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                {{ contact_form.subject }}
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                {{ contact_form.message }}
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button class="btn btn-primary btn-xl" type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
