{% extends "base.html" %}

{% load static %}

{% block title %}
PhysioNet Databases
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/about.css' %}">
{% endblock %}


{% block content %}

<div class="main">
  <div class="row">
    <div class="main-side">

      <div class="card">
        <h2 class="card-header">Topics</h2>
        <div class="card-body">

        <!-- Databases -->
        <ul>
        {% for topic in projects %}
          {% if topic|length < 4 %}
          <li><a href="#{{ topic }}">{{ topic|upper }}</a></li>
          {% else %}
          <li><a href="#{{ topic }}">{{ topic|title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>

        </div>
      </div>
    </div>
    <div class="main-content">
      <div>{% include "about/database_content.html" with projects=projects %}</div>
    </div>

  </div>
</div>

{% endblock %}
