{% extends "base.html" %}

{% load static %}

{% block title %}
PhysioNet Databases
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/about.css' %}">
{% endblock %}


{% block content %}

<div class="main">
  <div class="row">
    <div class="main-side">

      <div class="card">
        <h2 class="card-header">Databases</h2>
        <div class="card-body">

            <!-- Databases -->
            <ul>
              <li><a href="#open">Open Access</a></li>
              <li><a href="#restricted">Restricted Access</a></li>
              <li><a href="#credentialed">Credentialed Access</a></li>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div>{% include "about/database_content.html" %}</div>
    </div>
  </div>
</div>

{% endblock %}
