<section id="citation">
  <h1>Suggested Citation</h1>
  <p>If you use resources from PhysioNet in a publication, please credit
  the author(s) using the citation displayed at the top of the published content. Please also include the standard citation for PhysioNet:</p>

  <p class="alert alert-primary" role="alert">Goldberger AL, Amaral LAN, Glass L,
  Hausdorff JM, Ivanov PCh, Mark RG, Mietus JE, Moody GB, Peng C-K, Stanley HE.
  PhysioBank, PhysioToolkit, and PhysioNet: Components of a New Research 
  Resource for Complex Physiologic Signals.
  <i>Circulation</i> <b>101</b>(23):e215-e220 [Circulation Electronic Pages;
  <a href="http://circ.ahajournals.org/content/101/23/e215.full"
  target="other">http://circ.ahajournals.org/content/101/23/e215.full</a>];
  2000 (June 13).</p>
</section>

<br>
<hr>

<section id="summary">
  <h1>Databases by topic</h1>
<p>
This page displays a list of databases in the PhysioNet archives, grouped by topic. Projects tagged with multiple topics may appear multiple times. To find more databases on PhysioNet, <a href="{% url 'content_index' %}">search our resources</a>. Waveforms and associated annotations can be viewed with <a href="{% url 'lightwave_home' %}">LightWave</a>.</p>

{% for topic, values in projects.items %}
{% if topic|length < 4 %}
  <h3><a id="{{ topic }}">{{ topic|upper }}</a></h3>
{% else %}
  <h3><a id="{{ topic }}">{{ topic|title }}</a></h3>
{% endif %} 
<ul>
  {% for project in values %}
  <li><a href="{% url 'published_project_latest' project.slug %}">{{ project.title }}</a>. 
  {% if project.short_description %}{{ project.short_description }}{% else %}{{ project.abstract|safe|truncatechars:200 }}{% endif %}</li>
  {% endfor %}
</ul>
{% endfor %}