{% extends "base.html" %}

{% load static %}

{% block title %}
Frequently Asked Questions
{% endblock %}


{% block content %}
<div class="container">
  <h1 class="text-center">Frequently Asked Questions</h1>

  <hr>
  <h2>What is PhysioNet?</h2>
  <p>See the <a href="{% url 'about_physionet' %}">about</a> page.</p>

  <hr>
  <h2>Publishing</h2>
  <p>For a full explanation, see the <a href="{% url 'author_guidelines' %}">author guidelines</a> page.</p>

  <hr>
  <h2>Downloading Data</h2>
  <p></p>

  <hr>
  <h2>Finding Data</h2>
  <p></p>

  <hr>
  <h2>Data File Formats and Processing</h2>
  <p></p>

</div>
{% endblock %}
