{% load static %}

<p>{{ SITE_NAME }} resources should be reusable by the greater scientific
   community. To facilitate the reuse of your content, please adhere to the following reusability guidelines.
</p>

<strong>General Guidelines</strong>
<ul>
  <li>Files must contain no <a href="https://www.hhs.gov/hipaa/for-professionals/privacy/special-topics/de-identification/index.html" target="_blank">protected health information</a>.</li>
  <li>Files are provided in an open format such as text, csv, or WFDB, rather than a proprietary format.</li>
  <li>Code must be provided in source format.</li>
  <li>Data files must be machine readable.</li>
  <li>Large regularly-sampled time-series data, especially waveforms, are provided in WFDB format.</li>
  <li>Filenames must only contain letters, numbers, dashes, underscores, and dots.</li>
  <li>If appropriate, provide a csv file named <em>subject-info.csv</em> containing information on all subjects, such as age and gender.</li>
</ul>

<strong>WFDB Files</strong>
<ul>
  <li>Provide a list of all WFDB format records, named <em>RECORDS</em>. <a href="{% static 'published-projects/mitdb/1.0.0/RECORDS' %}" target="_blank">Example file</a>. <em>If you upload this file, you will see a link to view your project's waveforms in LightWAVE</em>.</li>
  <li>Provide a tab delimited list of all WFDB format annotation files, named <em>ANNOTATORS</em>. <a href="{% static 'published-projects/mitdb/1.0.0/ANNOTATORS' %}" target="_blank">Example file</a>.</li>
</ul>
