<p>PhysioNet resources should be reusable by the greater scientific
   community. To facilitate the reuse of your content, please ensure the
   following:
</p>

<ul>
  <li>Files are provided in an open format such as text, csv, or WFDB, rather
      than a proprietary format.</li>
  <li>Data files are machine readable.</li>
  <li>Large time-series data, especially waveforms, are provided in WFDB
      format.</li>
  <li>Code is provided in source format.</li>
  <li>Filenames only contain letters, numbers, dashes, underscores, and dots.
      They may not contain adjacent dots, begin with, or end with a dot.</li>
</ul>
