{% extends "base.html" %}

{% load static %}

{% block title %}
Licenses
{% endblock %}


{% block content %}
<div class="container">
  <h1 class="text-center">Licenses</h1>
  <hr>
  <p>These are the available licenses for
     <a href="{% url 'author_guidelines' %}" target="_blank">publishing content</a> on
     PhysioNet. If you would like to use a license that is not
     currently listed, please <a href="{% url 'contact' %}" target="_blank">
     contact us</a>.</p>
  <br>

  {% for license in licenses %}
    <p><strong>{{ license.name }}</strong></p>
    <ul>
      <li><a href="{% url 'license_content' license.slug %}">Full content</a></li>
      <li><a href="{{ license.url }}" target="_blank">Home page <i class="fas fa-external-link-alt"></i></a></li>
    </ul>
  {% endfor %}

  <br>
</div>
{% endblock %}
