<ul>
  <li>The project follows good practice in software and model development.</li>
  <li>The model is adequately described.</li>
  <li>The model is provided in an open format.</li>
  <li>Files are machine readable.</li>
  <li>All the information needed for reuse is present.</li>
  <li>No <a href="https://www.hhs.gov/hipaa/for-professionals/privacy/special-topics/de-identification/index.html">protected health information</a> is contained.</li>
  <li>The content is suitable for {{ SITE_NAME }}.</li>
</ul>
