<div class="alert alert-info" role="alert">
    For information on the current George B. Moody PhysioNet Challenge, see:
    <a href="http://moody-challenge.physionet.org/">http://moody-challenge.physionet.org/</a>
</div>

<div class="alert alert-secondary" role="alert">
  Additional Challenge content:
  <ul>
    <li><a href="/about/challenge">Challenges (overview)</a></li>
    <li><a href="/about/challenge/moody-challenge">George B. Moody PhysioNet Challenges (past challenges)</a>
    </li>
    <li><a href="/about/challenge/community-challenge">Community Challenges</a></li>
    </li>
  </ul>
</div>

<section id="moody-challenge">
  <h1>Moody PhysioNet Challenges</h1>
  <p>
    In cooperation with the annual Computing in Cardiology (CinC) conferences, PhysioNet also hosts an annual series of
    biomedical ‘Challenges’ that focus on unsolved problems in clinical and basic science. These Challenges have been
    supported by the NIH, Google, MathWorks and the Gordon and Betty Moore Foundation. For the first 15 years (from 2000
    to 2014), these Challenges were led by <a href="https://physionet.org/news/post/355">George Moody</a>, at the
    Laboratory for Computational Physiology (<a href="https://lcp.mit.edu/">LCP</a>), who subsequently
    retired due to poor health. Since 2015, the Challenges have been led by <a href=" http://gdclifford.info/">Gari
    Clifford</a> at Emory University and the Georgia Institute of Technology. In honor of George’s lifelong
    contributions to the field, and particularly his seminal work on the Challenges, the Challenges were renamed from
    the ‘PhysioNet/Computing in Cardiology Challenges’, to the ‘George B. Moody PhysioNet Challenges’ in 2021.
  </p>
  <p>
    If you are interested in contributing to, or posing a Challenge, please see Organizing a Moody PhysioNet Challenge
    <a href="/about/challenge/#organizing-moody-challenge">here</a>.
  </p>
</section>

<br>

<section id="past-moody-challenges">
  <h1>Past Moody PhysioNet Challenges</h1>
  <p>
    A list of past Challenges, with links to the descriptions of each Challenge, associated open access data, open
    source code and resultant publications can be found <a href="/about/challenge/moody-challenge">here</a>.
  </p>
</section>

<br>

<section id="support">
  <h1>Support</h1>
  <h2>Current Challenge</h2>
  <p>
    For support with the current Challenge, please contact moody-challenge@physionet.org. Previous Challenges are not
    generally supported, but requests will be considered, and the submission of open-source code to be re-run on past
    Challenge data will be considered if the requestor can provide resources to assist us. Unfortunately, the funding
    from the NIH and our generous sponsors cannot always match the large number of requests that we receive. Test data
    from previous Challenges will not be released under any circumstance to prevent overfitting on the test data.
  </p>

  <br>

  <h2>Computing in Cardiology (CinC)</h2>
  <p>
    For support from Computing and Cardiology (CinC), please email contact@cinc.org. Although we partner with CinC,
    we cannot provide exceptions to the conference rules, discounts on fees, visa support letters for attendance, or
    other specific information about the conference not directly related to the Challenge.
  </p>

  <br>

  <h2>PhysioNet Project Data</h2>
  <p>
    For support with all libraries and code provided in projects on PhysioNet, please
    contact the corresponding author listed on the project page.
  </p>
</section>
