{% extends "base.html" %}

{% load static %}

{% block title %}
George B. Moody PhysioNet Challenges
{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/about.css' %}">
{% endblock %}

{% block content %}

<div class="main">
  <div class="row">
    <div class="main-side">

      <nav class="sidebar-nav">
        <h2 class="sidebar-title">George B. Moody PhysioNet Challenges</h2>
        <ul>
          <li><a href="#moody-challenges">George B. Moody PhysioNet Challenges</a></li>
        </ul>
      </nav>
    </div><div class="main-content">
      <div>{% include "about/moody_challenge_content.html" %}</div>
    </div>
  </div>
</div>

{% endblock %}
