{% extends "base.html" %}

{% load static %}

{% block title %}
Publish
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/publish.css' %}">
{% endblock %}


{% block content %}
<div class="main">
  <div class="row">
    <div class="main-side">

      <div class="card">
        <h2 class="card-header">Share</h2>
        <div class="card-body">
          <ul>
            <li><a href="#sharing">Sharing on Physionet</a></li>
            <li><a href="#overview">Submission Overview</a></li>
            <li><a href="#guidelines">Author Guidelines</a></li>
            <li><a href="#licenses">Licenses</a></li>
            <li><a href="#submit">Submit your Project</a></li>
          </ul>
        </div>
      </div>
    </div><div class="main-content">
      <h1 id="sharing">Sharing on PhysioNet</h1>
      <br><div>{% include "about/share.html" %}</div><br>
      <hr>
      <br><h1 id="overview">Submission Overview</h1><br>
      <div>{% include "about/submission_overview.html" %}</div><br>
      <hr>
      <br><h1 id="guidelines">Author Guidelines</h1><br>
      <div>{% include "about/author_guidelines.html" %}</div><br>
      <hr>
      <br><h1 id="licenses">Licenses</h1><br>
      <div>{% include "about/licenses.html" %}</div>
      <hr>
      <br><h1 id="submit">Submit your Project</h1><br>
      <div>
          <p><a href="{% url 'create_project' %}">Click here</a> to create your project.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
