<section id="pshare" class="indented-box">
  <p>We invite you to share your resources with the PhysioNet community. Incentives to share include:
  <ul>
    <li>Improving the discoverability of your work through increased citations.</li>
    <li>Creating opportunities for collaboration.</li>
    <li>Facilitating reuse of your data and software, maximizing impact.</li>
    <li>Encouraging higher-quality, transparent research.</li>
  </ul>
  <p>Before <a href="#submit">submitting</a> your work, please review our <a href="#guidelines">author guidelines</a>.</p>
</section>