<section id="pshare">
  <p>We invite you to contribute your data and software. Sharing on PhysioNet helps you to receive credit for your efforts through scholarly data citations. We understand the challenges of sharing in the health sciences and we are committed to helping to overcome them. </p>

  <p>We work with you to help ensure that important data and software are properly archived, cleanly described, and easy to reuse.</p>
</section>

<section id="reasons">
  <p>There are many advantages to sharing code and data, both for you and the public.</p>
  <h5>Individual Incentives</h5>
  <ul>
    <li>Enabling reproducibility of your study, helping to establish credibility.</li>
    <li>Improving the dicoverability of your work, through increased citations.</li>
    <li>Increased opportunities for collaboration.</li>
  </ul>
  <h5>Public Incentives</h5>
  <ul>
    <li>Allow the scientific community to reuse your resource and maximize its impact.</li>
    <li>Encourage better quality, more transparent research.</li>
  </ul>
  <p>Before <a href="#submit">submitting</a> your work, please review our <a href="#guidelines">author guidelines</a>.</p>
</section>