{% extends "base.html" %}

{% load static %}

{% block title %}
PhysioNet Software
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/about.css' %}">
{% endblock %}


{% block content %}

<div class="main">
  <div class="row">
    <div class="main-side">

      <div class="card">
        <h2 class="card-header">Software</h2>
        <div class="card-body">

            <!-- Software -->
            <ul>
              <li><a href="#pbdv">Data visualization</a></li>
              <li><a href="#pbdm">Data mining</a></li>
              <li><a href="#fc">Format converters</a></li>
              <li><a href="#psp">Signal analysis</a></li>
              <li><a href="#pms">Models</a></li>
              <li><a href="#lib">Software development</a></li>
              <li><a href="#chall">PhysioNet Challenges</a></li>
              <li><a href="#misc">Miscellaneous</a></li>
            </ul>

        </div>
      </div>
    </div><div class="main-content">
      <div>{% include "about/software_content.html" %}</div>
    </div>
  </div>
</div>

{% endblock %}