{% extends "base.html" %}

{% load static %}
{% load physionet_templatetags %}

{% block title %}
  {{ static_page.title }}
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/about.css' %}">
{% endblock %}


{% block content %}

<div class="main">
  <div class="row">
    <div class="main-side">

      <nav class="sidebar-nav">
        <h2 class="sidebar-title">{{ static_page.title }}</h2>
        <ul>
          {% for section in sections %}
            <li><a href="#{{ section.title | underscore | lower }}">{{ section.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div><div class="main-content">
      {% for section in sections %}
        <section class="about-section" id="{{ section.title | underscore | lower }}">
          <h2>{{ section.title }}</h2>
          <div>
            {{ section.content|safe }}
          </div>
        </section>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
