<section id="submission" class="indented-box">
  <h2>Submission process</h2>
  <p>Submitting data and software to {{ SITE_NAME }} is similar to submitting an article to a journal. Briefly, the process for submitting your work for publication in {{ SITE_NAME }} is as follows:</p>
  <ul>
    <li>If you are the submitting author, create a new project using the project management system.</li>
    <li>Add your project details. These will include contact information for co-authors, descriptive text, and data files.</li>
    <li>Once you are satisfied, submit the project to the editorial team for review.</li>
    <li>You will be notified of an editorial decision when the review process is complete.</li>
    <li>Once any issues have been addressed, your data or software will be published on {{ SITE_NAME }}.</li>
    <li>When a project is published, its content is fixed and cannot be changed.</li>
  </ul>
</section>

<section id="preparing" class="indented-box">
  <h2>Preparing for submission</h2>
  <p>{{ SITE_NAME }} helps you to ensure that your data and software is sufficiently well organized to enable reuse by the community. Before submitting your project for review, please make sure that you have:</p>
  <ul>
    <li>Added all co-authors to the system. Co-authors will receive a notification message upon submission and must approve of the submission prior to publication.</li>
    <li>Read the <a href="#guidelines">Author Guidelines</a> section for a detailed description on how to generate project files and related metadata.</li>
    <li>Selected an appropriate <a href="#licenses">license</a> for releasing your data files.</li>
  </ul>
</section>

<section id="instruction" class="indented-box">
  <h2>Additional submission instruction</h2>
  <ul>
    <li>The structure of the project itself must be clearly described regarding its content and how the files are organized.</li>
    <li>The experimental procedure used to collect the data must be clearly described. Supporting information or diagrams must be provided for irregular data capturing devices.</li>
    <li>Links to relevant supporting publications which describe the data's creation or usage can be provided. The authors may provide links to an external website as supplemental documentation. However, the documentation on {{ SITE_NAME }} must be self-contained and sufficient for others to understand and use your data.</li>
    <li>If this is an updated version of a previously published resource, please clearly specify what the major changes are from the previous version. Clearly list names of all files that have been modified.</li>
  </ul>
</section>

<section id="editorial" class="indented-box">
  <h2>Editorial process</h2>
  <p>Once your project is submitted, it will be reviewed by one or more content specialists. Based on this review, you will be provided with an initial editorial decision within four weeks from submission. The possible decisions are:</p>
  <ol>
    <li><strong>Accept</strong>: The editor is mostly satisfied with the content. The submission
        continues into the copyedit stage.</li>
    <li><strong>Resubmit</strong>: The content is suitable for publication, but changes are
        required to make it more clear or reusable. Changes may include adding 
        required information, restructuring files, and rewording content. 
        Once the submitting author has made these changes,
        they may resubmit the project for review.</li>
    <li><strong>Reject</strong>: The content is not suitable for publication.</li>
  </ol>
</section>