{% extends "base.html" %}

{% load static %}

{% block title %}
{{ SITE_NAME }} Timeline
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/timeline.css' %}"/>
{% endblock %}


{% block content %}
<section id="history">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">A Brief History</h2>
        <h3 class="section-subheading text-muted">Foundation, growth and impact.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="mx-auto rounded-circle img-fluid" src="{% static 'images/about/mitdb.jpg' %}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1980</h4>
                <h4 class="subheading">Landmark Database</h4>
              </div>
              <div class="timeline-body">
                <p>In the mid-1970s, members of the {{ SITE_NAME }} team who were then working on some of the first microcomputer-based instruments for cardiac arrhythmia monitoring, foresaw the benefit of establishing shared databases of well-characterized ECG recordings, as a basis for evaluation, and objective comparison of algorithms for automated arrhythmia analysis. A five-year effort culminated in the publication of the MIT-BIH Arrhythmia Database in 1980, which soon became the standard reference collection of its type.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="mx-auto rounded-circle img-fluid" src="{% static 'images/about/physionet-old-logo.jpg' %}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1999</h4>
                <h4 class="subheading">{{ SITE_NAME }} is Released</h4>
              </div>
              <div class="timeline-body">
                <p> {{ SITE_NAME }} was established in 1999 as the outreach component of the Research Resource for Complex Physiologic Signals, a cooperative project initiated by a diverse group of scientists and clinicians at Boston's Beth Israel Deaconess Medical Center, Boston University, and McGill University, and the MIT group.</p>
                <br>
                <p>The MIT group contributed 11 databases, and the software it had developed for exploring and analyzing them. Free availability of these resources catalyzed new areas of research, as researchers who had no previous access to such data or software began new programs of research. These contributions were quickly supplemented by additional collections of data and software from collaborators, and soon after, from researchers worldwide.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="mx-auto rounded-circle img-fluid" src="{% static 'images/about/cinc.jpg' %}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2000</h4>
                <h4 class="subheading">Computing in Cardiology</h4>
              </div>
              <div class="timeline-body">
                <p>Members of the {{ SITE_NAME }} team at MIT were preparing to host <a href="http://www.cinc.org/">Computing in Cardiology</a> 2000, and created the first {{ SITE_NAME }}/CinC Challenge to be launched as part of that meeting. They hoped to introduce {{ SITE_NAME }} to international colleagues, by encouraging participation in an activity that made effective use of {{ SITE_NAME }}'s resources to stimulate rapid progress on an unsolved problem of practical clinical significance. More than a dozen teams participated in the challenge of detecting sleep apnea from the ECG alone, and an <a href="#">annual tradition</a> was born.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="mx-auto rounded-circle img-fluid" src="{% static 'images/about/django-logo.svg' %}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2019</h4>
                <h4 class="subheading">New Web Platform</h4>
              </div>
              <div class="timeline-body">
                <p>New members of the LCP build a modernized, dynamic {{ SITE_NAME }} platform using <a href="https://www.djangoproject.com/">Django</a>. <a href="https://github.com/MIT-LCP/physionet-build/">Development</a> is continually ongoing to improve the site's capabilities.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="mx-auto rounded-circle img-fluid" src="{% static 'images/about/future.jpg' %}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Looking Forward</h4>
                <h4 class="subheading">Open Science</h4>
              </div>
              <div class="timeline-body">
                <p>{{ SITE_NAME }} today hosts large volumes of data, a variety of software, and the annual challenge. An immense number of global visitors leverage its resources, producing more scientific and industrial development than the individual resource contributors ever could alone.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
