{# Submission timeline for a project under submission #}
<ul class="list-group list-group-flush">

    <!-- author approval -->
    {# Awaiting authors to approve final project #}
    {% if project.submission_status == SubmissionStatus.NEEDS_APPROVAL %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">Currently</div>
          <div class="col-md-10">
            <p><i class="far fa-clock"></i> Waiting for all authors to approve the final project.</p>
            {% include "project/awaiting_authors_table.html" %}
            <a class="btn btn-primary" href="{% url 'project_preview' project.slug %}" role="button" target="_blank">View Project Preview</a>
            {# The user is an author and has yet to approve #}
            {% if awaiting_user_approval %}
              <button id="approve-publication-modal-button" type="button" class="btn btn-success" data-toggle="modal" data-target="#approve-modal">Approve Publication</button>
              <br><br>
              <p>If you would like to suggest changes, you may contact the editor to reopen the copyedit.</p>
              <div class="modal fade" id="approve-modal" tabindex="-1" role="dialog" aria-labelledby="submit-modal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Approve Publication</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="" method="post">
                      <div class="modal-body">
                        {% csrf_token %}
                        <p>If you are satisfied with the final state of the project, you may approve the publication.</p>
                      </div>
                      <div class="modal-footer">
                        <button id="approve-publication-button" class="btn btn-success" type="submit" name="approve_publication">Approve Publication</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </li>

    <!-- editor approval -->
    {% elif project.submission_status == SubmissionStatus.NEEDS_PUBLICATION %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">Currently</div>
          <div class="col-md-10"><i class="far fa-clock"></i> Waiting for editor to publish submission.</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">{{ project.author_approval_datetime|date }}</div>
          <div class="col-md-10">All authors approved the final project for publication.
        </div>
      </li>
    {% endif %}

  <!-- copyediting -->
  {# Waiting for revisions #}
  {% if project.submission_status == SubmissionStatus.NEEDS_RESUBMISSION %}
    <li class="list-group-item">
      <div class="row">
      <div class="col-md-2">Currently</div>
      <div class="col-md-10">
        <i class="far fa-clock"></i> Waiting for the submitting author to make revisions and resubmit.
        {% if is_submitting %}
          <br><br>
          <button id="resubmit-project-modal-button" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#resubmit-modal" onclick="checkIntegrity(true)">Resubmit Project</button>
          <div class="modal fade" id="resubmit-modal" tabindex="-1" role="dialog" aria-labelledby="resubmit-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Resubmit Project</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="" method="post">
                  <div class="modal-body">
                    {% csrf_token %}
                    <p id="passes-checks-resubmission"><i class="fas fa-spinner"></i> Running checks on project...</p>
                    {{ author_comments_form }}
                  </div>
                  <div class="modal-footer">
                    <button id="resubmit-project-button" class="btn btn-primary" type="submit" name="resubmit_project" disabled>Resubmit Project</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        {% endif %}
        </div>
      </li>
    {% elif project.submission_status >= SubmissionStatus.NEEDS_COPYEDIT %}
      {# At this point, there may have been any number of copyedits #}
      {% for c in copyedit_logs reversed %}
        {% if c.is_reedit %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-2">{{ c.start_datetime|date }}</div>
              <div class="col-md-10">The editor reopened the submission for copyediting.</div>
            </div>
          </li>
        {% endif %}
        <li class="list-group-item">
          <div class="row">
            {# The copyedit is complete #}
            {% if c.complete_datetime %}
              <div class="col-md-2">{{ c.complete_datetime|date }}</div>
              <div class="col-md-10">
                <p>The editor finished copyediting the submission.</p>
                {% if c.made_changes %}
                  <p>The editor comments regarding the changes made are as follows:</p>
                  <a class="editor-comments">{{ c.changelog_summary|linebreaks }}</a>
                {% else %}
                  <p>No changes were made during the copyedit.</p>
                {% endif %}
              </div>
            {% else %}
              <div class="col-md-2">Currently</div>
              <div class="col-md-10"><i class="far fa-clock"></i> Waiting for editor to copyedit submission.</div>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    {% endif %}

  {% if project.archive_datetime %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">{{ project.archive_datetime|date }}</div>
        <div class="col-md-10">
          The project was archived.
        </div>
      </div>
    </li>
  {% endif %}

  <!-- resubmissions -->
  {# At this point, there may have been any number of submissions #}
  {% for e in edit_logs reversed %}
    <li class="list-group-item">
      <div class="row">
      {% if e.decision_datetime %}
        <div class="col-md-2">{{ e.decision_datetime|date }}</div>
        <div class="col-md-10">
          {% if e.decision == 0 %}
            <p>The editor rejected the submission.</p>
          {% elif e.decision == 1 %}
            <p>The editor requested a resubmission with revisions.</p>
          {% elif e.decision == 2 %}
            <p>The editor accepted the submission.</p>
          {% endif %}
          <p>The standard quality assurance results are as follows:</p>
          <ul>
            {% for result in e.quality_assurance_results %}
              <li>{{ result }}</li>
            {% endfor %}
          </ul>
        <br>
        <p>The editor comments regarding the submission are as follows:</p>
        <a class="editor-comments">{{ e.editor_comments|linebreaks }}</a>
      </div>
    {# No decision yet #}
    {% else %}
      <div class="col-md-2">Currently</div>
      <div class="col-md-10"><i class="far fa-clock"></i> Waiting for editor decision</div>
    {% endif %}
    </div>
  </li>
    {% if e.is_resubmission %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">{{ e.submission_datetime|date }}</div>
            <div class="col-md-10">
              <p>The project was resubmitted for review.</p>
              {% if e.author_comments %}
                <p>The submitting author included the following comments:</p>
                <a class="editor-comments">{{ e.author_comments|linebreaks }}</a>
              {% endif %}
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}

  <!-- editor assigned -->
  {# Waiting for editor #}
  {% if project.submission_status == SubmissionStatus.NEEDS_ASSIGNMENT %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-2">Currently</div>
      <div class="col-md-10"><i class="far fa-clock"></i> Waiting for editor to be assigned.</div>
    </div>
  </li>
  {# Editor assigned #}
  {% else %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-2">{{ project.editor_assignment_datetime|date }}</div>
      <div class="col-md-10">The project was assigned to an editor. To contact the editor, email:<br />{{ contact_email }}
    </div>
  </li>
  {% endif %}

  <!-- submitted -->
  {# Submitted #}
  {% if project.submission_datetime %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">{{ project.submission_datetime|date }}</div>
        <div class="col-md-10">
          <p>The project was submitted for review.</p>
          {% if project.author_comments %}
            <p>The submitting author included the following comments:</p>
            <a class="editor-comments">{{ project.author_comments|linebreaks }}</a>
          {% endif %}
        </div>
      </div>
    </li>
  {% endif %}

  <!-- created -->
  {# Created #}
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-2">{{ project.creation_datetime|date }}</div>
      <div class="col-md-10">
        <p>The project was created.</p>
      </div>
    </div>
  </li>


</ul>
