{% extends "base.html" %}

{% load static %}

{% block title %}Reviewer Login{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login-register.css' %}"/>
{% endblock %}

{% block content %}
<div class="container text-center">
  {% include "message_snippet.html" %}
  <form action="{% url 'anonymous_login' anonymous_url %}" method="post">
    {% csrf_token %}
    <div class="form-signin">
      <h2 class="form-signin-heading text-center">Reviewer Login</h2>
      {{ form.passphrase }}
    </div>
    {% if dua.html_content %}
      <div class="card text-left">
        <div class="card-header">
          Data Use Agreement (DUA)
        </div>
        <div class="card-body">
          {{ dua.html_content|safe }}
        </div>
      </div>
    {% endif %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
    <button id="login" class="btn btn-lg btn-success btn-rsp" type="submit">
      {% if dua.html_content %}
        Accept and log in
      {% else %}
        Log in
      {% endif %}
    </button>
  </form>
</div>
{% endblock %}
