
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Author</th>
      <th>Email</th>
      <th>Profile</th>
      <th>Approval Date</th>
     {% if is_submitting %}
      <th>Approve on author's behalf  </th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for author in authors %}
    <tr>
      <td>{{ author.name }}</td>
      <td>{{ author.email }}</td>
      <td><a href="{% url 'public_profile' author.user.username %}">{{ author.username }}</a></td>
      <td>
        {% if author.approval_datetime %}
          <i class="fas fa-check" style="color:green"></i> {{ author.approval_datetime }}
        {% else %}
          <i class="far fa-clock"></i> Waiting

        {% endif %}
      </td>
     {% if is_submitting and not author.approval_datetime and author.user != user %}
      <td>
        <button id="approve-on-behalf-publication-modal-button" type="button" class="btn btn-success" data-toggle="modal" data-target="#approve-on-behalf-modal-{{ author.id }}">Approve
        </button>
        <div class="modal fade" id="approve-on-behalf-modal-{{ author.id }}" tabindex="-1" role="dialog" aria-labelledby="approve-on-behalf-label-{{ author.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="approve-on-behalf-label-{{ author.id }}">Approve on behalf of {{ author.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
               <form action="" method="post">
                  <div class="modal-body">
                    {% csrf_token %}
                    <p>If you are satisfied with the final state of the project, you may approve the publication.</p>
                  </div>
                  <div class="modal-footer">
                    <button id="approve-publication-button-{{ author.id }}" class="btn btn-success" type="submit" value="{{ author.id }}" name="approve_publication">Approve Publication</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </td>
      {% else %}
      <td>
      </td>
      {% endif %}

    </tr>
  {% endfor %}
  </tbody>
</table>
