<h2 id="abstract">Abstract</h2>
{% if project.abstract %}
  {{ project.abstract|safe }}
{% else %}
  <p style="color:red"><strong>* Required field missing</strong></p>
{% endif %}
<hr>

<h2 id="objective">Objective</h2>
{% if project.background %}
  {{ project.background|safe }}
{% else %}
  <p style="color:red"><strong>* Required field missing</strong></p>
{% endif %}
<hr>

<h2 id="participation">Participation</h2>
{% if project.methods %}
  {{ project.methods|safe }}
{% else %}
  <p style="color:red"><strong>* Required field missing</strong></p>
{% endif %}
<hr>

<h2 id="description">Data Description</h2>
{% if project.content_description %}
  {{ project.content_description|safe }}
{% else %}
  <p style="color:red"><strong>* Required field missing</strong></p>
{% endif %}
<hr>

<h2 id="evaluation">Evaluation</h2>
{% if project.usage_notes %}
  {{ project.usage_notes|safe }}
{% else %}
  <p style="color:red"><strong>* Required field missing</strong></p>
{% endif %}
<hr>

{% if project.release_notes %}
  <h2 id="release-notes">Release Notes</h2>
  {{ project.release_notes|safe }}
  <hr>
{% endif %}

<h2 id="ethics">Ethics</h2>
{% if project.ethics_statement %}
  {{ project.ethics_statement|safe }}
{% else %}
  <p style="color:red"><strong>* Required field missing</strong></p>
{% endif %}
<hr>

{% if project.acknowledgements %}
  <h2 id="acknowledgements">Acknowledgements</h2>
  {{ project.acknowledgements|safe }}
  <hr>
{% endif %}

<h2 id="conflicts-of-interest">Conflicts of Interest</h2>
{% if project.conflicts_of_interest %}
  {{ project.conflicts_of_interest|safe }}
{% else %}
  <p style="color:red"><strong>* Required field missing</strong></p>
{% endif %}
<hr>

{% if references %}
  <h2 id="references">References</h2>
  <ol>
    {% for reference in references %}
      <li>{{ reference.description }}</li>
    {% endfor %}
  </ol>
  <hr>
{% endif %}
