{% extends 'base.html' %}

{% load static %}

{% block title %}New Project{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/settings.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
  <form action="{% url 'create_project' %}" method="post">
    <h2 class="form-signin-heading">Create New Project</h2>
    <hr>
    <p>Initialize your project with its core fields. The resource type
       <strong>cannot</strong> be changed after the project is created.</p>
    <hr>
    {{ form.media }}
    {% include "inline_form_snippet.html" %}
    <button class="btn btn-lg btn-primary" type="submit">Create Project</button>
  </form>
</div>
{% endblock %}

{% block local_js_bottom %}
  <script type="text/javascript" src="{% static 'custom/js/resize-ck.js' %}"></script>
{% endblock %}

