{% extends 'base.html' %}

{% load static %}

{% block title %}New Project{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login_register.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
    <form action="{% url 'create_project' %}" method="post"  class="form-signin">
        <h2 class="form-signin-heading">Create New Project</h2>
        <hr>
        {% include "form_snippet.html" %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Project</button>
    </form>
</div>
{% endblock %}
