{% extends 'base.html' %}

{% load static %}

{% block title %}New Project{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/settings.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
  <form action="{% url 'create_project' %}" method="post">
    <h2 class="form-signin-heading">Create New Project</h2>
    <hr>
    <p>Complete the fields below to create a new PhysioNet project. Once a project has been created, it must be submitted for publication within 6 months.</p>
    <p>Before creating your project, please read the <a href="{% url 'author_guidelines' %}" target="_blank">author guidelines</a>. Note that the resource type <strong>cannot</strong> be changed after the project is created.</p>
    <hr>
    {{ form.media }}
    {% include "inline_form_snippet.html" %}
    <button id="create_project" class="btn btn-lg btn-primary" type="submit">Create Project</button>
  </form>
</div>
{% endblock %}

{% block local_js_bottom %}
  <script type="text/javascript" src="{% static 'custom/js/resize-ck.js' %}"></script>
{% endblock %}

