{% extends "base.html" %}

{% load static %}

{% block title %}Data Access Request Submitted{% endblock %}

{% block local_js_top %}
<script src="{% static 'custom/js/cookie.js' %}"></script>
<script src="{% static 'custom/js/clear-autosave.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Data Access Request Submitted</h1>
  <hr>
  <p>Your request has been received. We will respond shortly. You can keep
     track of your request <a href="{% url 'data_access_request_status' project.slug project.version %}">here</a>.
  </p>
  <hr>
</div>
{% endblock %}
