<h2 id="abstract">Abstract</h2>
{{ project.abstract|safe }}
<hr>

<h2 id="background">Background</h2>
{{ project.background|safe }}
<hr>

<h2 id="methods">Methods</h2>
{{ project.methods|safe }}
<hr>

<h2 id="description">Data Description</h2>
{{ project.content_description|safe }}
<hr>

<h2 id="usage-notes">Usage Notes</h2>
{{ project.usage_notes|safe }}
<hr>

{% if project.release_notes %}
  <h2 id="release-notes">Release Notes</h2>
    {{ project.release_notes|safe }}
  <hr>
{% endif %}

{% if project.ethics_statement %}
  <h2 id="ethics">Ethics</h2>
    {{ project.ethics_statement|safe }}
  <hr>
{% endif %}

{% if project.acknowledgements %}
  <h2 id="acknowledgements">Acknowledgements</h2>
  {{ project.acknowledgements|safe }}
  <hr>
{% endif %}

<h2 id="conflicts-of-interest">Conflicts of Interest</h2>
{{ project.conflicts_of_interest|safe }}
<hr>

{% if references %}
  <h2 id="references">References</h2>
  <ol>
  {% for reference in references %}
    <li>{{ reference.description }}</li>
  {% endfor %}
  </ol>
  <hr>
{% endif %}
