{% if data_access_request.is_pending %}
    <span class="badge badge-primary">Pending</span>
{% elif data_access_request.is_accepted %}
    <span class="badge badge-success">Accepted</span>
{% elif data_access_request.is_withdrawn %}
 <span class="badge badge-danger">Withdrawn</span>
{% elif data_access_request.is_rejected %}
    <span class="badge badge-danger">Rejected</span>
{% elif data_access_request.is_revoked %}
    <span class="badge badge-danger">Revoked</span>
{% else %}
    <span class="badge badge-danger">Expired</span>
{% endif %}
