{% extends "base.html" %}
{% load static %}
{% block title %}Data Access Request Status{% endblock %}
{% block content %}
    <div class="container">
        <h1>Data Access Requests - {{ project }}</h1>
        The reviewers received the following requests:
        {% for access_request in access_requests %}
            <hr />
            <h4>{{ access_request.data_use_title }}</h4>
            <small class="text-muted">
                submitted on {{ access_request.request_datetime }}{% if not access_request.is_pending and not access_request.is_rejected and not access_request.is_withdrawn %}, valid {% if access_request.valid_until %}until {{ access_request.valid_until }} {% else %}forever{% endif %}{% endif %}
                {% include 'project/data_access_request_badge.html' with data_access_request=access_request %}
            </small>
            <p>
                {{ access_request.data_use_purpose|safe }}
            </p>
            {% if access_request.responder_comments %}
                <br>
                <strong>Responder Comments</strong>
                <p>{{ access_request.responder_comments|safe }}</p>
            {% endif %}
            {% if access_request.is_pending %}
                <form method="post" action="{% url 'data_access_request_status' project.slug project.version %}">
                    {% csrf_token %}
                    <input type="hidden" name="withdraw_request_id" id="withdraw_request_id" value="{{ access_request.id }}">
                    <button type="submit" class="btn btn-sm btn-danger">Withdraw</button>
                </form>
            {% endif %}
        {% endfor %}
        <hr />
        {% if access_requests %}
            <br>
            <strong>By submitting an access request, you agreed with the following terms:</strong>
            <p>{{ project.license.dua_html_content|safe }}</p>
        {% endif %}
        <br>
        <p>
            <strong>If you would like to use the data for a different purpose, please reapply.<strong>
        </p>
        <a class="btn btn-success" href="{% url 'request_data_access' project.slug project.version %}">Reapply</a>
    </div>
{% endblock %}
