{% load static %}

<div id="forms-and-panel">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "project/project_files_form.html" %}

    <div id="files-panel" class="card">
      <div class="card-header">
        Folder Navigation:
        {% spaceless %}
          <span class="dir-breadcrumbs">
            {% for breadcrumb in dir_breadcrumbs %}
              {% if forloop.counter == dir_breadcrumbs|length %}
                <span class="dir-breadcrumb-self">{{ breadcrumb.name }}</span>
              {% else %}
                <a href="{{ breadcrumb.rel_path }}#files-panel"
                   onclick="return navigateDir('{{ breadcrumb.full_subdir }}')"
                   class="dir-breadcrumb-up">{{ breadcrumb.name }}</a>
                <span class="dir-breadcrumb-sep">/</span>
              {% endif %}
            {% endfor %}
          </span>
        {% endspaceless %}
      </div>
      {% if file_error %}
      <div class="card-body">
        <div class="alert alert-danger" role="alert">
          {{ file_error|safe }}
        </div>
      </div>
      {% else %}
        {% if file_warning %}
          <div class="card-body">
            <div class="alert alert-warning" role="alert">
              {{ file_warning|safe }}
            </div>
          </div>
        {% endif %}
      <table class="files-panel">
        <col class="files-panel-name"></col>
        <col class="files-panel-size"></col>
        <col class="files-panel-date"></col>
        <col class="files-panel-checkbox"></col>
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Modified</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% if subdir %}
          <tr class="parentdir">
            <td><a href="../#files-panel" onclick="return navigateDir('{{ parent_dir }}')">Parent Directory</a></td>
            <td></td>
            <td></td>
            <td></td>
          </li>
        {% endif %}
        {% for dir in display_dirs %}
          <tr class="subdir">
            <td><a href="{{ dir.name }}/#files-panel" onclick="return navigateDir('{{ dir.full_subdir }}')">{{ dir.name }}</a></td>
            <td></td>
            <td></td>
            <td><input type="checkbox" name="items" value="{{ dir.name }}" onchange="countSelected(this)"></td>
          </tr>
        {% endfor %}
        {% for file in display_files %}
          <tr>
            <td><a href="{{ file.url }}?return=files">{{ file.name }}</a></td>
            <td>{{ file.size }}</td>
            <td>{{ file.last_modified }}</td>
            <td><input type="checkbox" name="items" value="{{ file.name }}" onchange="countSelected(this)"></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </form>

</div>
<script>
  // Navigate to another file directory and reload the file panel
  // subdir is the full subdirectory
  function navigateDir(subdir){
    $.ajax({
            type: "GET",
            url: "{% url 'project_files_panel' project.slug %}",
            data: {'subdir':subdir
            },
            success: function reloadSection(result){
                $("#forms-and-panel").html(result);
            },
    });
    return false
  }

  // Selected checkboxes
  n_selected = 0

  // Enables and disables buttons based on selected checkboxes
  function countSelected(box){
    if (box.checked){
      n_selected ++
    }
    else{
      n_selected --
    }

    if (n_selected > 0){
      if (n_selected == 1){
        document.getElementById("rename-item-button").disabled = false
      }
      else{
        document.getElementById("rename-item-button").disabled = true
      }
      document.getElementById("move-items-button").disabled = false
      document.getElementById("delete-items-button").disabled = false
    }
    else{
      document.getElementById("rename-item-button").disabled = true
      document.getElementById("move-items-button").disabled = true
      document.getElementById("delete-items-button").disabled = true
    }
  }


  // Direct each input's 'enter' submit function to the right button.
  // Needed due to form sharing of all item manipulation inputs.
  document.getElementById("id_file_field").addEventListener("keydown", function(event){
      if (event.keyCode === 13) {
        event.preventDefault()
        document.getElementById("upload-files-button-submit").click()
      }
  });
  document.getElementById("id_folder_name").addEventListener("keydown", function(event){
      if (event.keyCode === 13) {
        event.preventDefault()
        document.getElementById("create-folder-button-submit").click()
      }
  });
  document.getElementById("id_new_name").addEventListener("keydown", function(event){
      if (event.keyCode === 13) {
        event.preventDefault()
        document.getElementById("rename-item-button-submit").click()
      }
  });
  document.getElementById("id_destination_folder").addEventListener("keydown", function(event){
      if (event.keyCode === 13) {
        event.preventDefault()
        document.getElementById("move-items-button-submit").click()
      }
  });


  function setInputRequirements(required_id){
    // Make one of the item manipulating form inputs required, and
    // remove it from all others.
    var input_ids = ["id_file_field", "id_folder_name", "id_new_name",
                     "id_destination_folder"]
    for (var i=0; i<input_ids.length; i++){
      var input_id = input_ids[i]
      if (required_id == input_id){
        document.getElementById(input_id).required = true
      }
      else{
        document.getElementById(input_id).required = false
      }
    }
  }

  // These prepare functions are activated before triggering the modals
  function prepareUpload(){
    setInputRequirements("id_file_field")
  }

  function prepareCreate(){
    setInputRequirements("id_folder_name")
  }

  function prepareRename(){
    setInputRequirements("id_new_name")
    var itemName = document.querySelector('input[type="checkbox"]:checked').value
    document.getElementById("rename-item-message").innerHTML = "Selected item: <strong>"+ itemName + "</strong>"
  }

  function prepareMove(){
    setInputRequirements("id_destination_folder")
    document.getElementById("move-items-message").innerHTML = "Move "+ n_selected + " selected item(s)."
  }

  function prepareDelete(){
    setInputRequirements("")
    document.getElementById("delete-items-message").innerHTML = "Are you sure you wish to delete the "+ n_selected + " selected item(s)?"
  }

</script>

{# For authors, disable submission if not currently editable or not submitting author. This template is also used for admin copyedit. #}
{% if not user.is_admin %}
  {% if not is_submitting or not project.author_editable %}
    <script src="{% static 'custom/js/disable-input.js' %}"></script>
  {% endif %}
{% endif %}
