<div class="card-header">
  <div class="files-panel-text">
    <div class="files-panel-button-container">
      <button class="btn btn-primary files-panel-button-all" onclick="downloadAll()">Download All Items</button>
    </div>
    <div class="files-panel-button-container">
      <button class="btn btn-primary files-panel-button" onclick="downloadMultiple()">Download Selected Items</button>
    </div>
    Folder Navigation:
    {% spaceless %}
      <span class="dir-breadcrumbs">
        {% for breadcrumb in dir_breadcrumbs %}
          {% if forloop.counter == dir_breadcrumbs|length %}
            <span class="dir-breadcrumb-self">{{ breadcrumb.name }}</span>
          {% else %}
            <a href="{{ breadcrumb.rel_path }}#files-panel"
              onclick="return navigateDir('{{ breadcrumb.full_subdir }}')"
              class="dir-breadcrumb-up">{{ breadcrumb.name }}</a>
            <span class="dir-breadcrumb-sep">/</span>
          {% endif %}
        {% endfor %}
      </span>
    {% endspaceless %}
  </div>
</div>
{% if file_error %}
<div class="card-body">
  <div class="alert alert-danger" role="alert">
    {{ file_error|safe }}
  </div>
</div>
{% else %}
  {% if file_warning %}
    <div class="card-body">
      <div class="alert alert-warning" role="alert">
        {{ file_warning|safe }}
      </div>
    </div>
  {% endif %}
<table class="files-panel">
  <col class="files-panel-select"></col>
  <col class="files-panel-name"></col>
  <col class="files-panel-size"></col>
  <col class="files-panel-date"></col>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Size</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
  {% if subdir %}
    <tr class="parentdir">
      <td></td>
      <td><a href="../#files-panel" onclick="return navigateDir('{{ parent_dir }}')">Parent Directory</a></td>
      <td></td>
      <td></td>
    </tr>
  {% endif %}
  {% for dir in display_dirs %}
    <tr class="subdir">
      <td></td>
      <td><a href="{{ dir.name }}/#files-panel" onclick="return navigateDir('{{ dir.full_subdir }}')">{{ dir.name }}</a></td>
      <td></td>
      <td></td>
    </tr>
  {% endfor %}
  {% for file in display_files %}
    <tr>
      <td><input class="file-check-input" type="checkbox" value="{{ file.download_url }}" onclick="showButton()"></td>
      <td><a href="{{ file.url }}">{{ file.name }}</a>
        <a class="download" href="{{ file.download_url }}"
           title="Download {{ file.name }}">
          <span class="visually-hidden">(download)</span>
        </a>
      </td>
      <td>{{ file.size }}</td>
      <td>{{ file.last_modified }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

<script>
  // Navigate to another file directory and reload the file panel
  // subdir is the full subdirectory
  function navigateDir(subdir){
    $.ajax({
            type: "GET",
            url: "{{ files_panel_url }}",
            data: {'subdir':subdir
            },
            success: function reloadSection(result){
                $("#files-panel").html(result);
            },
    });
    return false
  }
  // Only display the "Download Selected Items" button if boxes are checked
  function showButton(){
    var all_files = document.getElementsByClassName("file-check-input");
    var any_checked = [];
    for (var i = 0; i < all_files.length; i++) {
      any_checked.push(all_files[i].checked);
    }
    if (any_checked.includes(true)) {
      document.getElementsByClassName("files-panel-button")[0].style.display = "inline";
    } else {
      document.getElementsByClassName("files-panel-button")[0].style.display = "none";
    }
  }
  // Download multiple files at once
  function downloadAll(){
    var all_files = document.getElementsByClassName("file-check-input");
    for (var i = 0; i < all_files.length; i++) {
      window.open(all_files[i].value);
    }
  }
  function downloadMultiple(){
    var all_files = document.getElementsByClassName("file-check-input");
    for (var i = 0; i < all_files.length; i++) {
      if (all_files[i].checked) {
        window.open(all_files[i].value);
      }
    }
  }
</script>
