{% extends "project/file_view.html" %}

{% block file_content %}
<table class="data-table table-striped">
  {% if header_row %}
  <thead>
    <tr>{% for col in header_row %}<th>{{ col }}</th>{% endfor %}</tr>
  </thead>
  {% endif %}
  <tbody>
    {% for row in data_rows %}
    <tr>{% for col in row %}<td>{{ col }}</td>{% endfor %}</tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block file_footer %}
{% if truncated_rows or truncated_columns %}
<div class="card-footer text-center">
  <strong>
  {% if truncated_rows and truncated_columns %}
  Only the first {{ truncated_rows }} rows
  and {{ truncated_columns }} columns are shown.
  {% elif truncated_rows %}
  Only the first {{ truncated_rows }} rows are shown.
  {% else %}
  Only the first {{ truncated_columns }} columns are shown.
  {% endif %}
  </strong>
  <a href="{{ file.download_url }}">Click here to download the
    complete file.</a>
</div>
{% elif missing_newline %}
<div class="card-footer text-center missing-newline-warning">
  Warning: missing newline at end of file
</div>
{% endif %}
{% endblock %}

{% block local_css %}
<style>
  .data-table {
    margin: 0px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
  }
  .missing-newline-warning {
    color: #f00;
  }
</style>
{% endblock %}
