{% extends "base.html" %}

{% load static %}

{% block title %}
Invitation Response
{% endblock %}


{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/login-register.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
    <h2>The invitation has been {{ response }}</h2>
    <p>
        {% if response == "accepted" %}
            You are now a collaborator of <a href="{% url 'project_overview' project.id %}">{{ project }}</a>.
        {% endif %}
        You may return to your <a href="{% url 'project_home' %}">project home</a>.
    </p>
</div>
{% endblock %}
