<div id="{{ item }}-list">
  {{ formset.management_form }}

  <div class="form-group row">
    <div class="col-md-11">
      <label>{{ item_label }}</label>
        {% if formset.help_text|slice:"0:1" == "*" %}
          <a style="color:red"> *</a>
        {% endif %}
      <i class="fas fa-question-circle" data-toggle="popover" data-placement="right" data-content="{{ formset.help_text|safe }}" data-html="true" onmouseover="" style="cursor: pointer;"></i>
    </div>

    <div class="col-md-1">
      <button class="btn btn-sm btn-info" id="add-{{ item }}-button" type="button" onclick="addItem(this, '{{ item }}', '{{ form_name }}', '{{ formset.max_forms }}', '{{ add_item_url }}')" title="Add {{ item }} (max {{ formset.max_forms }})"><i class="fas fa-plus"></i></button>
    </div>
  </div>
  {% for form in formset %}
    {# This {{ item }}-%d id is identifying the form number on the page #}
    <div class="form-group row {{ item }}-body" id="{{ item }}-{{ forloop.counter }}">
      <div class="col-md-1"></div>
      <div class="col-md-1 {{ item }}-number">{{ forloop.counter }}.</div>
      <div class="col-md-9 {{ item }}-form">
        {# id value is blank for forms without saved instances #}
        {# We want to display labels only for multi-attribute fields #}
        {% if form.visible_fields|length > 1 %}
          {% for field in form.visible_fields %}
            {{ field.label }}
            {{ field }}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
        {% else %}
          {% for field in form %}
            {{ field }}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
        {% endif %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      </div>
      <div class='col-md-1'>
        <button class="btn btn-sm btn-danger" type="button" title="Remove {{ item }}" onclick="removeItem(this, '{{ item }}', '{{ form_name }}', '{{ remove_item_url }}')"><i class="fas fa-times"></i></button>
      </div>
    </div>
  {% endfor %}

  {% for error in formset.non_form_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
  {% endfor %}
</div>
