{% extends "project/project.html" %}

{% load static %}

{% load project_templatetags %}

{% block title %}Project Files - {{ project }}{% endblock %}

{% block local_js_top %}
<script type="text/javascript" src="{% static 'custom/js/cookie.js' %}"></script>
{% endblock %}

{% block local_js_bottom %}
 {# Disable submission for non-submitting authors #}
{% if not is_submitting %}
  <script type="text/javascript" src="{% static 'custom/js/disable-input.js' %}"></script>
{% endif %}
{% endblock %}

{% block main_content %}
<h2 class="form-signin-heading">5. Project Files</h2>
<hr>
{% include "about/files.html" %}
<br>

{% if not is_submitting %}
<div class="alert alert-form alert-warning alert-dismissible">
  <strong>Only the submitting author may edit files and request storage.</strong>
</div>
{% endif %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Storage Allowance: {{ storage_info.readable_allowance }}</h4>
    <p class="card-text">Used: {{ storage_info.readable_used }} ( {{ storage_info.p_used }}% ) <a style="float:right">Remaining: {{ storage_info.readable_remaining }} ( {{ storage_info.p_remaining }}% )</a></p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ storage_info.p_used }}%;" aria-valuenow="{{ storage_info.p_used }}" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
    <br>
    {% if storage_request %}
      <em>Storage request for {{ storage_request.request_allowance }}GB pending</em>
    {% else %}
      {% if is_submitting %}
        <button id="request-storage-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#request-storage-modal">
          <i class="fa fa-cube"></i> Request Storage
        </button>

        <div class="modal fade" id="request-storage-modal" tabindex="-1" role="dialog" aria-labelledby="request-storage-modal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Request Storage</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                  {% csrf_token %}
                  <p>We will only approve storage requests if the project and its files are adequately described.</p>
                  {{ storage_request_form }}
                  <em>Current allowance: {{ storage_info.readable_allowance }}</em>
                </div>
                <div class="modal-footer">
                  <button id="request-storage-button-submit" class="btn btn-primary" name="request_storage" type="submit"><i class="fa fa-cube"></i> Request Storage</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
<br>

{% include "project/project_files_panel.html" %}

{% endblock %}
