{% extends "project/project.html" %}

{% block title %}Project Submission - {{ project }}"{% endblock %}

{% load project_templatetags %}

{% block main_content %}

<script>
  // Check whether the project is submittable
  function checkSubmittable(){
    $.ajax({url: "{% url 'check_submittable' project.id %}",
      success: function(result){
        if (result.is_submittable){
          $("#submittable").html("<i class='fas fa-check' style='color:green'></i> The automatic checks have passed. You may submit the project for review. Note: The project will no longer be editable.");
          document.getElementById("request-review").disabled = false;
        }
        else{
          message = "<p><i class='fas fa-times' style='color:red'></i> The automatic checks have failed. The following errors must be addressed before you can submit the project:</p><ul>"
          for (i=0; i<result.submit_errors.length; i++) {
            message += "<li>" + result.submit_errors[i] + "</li>"
          }
          message += "</ul>"
          $("#submittable").html(message);
        }
      }
    });
  }
</script>


<h2 class="form-signin-heading">6. Project Submission</h2>
<hr>

<h3>Submission Checklist</h3>

{% include "about/submission_checklist.html" %}

<hr>

<h3>Submission Status</h3>
{% if not project.under_submission %}
  <p>The project is not under submission. If the
    <a href="{% url 'project_preview' project.id %}" target="_blank">
    preview</a> appears satisfactory, the submitting author may request a
    review</p>
  {% if user == project.submitting_author %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submit-modal" onclick="checkSubmittable()">
      Request Review
    </button>

    <div class="modal fade" id="submit-modal" tabindex="-1" role="dialog" aria-labelledby="submit-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Submit Project</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post">
            <div class="modal-body">
              {% csrf_token %}
              <p id="submittable"><i class="fas fa-spinner"></i> Running checks on project...</p>
            </div>
            <div class="modal-footer">
              <button id="request-review" class="btn btn-primary" type="submit" name="submit_project" disabled>Request Review</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% else %}
  <br>
  {# The active submission status timeline #}
  <div class="card">
    <div class="card-header"><h4>Active Submission</h4></div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fas fa-check-circle" style="color:green"></i> The project was submitted for review on {{ submission.submission_datetime|date }}.</li>
      {% if submission.editor %}
        <li class="list-group-item"><i class="fas fa-check-circle" style="color:green"></i> The editor for the submission is: {{ submission.editor.disp_name_email }}</li>
      {% else %}
        <li class="list-group-item"><i class="far fa-clock"></i> Waiting for editor to be assigned.</li>
      {% endif %}
      {% if submission.status == 0 %}
        {% if submission.editor %}
          <li class="list-group-item"><i class="far fa-clock"></i> Waiting for editor decision.</li>
        {% endif %}
      {% elif submission.status == 2 %}
        <li class="list-group-item"><i class="fas fa-check-circle" style="color:green"></i> The editor has accepted the submission with revisions. The submitting author must resubmit a revised version.</li>
      {% elif submission.status >= 3 %}
        <li class="list-group-item"><i class="fas fa-check-circle" style="color:green"></i> The editor accepted the submission on {{ submission.decision_datetime|date }}</li>
        {% if submission.status == 3 %}
          <li class="list-group-item"><i class="far fa-clock"></i> The project is being copyedited by the editor. Email the editor to suggest changes. When all authors approve, the editor will complete this stage.
            {% if not admin_inspect and not author.approved_publish %}
              <form action="" method="post">{% csrf_token %}<button class="btn btn-success" name="approve_publish" style="float:right">Approve Publication</button><a class="btn btn-primary mr-1" href="{% url 'project_preview' project.id %}" target="_blank" role="button" style="float:right">Preview Project</a></form>
            {% endif %}
            <ol>
              {% for author in authors %}
              <li>
                {% if author.approved_publish %}
                  <i class="fas fa-check-circle" style="color:green"></i> {{ author.disp_name_email }}
                {% else %}
                  <i class="far fa-clock"></i> {{ author.disp_name_email }}
                {% endif %}
              </li>
              {% endfor %}
            </ol>
          </li>
        {% else %}
          <li class="list-group-item"><i class="fas fa-check-circle" style="color:green"></i> The editor and all authors completed the copyedit on {{ submission.copyedit_datetime|date }}</li>
          <li class="list-group-item"><i class="far fa-clock"></i> Waiting for editor to publish.</li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
{% endif %}

<hr>

{% endblock %}
