{% extends "project/project.html" %}

{% block title %}Project Overview - {{ project }}"{% endblock %}

{% load project_templatetags %}

{% block main_content %}
<h2 class="form-signin-heading">Project Overview</h2>
<hr>

<p>
  {{ project.resource_type|resource_badge|safe }}
  {% if project.under_submission %}
    <span class="badge badge-info"><i class="fas fa-glasses"></i> Under Submission</span>
  {% endif %}
</p>
<p class="text-muted">
  Created {{ project.creation_datetime|date }} Modified {{ project.modified_datetime|date }}
</p>
<p>
  Submitting Author: <a href="{% url 'public_profile' project.submitting_author.username %}">{{ project.submitting_author.profile }}</a>
</p>
<hr>

<h3>Preparing for Submission</h3>

<p>To prepare the project for submission, go through the following steps using the side panel:</p>

{% include "about/preparation_checklist.html" %}
<hr>

<h3>Published Versions</h3>

{% for published_project in published_projects %}
    <a href="{% url 'published_project' published_project.slug %}">Version {{ published_project.version }}. Published {{ published_project.publish_datetime|date }}</a>
{% empty %}
  <p>This project has not been published.</p>
{% endfor %}

<hr>

{% endblock %}
