{% extends "project/project.html" %}

{% load project_templatetags %}

{% block title %}Project Authors{% endblock %}

{% block form %}
<h2 class="form-signin-heading">Project Authors</h2>
<hr>

<h4>Roles</h4>
<p>Each project has one or more authors, including the single submitting author who creates the project. Authors are credited for creating the resource when it is published. An author may be a person, or an organization. Human authors must be invited and accept authorship, and fill in their own details. Organizational authors can be added by the submitting author.</p>

<hr>

<div class="card">
  <div class="card card-header">
    <h4>Project Authors</h4>
  </div>
  {% if authors %}
    <ul class="list-group list-group-flush">
      {% for author in authors %}
        <li class="list-group-item">
          {{ author.display_order }}. {{ author.user }}<br>
          Name: {{ author|author_name }}<br>
          Affiliations:
          <a class="float-right">
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="card card-body text-center">
    </div>
  {% endif %}
</div>
<hr>

<h4>Your Author Information</h4>
<p>Edit your author information. <em>Note: these fields are not tied to your profile information</em>.</p>
<form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
  {% csrf_token %}
  {{ edit_author_form }}
  {% for error in edit_author_form.email.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
  {% endfor %}

  <button class="btn btn-primary btn-fixed" name="edit_author" type="submit">Update Information</button>
</form>
<hr>

<div class="card">
  <div class="card card-header">
    <h4>Outstanding Author Invitations</h4>
  </div>
  <ul class="list-group list-group-flush">
    {% if invitations %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4"><strong>Invitee</strong></div>
            <div class="col-md-4"><strong>Inviter</strong></div>
            <div class="col-md-2"><strong>Sent</strong></div>
            <div class="col-md-2"><strong>Expires</strong></div>
          </div>
        </li>
        {% for invitation in invitations %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">{{ invitation.email }}</a></div>
              <div class="col-md-4">{{ invitation.inviter }}</div>
              <div class="col-md-2">{{ invitation.creation_date }}</div>
              <div class="col-md-2">{{ invitation.expiration_date }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="card-body text-center">
      </div>
    {% endif %}
  </ul>
</div>
<hr>

{% if user == project.submitting_author or user.is_admin %}
    <h4>Order Authors</h4>
    <p>Set the order in which authors are displayed</p>
    <form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {{ invite_author_form.email }}
      {% for error in invite_author_form.email.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}

      <button class="btn btn-success btn-fixed" name="invite_author" type="submit">Invite Author</button>
    </form>
    <hr>

    <h4>Invite Author</h4>
    <p>Invite an author with their email</p>
    <form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {{ invite_author_form.email }}
      {% for error in invite_author_form.email.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}

      <button class="btn btn-success btn-fixed" name="invite_author" type="submit">Invite Author</button>
    </form>
    <hr>

    <h4>Add Organizational Author</h4>
    <p>Add an organizational author</p>
    <form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {{ add_author_form }}
      {% for error in add_author_Form.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}

      <button class="btn btn-success btn-fixed" name="add_author" type="submit">Add Author</button>
    </form>
    <hr>

    <h4>Remove Author</h4>
    <p>Remove a user from the list of authors</p>
    <form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {{ remove_author_form.author }}
      <button class="btn btn-danger btn-fixed" name="remove_author" type="submit">Remove Author</button>
    </form>
    <hr>

    <h4>Cancel Invitation</h4>
    <p>Cancel an existing author invitation</p>
    <form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {{ cancel_invitation_form.invitation }}
      <button class="btn btn-danger btn-fixed" name="cancel_invitation" type="submit">Cancel Invitation</button>
    </form>
    <hr>

    {% endif %}

{% endblock %}
