{% extends "project/project.html" %}

{% block title %}Project Submission - {{ project }}"{% endblock %}

{% load project_templatetags %}

{% block main_content %}

<script>
  // Check the integrity of the metadata fields and enable/disable the
  // submission buttons
  function checkIntegrity(is_resubmission){
    if (Boolean(is_resubmission)){
      var target_modal = "#passes-checks-resubmission"
      var button_id = "resubmit-project-button"
    }
    else{
      var target_modal = "#passes-checks"
      var button_id = "submit-project-button"
    }

    $.ajax({url: "{% url 'check_integrity' project.slug %}",
      success: function(result){
        if (result.passes_checks){
          $(target_modal).html("<i class='fas fa-check' style='color:green'></i> The automatic checks have passed. You may submit the project for review. Note: you will no longer be able to edit the project.");
          document.getElementById(button_id).disabled = false;
        }
        else{
          message = "<p><i class='fas fa-times' style='color:red'></i> The automatic checks have failed. The following errors must be addressed before you can submit the project:</p><ul>"
          for (i=0; i<result.integrity_errors.length; i++) {
            message += "<li>" + result.integrity_errors[i] + "</li>"
          }
          message += "</ul>"
          $(target_modal).html(message);
        }
      }
    });
  }
</script>


<h2 class="form-signin-heading">Project Submission</h2>
<hr>
{% if not project.under_submission %}
  <p>The project is not under submission. If the
    <a href="{% url 'project_preview' project.slug %}" target="_blank">
    preview</a> appears satisfactory to all authors, the submitting author may
    submit the project for review.</p>
  {% if is_submitting %}
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#submit-modal" onclick="checkIntegrity(false)">
      Submit Project
    </button>

    <div class="modal fade" id="submit-modal" tabindex="-1" role="dialog" aria-labelledby="submit-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Submit Project</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post">
            <div class="modal-body">
              {% csrf_token %}
              <p id="passes-checks"><i class="fas fa-spinner"></i> Running checks on project...</p>
            </div>
            <div class="modal-footer">
              <button id="submit-project-button" class="btn btn-primary" type="submit" name="submit_project" disabled>Submit Project</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% else %}
  {# The active submission status timeline #}
  <div class="card">
    <div class="card-header">Submission Timeline</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ project.submission_datetime|date }}: The project was submitted for review.</li>
      {# Waiting for editor #}
      {% if project.submission_status == 10 %}
        <li class="list-group-item"><i class="far fa-clock"></i> Waiting for editor to be assigned.</li>
      {# Editor assigned #}
      {% else %}
        <li class="list-group-item">{{ project.editor_assignment_datetime|date }}: The project was assigned the editor: {{ project.editor.disp_name_email }}</li>
        {# At this point, there may have been any number of submissions #}
        {% for e in edit_logs %}
          {% if e.decision_datetime %}
            {% if e.decision == 0 %}
              <li class="list-group-item"><p>{{ e.decision_datetime|date }}: The editor rejected the submission.</p>
            {% elif e.decision == 1 %}
              <li class="list-group-item"><p>{{ e.decision_datetime|date }}: The editor requested a resubmission with revisions.</p>
            {% elif e.decision == 2 %}
              <li class="list-group-item"><p>{{ e.decision_datetime|date }}: The editor accepted the submission.</p>
            {% endif %}
            <p>The standard quality assurance results are as follows:</p>
            <ul>
              {% for result in e.quality_assurance_results %}
                <li>{{ result }}</li>
              {% endfor %}
            </ul>
            <p>The editor comments regarding the submission are as follows:</p>
            {{ e.editor_comments }}
            </li>
          {# No decision yet #}
          {% else %}
            <li class="list-group-item"><i class="far fa-clock"></i> Waiting for editor decision.</li>
          {% endif %}
        {% endfor %}
        {# Waiting for revisions #}
        {% if project.submission_status == 30 %}
          <li class="list-group-item"><i class="far fa-clock"></i> Waiting for submitting author to make revisions and resubmit.
            {% if is_submitting %}
              <br><br>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#resubmit-modal" onclick="checkIntegrity(true)">Resubmit Project</button>
              <div class="modal fade" id="resubmit-modal" tabindex="-1" role="dialog" aria-labelledby="resubmit-modal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Resubmit Project</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="" method="post">
                      <div class="modal-body">
                        {% csrf_token %}
                        <p id="passes-checks-resubmission"><i class="fas fa-spinner"></i> Running checks on project...</p>
                      </div>
                      <div class="modal-footer">
                        <button id="resubmit-project-button" class="btn btn-primary" type="submit" name="resubmit_project" disabled>Reubmit Project</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
          </li>
        {% elif project.submission_status >= 40 %}
          {# At this point, there may have been any number of copyedits #}
          {% for c in copyedit_logs %}
            {% if c.is_reedit %}
              <li class="list-group-item">{{ c.start_datetime|date }}: The editor reopened the submission for copyediting.</li>
            {% endif %}
            {# The copyedit is complete #}
            {% if c.complete_datetime %}
              <li class="list-group-item">
                {{ c.complete_datetime|date }}: The editor finished copyediting the submission.
                {% if c.made_changes %}
                <p>The editor comments regarding the changes made are as follows:</p>
                {{ c.changelog_summary }}
                {% else %}
                <p>No changes were made during the copyedit.</p>
                {% endif %}
              </li>
            {% else %}
              <li class="list-group-item"><i class="far fa-clock"></i> Waiting for editor to copyedit submission.</li>
            {% endif %}
          {% endfor %}
        {% endif %}
        {# Awaiting authors to approve final project #}
        {% if project.submission_status == 50 %}
          <li class="list-group-item">
            <p><i class="far fa-clock"></i> Waiting for all authors to approve the final project.</p>
            {% include "project/awaiting_authors_table.html" %}
            <a class="btn btn-primary" href="{% url 'project_preview' project.slug %}" role="button" target="_blank">View Project Preview</a>
            {# The user is an author and has yet to approve #}
            {% if awaiting_user_approval %}
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#approve-modal">Approve Publication</button>
              <br><br>
              <p>If you would like to suggest changes, you may contact the editor to reopen the copyedit.</p>
              <div class="modal fade" id="approve-modal" tabindex="-1" role="dialog" aria-labelledby="submit-modal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Approve Publication</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form action="" method="post">
                      <div class="modal-body">
                        {% csrf_token %}
                        <p>If you are satisfied with the final state of the project, you may approve the publication.</p>
                      </div>
                      <div class="modal-footer">
                        <button id="request-review" class="btn btn-success" type="submit" name="approve_publication">Approve Publication</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
          </li>
        {% elif project.submission_status == 60 %}
          <li class="list-group-item">{{ project.author_approval_datetime|date }}: All authors approved the final project for publication.</li>
          <li class="list-group-item"><i class="far fa-clock"></i> Waiting for editor to publish submission.</li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
{% endif %}

<hr>

{% endblock %}
