{% extends "base.html" %}

{% load static %}

{% load project_templatetags %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/settings.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-6 col-md-2 sidebar-offcanvas" id="sidebar">
      {# Overview box is separate from preparation steps #}
      <div class="list-group">
        {% url 'project_overview' project.id as overview_url %}
        <a href="{{ overview_url }}" class="list-group-item list-group-item-action{% if overview_url == request.path %} active{% endif %}">&nbsp;&nbsp;&nbsp;Overview</a>
      </div>
      <br>

      <div class="list-group">
        {% with 'authors metadata access identifiers files proofread' as project_settings %}
          {% for setting in project_settings.split %}
            {% url 'project_'|add:setting project.id as setting_url %}
            <a href={{ setting_url }} class="list-group-item list-group-item-action{% if setting_url == request.path %} active{% endif %}">{{ forloop.counter }}. {{ setting|title }}</a>
          {% endfor %}
        {% endwith %}
      </div>
      <br>

      <div class="list-group">
        {% url 'project_submission' project.id as submission_url %}
        <a href="{{ submission_url }}" class="list-group-item list-group-item-action{% if submission_url == request.path %} active{% endif %}">&nbsp;&nbsp;&nbsp;Submission</a>
      </div>
      <br>

      <div class="list-group">
        <a href="{% url 'project_home' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;My Projects</a>
      </div>
    </div><!--/span-->

    <div class="col-10 col-md-10">
      {% include "message_snippet.html" %}
      <div class="container">
        <h1>
          {{ project }}
          {% if admin_inspect %}
            (<i class="fas fa-user-secret" title="Admin Inspection"></i>)
          {% endif %}
        </h1>
        <hr>
        {% block main_content %}
        {% endblock %}
      </div><!--/row-->
    </div><!--/span-->

  </div><!--/row-->


</div><!--/.container-->
{% endblock %}
