{% extends "project/project.html" %}

{% load static %}

{% block title %}Project Access - {{ project }}{% endblock %}

{% block main_content %}
<h2 class="form-signin-heading">3. Project Access</h2>
<hr>

{% include 'about/access_policies.html'%}

{% if not project.author_editable %}
  <div class="alert alert-form alert-warning alert-dismissible">
    <strong>The project cannot be edited right now.</strong>
  </div>
{% elif not is_submitting %}
  <div class="alert alert-form alert-warning alert-dismissible">
    <strong>Only the submitting author may edit the access information.</strong>
  </div>
{% endif %}

<form action="{% url 'project_access' project.slug %}" method="post" class="no-pd">
  {% include "project/content_inline_form_snippet.html" with form=access_form %}
  <hr>
  <button class="btn btn-primary btn-rsp" type="submit" name="edit_access">Save Access Information</button>
</form>

{% if project.submission_status > 20 %}
<h3 style="padding-top:50px;" id="reviewer">Anonymous Access</h3>
<hr>
<p>
  You can generate a passphrase that will allow anonymous access to the
  <i><a href="{% url 'project_preview' project.slug %}" target="_blank">preview</a></i> of your project.
  This is useful if you are submitting an article to a peer-reviewed journal and access
  to your PhysioNet resource is needed during the review process.
  <br>
  The URL for reviewer access is:
  <a href="{% url 'anonymous_login' project.slug %}" target="_blank">{{ request.get_host }}{% url 'anonymous_login' project.slug %}</a>
</p>
<div
  {% if not passphrase %}
    class="alert alert-danger">
    <p>Note: When providing anonymous access to third parties, keep in mind that any changes made during
      the PhysioNet review process will impact anyone viewing your project through that access.</p>
    {% if project.anonymous.first %}
      <p class="m-0"><strong>Warning: generating a new passphrase will revoke the existing access</strong></p>
    {% endif %}
  {% else %}
    class="alert alert-success">
    {{ passphrase }}
  {% endif %}
</div>
<form action="{% url 'project_access' project.slug %}#reviewer" method="POST" id="passphrase_form">
  {% csrf_token %}
  <button class="btn btn-primary btn-rsp" type="submit" name="generate_passphrase"
  {% if passphrase %}
    disabled
  {% endif %}
  >
    Generate passphrase
  </button>
</form>
{% endif %}

{% endblock %}

{% block local_js_bottom %}
<script src="{% static 'custom/js/enable-popover.js' %}"></script>
<script src="{% static 'project/js/control-access-form.js' %}"></script>
<script>
  load_url = "{% url 'load_license' project.slug %}"
  access_policy_input = document.getElementById("id_access_policy");
  access_policy_input.onchange = loadLicense;
</script>
{# Disable submission if not currently editable or not submitting author #}
{% if not is_submitting or not project.author_editable %}
  <script src="{% static 'custom/js/disable-input.js' %}"></script>
  {% if project.submission_status > 20 %}
    <script>
      $("#passphrase_form input").removeAttr("disabled")
      $("#passphrase_form button").removeAttr("disabled")
    </script>
  {% endif %}
{% endif %}
{% endblock %}
