{% for section in project.content_sections %}
  {% if section.body and section.html_id == 'acknowledgements' and hide_authors %}
    <h2 id="{{ section.html_id }}">{{ section.title }}</h2>
    <p>
      <em>Acknowledgements hidden.</em>
    </p>
    <hr>
  {% elif section.body %}
<h2 id="{{ section.html_id }}">{{ section.title }}</h2>
    {{ section.body|safe }}
<hr>
  {% elif section.required %}
<h2 id="{{ section.html_id }}">{{ section.title }}</h2>
<p style="color:red"><strong>* Required field missing</strong></p>
<hr>
  {% endif %}
{% endfor %}

{% if references %}
  <h2 id="references">References</h2>
  {% include "project/reference_list.html" %}
  <hr>
{% endif %}


