{% extends "base.html" %}

{% load static %}

{% load project_templatetags %}

{% block local_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'custom/css/settings.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'project/css/project-content.css' %}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">    
    <div class="col-6 col-md-2 sidebar-offcanvas" id="sidebar">
      {# Overview box is separate from preparation steps #}
      <div class="list-group">
        {% url 'project_overview' project.slug as overview_url %}
        <a id="overview_tab" href="{{ overview_url }}" class="list-group-item list-group-item-action{% if overview_url == request.path %} active{% endif %}">&nbsp;&nbsp;&nbsp;Overview</a>
      </div>
      <br>

      <div class="list-group">
        {% with 'authors content access discovery ethics files proofread' as project_settings %}
          {% for setting in project_settings.split %}
            {% url 'project_'|add:setting project.slug as setting_url %}
            <a id="{{ setting }}_tab" href="{{ setting_url }}" class="list-group-item list-group-item-action{% if setting_url == request.path %} active{% endif %}">{{ forloop.counter }}. {{ setting|title }}</a>
          {% endfor %}
        {% endwith %}
      </div>
      <br>

      <div class="list-group">
        {% url 'project_submission' project.slug as submission_url %}
        <a id="submission_tab" href="{{ submission_url }}" class="list-group-item list-group-item-action{% if submission_url == request.path %} active{% endif %}">&nbsp;&nbsp;&nbsp;Submission</a>
      </div>
      <br>

      <div class="list-group">
        <a href="{% url 'project_home' %}" class="list-group-item">&nbsp;&nbsp;&nbsp;My Projects</a>
      </div>
    </div><!--/span-->

    <div class="col-10 col-md-10">
      {% include "message_snippet.html" %}
        <h1>{{ project }}</h1>
        <hr>
        {% block main_content %}
        {% endblock %}
      </div><!--/row-->

  </div><!--/row-->


</div><!--/.container-->
{% endblock %}
