{% extends 'base.html' %}

{% load static %}

{% load project_templatetags %}

{% block title %}Project Home{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/project-home.css' %}">
{% endblock %}

{% block content %}
<div class="container">

  <div class="jumbotron">
    <h1>Project Home</h1>
    <p class="lead">Welcome to your project home. Here you can create new projects, and access projects that you are working on or reviewing.</p>
    <p>
      <a class="btn btn-lg btn-success" href="{% url 'create_project' %}" role="button">
        <i class="fa fa-cloud-upload-alt"></i> Create New Project
      </a>
      {% if user.is_admin %}
      <a class="btn btn-lg btn-dark" href="{% url 'storage_requests' %}" role="button">
        <i class="fa fa-user-secret"></i> Project Admin Panel
      </a>
      {% endif %}
    </p>
  </div>

  <div class="card" >
    <div class="card-header">
      <h4>Your Projects</h4>
    </div>

    <ul class="list-group list-group-flush">
      {% if projects %}
        {% for project in projects %}
          <li class="list-group-item">
            <p>
              <span class="badge badge-dark">{{ project|resource_icon|safe }} {{ project.resource_type }}</span>
              {% if project.under_review %}
                <span class="badge badge-info">Under Review</span>
              {% endif %}
              {% if project.published %}
                <span class="badge badge-success">Published</span>
              {% endif %}
            </p>
            <h4><a href="{% url 'project_overview' project.id %}">{{ project.title }}</a></h4>
            <p class="list-group-item-text text-muted">
            <small>Created {{ project.creation_datetime }}. Modified {{ project.modified_datetime }}</small>
            </p>
          </li>
        {% endfor %}
      {% else %}
        <div class="card-body text-center">
          <h4 class="card-title">No projects to show</h4>
          <p class="card-text">You are not currently working on any projects.</p>
          <a class="btn btn-success" href="{% url 'create_project' %}" role="button">
            <i class="fa fa-cloud-upload-alt"></i> Create New Project
          </a>
        </div>
      {% endif %}
    </ul>
  </div>
  <br>

  <div class="card" >
    <div class="card-header">
      <h4>Project Invitations</h4>
    </div>

    <ul class="list-group list-group-flush">
      {% if invitation_formset.total_form_count %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4"><strong>Project</strong></div>
              <div class="col-md-2"><strong>Inviter</strong></div>
              <div class="col-md-2"><strong>Sent</strong></div>
              <div class="col-md-2"><strong>Expires</strong></div>
              <div class="col-md-2"></div>
            </div>
          </li>
          {% for invitation_form in invitation_formset %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4"><a href="{% url 'project_overview' invitation_form.project.value %}">{{ invitation_form.project  }}</a></div>
                <div class="col-md-2">{{ invitation_form.inviter }}</div>
                <div class="col-md-2">{{ invitation_form.creation_date.value }}</div>
                <div class="col-md-2">{{ invitation_form.expiration_date.value }}</div>
                <div class="col-md-2"><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#invitation-response-modal-{{ storage_request.project.id }}">
                  <i class="fa fa-reply"></i> Respond</button>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>

        <!-- A modal and response form for each invitation -->
        <form action="" method="post" enctype="multipart/form-data">
          {{ invitation_response_formset.management_form }}
          {% csrf_token %}
          {% for invitation_response_form in invitation_response_formset %}
            <div class="modal fade" id="invitation-response-modal-{{ invitation_response_form.project_id.value }}" tabindex="-1" role="dialog" aria-labelledby="invitation-response-modal-{{ invitation_response_form.project_id.value }}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Respond to Storage Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                    <div class="modal-body">
                      {{ invitation_response_form }}
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" name="respond-{{ invitation_response_form.project_id.value }}" type="submit"><i class="fa fa-reply"></i> Submit Response</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
            </div>

          {% endfor %}
        </form>


      {% else %}
        <div class="card-body text-center">
          <h4 class="card-title">No pending invitations</h4>
          <p class="card-text">You are not currently being invited to join any projects.</p>
        </div>
      {% endif %}
    </ul>
  </div>
  <br>

  <div class="card" >
    <div class="card-header">
      <h4>Reviewing Projects</h4>
    </div>

    <ul class="list-group list-group-flush">
      {% if reviewing_projects %}
        {% for project in reviewing_projects %}
          <li class="list-group-item">
            <h4>{{ project.title }}</h4>
          </li>
        {% endfor %}
      {% else %}
        <div class="card-body text-center">
          <h4 class="card-title">No projects to show</h4>
          <p class="card-text">You are not currently reviewing any projects.</p>
        </div>
      {% endif %}
    </ul>
  </div>
  <br>

</div> <!-- /container -->
{% endblock %}
