{% extends "project/project.html" %}

{% block title %}Project Overview - {{ project }}{% endblock %}

{% load static %}
{% load project_templatetags %}

{% block local_js_top %}
<script src="{% static 'custom/js/cookie.js' %}"></script>
<script src="{% static 'custom/js/clear-autosave.js' %}"></script>
{% endblock %}

{% block main_content %}
<h2 class="form-signin-heading">Project Overview</h2>
<hr>

<p>
  {{ project.resource_type.id|resource_badge|safe }}
  {% if project.under_submission %}
    <span class="badge badge-info">Under Submission</span>
  {% endif %}
</p>
<p class="text-muted">
  Created {{ project.creation_datetime|date }} Modified {{ project.modified_datetime|date }}
</p>
<p>
  Submitting Author: {{ submitting_author.disp_name_email }}</a>
</p>
<hr>

<h3>Preparing for Submission</h3>

<p>To prepare the project for submission, go through the following steps using the side panel:</p>

{% include "about/preparation_checklist.html" %}
<p>The full publishing process is described in the
   <a href="{% url 'static_view' static_url='publish' %}#author_guidelines"> author
guidelines</a>.</p>
<hr>
{% if is_submitting %}
  <div class="btn-container-rsp btn-left">
    <button type="button" class="btn btn-danger btn-rsp" data-toggle="modal" data-target="#delete-project-modal" {% if under_submission %}disabled title="Cannot delete while under submission"{% endif %}>Delete Project</button>
  </div>
  <div class="modal fade" id="delete-project-modal" tabindex="-1" role="dialog" aria-labelledby="delete-project-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="post">
          <div class="modal-body">
            {% csrf_token %}
            <p>Are you sure you wish to delete your project?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" name="delete_project" type="submit" {% if under_submission %}disabled title="Cannot delete while under submission"{% endif %}>Delete Project</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
