{% extends "project/project.html" %}

{% load static %}

{% block title %}Project Metadata - {{ project }}{% endblock %}

{% block local_js_top %}
<script type="text/javascript" src="{% static 'custom/js/cookie.js' %}"></script>
{% endblock %}


{% block main_content %}
<h2 class="form-signin-heading">Project Metadata</h2>
<hr>
<p>Hover over a field label to see its description. (<a style="color:red">*</a>) indicates a required field, although you do not need to fill in all fields before saving.</p>
<hr>

<script>
  /** Clone a form element to a formset

   @constructor
   @param {string} selector - The selector used to get the element to clone.
   @param {string} form_name - The name of the forms. May be more complicated
   for modelforms, inline_formsets, and genericinline_formsets.
  */
  function cloneFormElement(selector, form_name){
    var newElement = $(selector).clone(true);
    var total_forms = $('#id_' + form_name + '-TOTAL_FORMS').val();

    // Set the names and ids of each input element of the new form
    newElement.find('input').each(function() {
        var name = $(this).attr('name').replace('-' + (total_forms-1) + '-', '-' + total_forms + '-');
        var id = 'id_' + name;
        // What about the actual object id hidden input?
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    // Update the formset total forms indicator
    $('#id_' + form_name + '-TOTAL_FORMS').val(++total_forms);
    // Insert the new content after the original selected content
    $(selector).after(newElement);
  }


  // Add another form to a formset
  function addItem(item, form_name, max_forms){
    var total_forms = parseInt($('#id_' + form_name + '-TOTAL_FORMS').val());
    // alternate length method: document.getElementsByClassName("ref-body").length

    if (total_forms < max_forms){
      if (total_forms > 0){
        // Clone the existing html
        cloneFormElement("." + item + "-body:last", form_name);
        // Change the number id and display label of the newly cloned element
        new_item_div = document.getElementsByClassName(item + "-body")[total_forms]
        total_forms++;
        new_item_div.id = item + "-" + (total_forms);
        new_item_div.getElementsByClassName(item + "-number")[0].innerHTML = total_forms + "."

      }
      // Reload the item list section with an additional form
      else{
        var csrftoken = getCookie('csrftoken');
        $.ajax({
                type: "POST",
                url: "{% url 'edit_metadata_item' project.id %}",
                data: {'csrfmiddlewaretoken':csrftoken,
                       'add_first':true, 'item':item
                },
                success: function reloadSection(result){
                    $("#" + item + "-list").html(result);
                },
        });
      }
    }
  };

  // Delete a form from a formset, and possibly an associated object
  function removeItem(trigger_button, item, form_name){
    // The div encapsulating the entire item element
    var item_div = trigger_button.parentElement.parentElement;
    // The div containing the form input elements
    var form_div = item_div.getElementsByClassName(item + "-form")[0];
    // Get the item instance id if it exists, ie. it is already saved
    for (i=0; i<form_div.children.length; i++) {
      form_input = form_div.children[i];
      if (form_input.id.startsWith('id') && form_input.id.endsWith('id')) {
        var item_instance_id = form_input.value;
      }
    }
    // The object has not been saved. Just edit html.
    if (item_instance_id == ""){
      // The item/form number on the page to be deleted. The div id is
      // {{ item }}-%d
      var item_number = parseInt(item_div.id.substring(item.length + 1));
      var item_list_div = item_div.parentElement;
      var total_forms = item_list_div.getElementsByClassName(item + "-body").length;
      // delete the selected item's html
      item_div.remove()
      // All item forms with greater numbers must be decremented
      for (i=item_number+1; i<total_forms+1; i++){
        var higher_item_div = document.getElementById(item + "-" + i);
        higher_item_div.getElementsByClassName(item + "-number")[0].innerHTML = (i-1) + "."
        higher_item_div.id = item + "-" + (i-1)
      }
      // update the form count
      total_forms--;
      $('#id_' + form_name + '-TOTAL_FORMS').val(total_forms);
    }
    // The item object exists. Send ajax query to remove it and
    // reload the page section.
    else{
      var csrftoken = getCookie('csrftoken');
      $.ajax({
              type: "POST",
              url: "{% url 'edit_metadata_item' project.id %}",
              data: {'csrfmiddlewaretoken':csrftoken, 'item':item,
                     'remove_id':item_instance_id
              },
              success: function reloadSection(result){
                  $("#" + item + "-list").html(result);
              },
      });
    }
  };

  // Ensure references are not duplicated
  function validateReferences() {
    reference_div = document.getElementById("reference-list");
    reference_inputs = reference_div.getElementsByTagName("input");
    var counts = [];

    for (var i = 0; i < reference_inputs.length; i++) {
        if (reference_inputs[i].id.endsWith("description")){
          if (counts[reference_inputs[i].value] === undefined) {
            counts[reference_inputs[i].value] = 1;
          }
          else{
             reference_inputs[i].select();
             alert("References must be unique");
             return false;
          }
      }
    }
    return true;
  }

</script>


<form action="{% url 'project_metadata' project.id %}" onsubmit="return validateReferences()" method="post">
  <h3 id="description" class="form-signin-heading">1. Description Metadata</h2>
  <hr>
  {{ description_form.media }}
  {% include "project/metadata_inline_form_snippet.html" with form=description_form %}
  {% include 'project/item_list.html' with item="reference" item_label="References" formset=reference_formset max_forms=20 form_name="project-reference-content_type-object_id" %}
  <button class="btn btn-lg btn-primary" type="submit" name="edit_description">Save Description</button>
</form>
<br>
<hr>

<form action="{% url 'project_metadata' project.id %}" method="post">
  <h3 id="access" class="form-signin-heading">2. Access</h2>
  <hr>
  <p>The <a href="{% url 'author_guidelines' %}#access" target="_blank">
     access policy</a> controls access to the files. A
     <a href="{% url 'licenses' %}" target="_blank">license</a> is
     always required, and a <a href="{% url 'duas' %}" target="_blank">
     data use agreement</a> (DUA) is only required for non-open
     projects.</p>

   <p>We strongly encourage setting the 'open' access policy, and will
      reject non-open submissions that are not justified.</p>
  <br>
  {% include "project/metadata_inline_form_snippet.html" with form=access_form %}
  <button class="btn btn-lg btn-primary" type="submit" name="edit_access">Save Access Information</button>
</form>
<br>
<hr>

<form action="{% url 'project_metadata' project.id %}" method="post">
  <h3 id="identifiers" class="form-signin-heading">3. Identifiers</h2>
  <hr>
  {# Topics, external home page, citations #}
  {% include "project/metadata_inline_form_snippet.html" with form=identifier_form %}
  {% include 'project/item_list.html' with item="contact" item_label="Contacts" formset=contact_formset max_forms=3 form_name="project-contact-content_type-object_id" %}
  {% include 'project/item_list.html' with item="publication" item_label="Publications" formset=publication_formset max_forms=3 form_name="project-publication-content_type-object_id" %}
  {% include 'project/item_list.html' with item="topic" item_label="Topics" formset=topic_formset max_forms=20 form_name="topics" %}

  <button class="btn btn-lg btn-primary" type="submit" name="edit_identifiers">Save Identifiers</button>
</form>
<br>


<script>
  // Control the DUA selection based on access policy
  access_policy_input = document.getElementById("id_access_policy");

  function controlDUA() {
    // No dua allowed if open-access
    dua_input = document.getElementById("id_data_use_agreement");
    if (access_policy_input.value == "0") {
      dua_input.selectedIndex = 0;
      dua_input.disabled = true;
    }
    else {
      dua_input.disabled = false;
    }
  }
  access_policy_input.onload = controlDUA();
  access_policy_input.onchange = controlDUA;
</script>
{% endblock %}

{% block local_js_bottom %}
  <script type="text/javascript" src="{% static 'custom/js/resize-ck.js' %}"></script>
{% endblock %}
