{% extends "project/project.html" %}

{% load static %}

{% block title %}Project Metadata - {{ project }}{% endblock %}

{% block local_js_top %}
<script type="text/javascript" src="{% static 'custom/js/cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'project/js/dynamic-formset.js' %}"></script>
{% endblock %}

{% block main_content %}
<h2 class="form-signin-heading">2. Project Metadata</h2>
<hr>
{% include "about/metadata.html" %}
<p>Please adhere to the standards specified in the helpstrings. Required fields are indicated by a <a style="color:red">*</a>.</p>
<hr>

<form action="{% url 'project_metadata' project.slug %}" onsubmit="return validateItems('reference-list', 'description', 'References')" method="post">
  {% if not is_submitting %}
  <div class="alert alert-form alert-warning alert-dismissible">
    <strong>Only the submitting author may edit the metadata.</strong>
  </div>
  {% endif %}

  {{ description_form.media }}
  {% include "project/metadata_inline_form_snippet.html" with form=description_form %}
  {% include 'project/item_list.html' with item="reference" item_label=reference_formset.item_label formset=reference_formset form_name=reference_formset.form_name add_item_url=add_item_url remove_item_url=remove_item_url %}
  <button class="btn btn-lg btn-primary" type="submit" name="edit_description">Save Description</button>
</form>
<br>
<hr>

{% endblock %}

{% block local_js_bottom %}
<script type="text/javascript" src="{% static 'custom/js/resize-ck.js' %}"></script>
<script type="text/javascript" src="{% static 'custom/js/enable-popover.js' %}"></script>
<script>disableAddButtons();</script>
{# Disable submission for non-submitting authors #}
{% if not is_submitting %}
  <script type="text/javascript" src="{% static 'custom/js/disable-input.js' %}"></script>
{% endif %}
{% endblock %}
