{% extends "project/project.html" %}

{% block title %}Project Metadata - {{ project }}{% endblock %}

{% block main_content %}
<h2 class="form-signin-heading">Project Metadata</h2>
<hr>



<script>
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  /** Clone a form element to a formset

   @constructor
   @param {string} selector - The selector used to get the element to clone.
   @param {string} form_name - The name of the forms. May be more complicated
   for modelforms, inline_formsets, and genericinline_formsets.
  */
  function cloneFormElement(selector, form_name){
    var newElement = $(selector).clone(true);
    var total_forms = $('#id_' + form_name + '-TOTAL_FORMS').val();

    // Set the names and ids of each input element of the new form
    newElement.find('input').each(function() {
        var name = $(this).attr('name').replace('-' + (total_forms-1) + '-', '-' + total_forms + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });

    // Update the formset total forms indicator
    total_forms++;
    $('#id_' + form_name + '-TOTAL_FORMS').val(total_forms);

    // Insert the new content after the original selected content
    $(selector).after(newElement);
    $('.ref-number:last').html(total_forms);
  }

  // The base name of the reference formset's individual forms. Used
  // for adding and deleting forms from the formset
  reference_form_name = 'project-reference-content_type-object_id'

  {# Add another reference form #}
  function addReference(){
    var max_forms = 8;
    var total_forms = $('#id_' + reference_form_name + '-TOTAL_FORMS').val();
    // alternate length method: document.getElementsByClassName("ref-body").length

    if (total_forms < max_forms){
      // Clone the existing html
      if (total_forms > 0){
        cloneFormElement(".ref-body:last", reference_form_name);
      }
      // Reload the reference section with an additional form
      else{
        var csrftoken = getCookie('csrftoken');
        $.ajax({
                type: "POST",
                url: "{% url 'edit_references' project.id %}",
                data: {'csrfmiddlewaretoken':csrftoken,
                       'add_first':true
                },
                success: function reloadSection(result){
                    $("#reference-list").html(result);
                },
        });
      }
    }
  };


  // Delete a reference form and possibly an object
  function removeReference(trigger_button){
    // The div encapsulating the entire reference element
    var reference_div = trigger_button.parentElement.parentElement
    // The div containing the form input elements
    var form_div = reference_div.getElementsByClassName("ref-form")[0]
    // The hiddeninput element specifies the reference pk if any
    var reference_instance_id = form_div.getElementsByTagName("input")[0].value

    // The reference object has not been saved. Just edit html.
    if (reference_instance_id == ""){

      var reference_number = parseInt(reference_div.id.substring(4));

      var reference_list_div = reference_div.parentElement;

      var reference_divs = reference_list_div.getElementsByClassName("ref-body")

      var num_reference_forms = reference_divs.length;

      reference_div.remove()

      var total_forms = $('#id_' + reference_form_name + '-TOTAL_FORMS').val();
      total_forms--;
      $('#id_' + reference_form_name + '-TOTAL_FORMS').val(total_forms);

      // All reference forms with greater numbers must be altered

    }
    // The reference object exists. Send ajax query to remove it and
    // reload page section.
    else{


      var csrftoken = getCookie('csrftoken');
      $.ajax({
              type: "POST",
              url: "{% url 'edit_references' project.id %}",
              data: {'csrfmiddlewaretoken':csrftoken,
                     'remove_reference':reference_instance_id
              },
              success: function reloadSection(result){
                  $("#reference-list").html(result);
              },
      });
    }








    var type = 'project-reference-content_type-object_id';
    var total_forms = $('#id_' + type + '-TOTAL_FORMS').val();

    // Just remove the html for the extra form
    // if (has_instance){
    //   $("#ref-"+reference_number).delete()
    // }
    // // Delete the instance and reload the reference section
    // else{

    //   // Get all the larger references


    //   var csrftoken = getCookie('csrftoken');
    //   $.ajax({
    //           type: "POST",
    //           url: "{% url 'edit_references' project.id %}",
    //           data: {'csrfmiddlewaretoken':csrftoken,
    //                  'remove_reference':reference_id
    //           },
    //           success: function reloadSection(result){
    //               $("#reference-list").html(result);
    //           },
    //   });
    // }
  };

</script>


<form action="{% url 'project_metadata' project.id %}" method="post">
  <h3 class="form-signin-heading">1. Description Metadata</h2>
  <hr>
  {{ description_form.media }}
  {% include 'project/reference_list.html' %}
  <p><button class="btn" type="button" onclick="addReference()" style="background:transparent"><i class="fas fa-plus"></i> Add Reference</button></p>
  <button class="btn btn-lg btn-primary" type="submit" name="edit_description">Save Description</button>
  <br>
  {% include "inline_form_snippet.html" with form=description_form %}


</form>
<br>
<hr>

<form action="{% url 'project_metadata' project.id %}" method="post">
  <h3 class="form-signin-heading">3. Access</h2>
  <hr>
  {# License, access selection #}
  {{ reference_formset.media }}
  {% csrf_token %}

  {% for form in reference_formset %}
    <div class="form-group row">
        <label class="col-md-1">1.</label>
        <div class='col-md-11'>
            {{ form.description }}
        </div>
    </div>
  {% endfor %}

  <button class="btn btn-lg btn-primary" type="submit" name="edit_references">Save Access Information</button>
</form>
<br>

<form action="{% url 'project_metadata' project.id %}" method="post">
  <h3 class="form-signin-heading">4. Identifiers</h2>
  <hr>
  {# Topics, external home page, citations #}
  {{ reference_formset.media }}
  {% csrf_token %}

  {% for form in reference_formset %}
    <div class="form-group row">
        <label class="col-md-1">1.</label>
        <div class='col-md-11'>
            {{ form.description }}
        </div>
    </div>
  {% endfor %}

  <button class="btn btn-lg btn-primary" type="submit" name="edit_references">Save Access Information</button>
</form>
<br>


{% endblock %}
