{% extends "project/project.html" %}

{% block title %}Project Collaborators{% endblock %}

{% block form %}
<h2 class="form-signin-heading">Project Collaborators</h2>
<hr>

<h4>Roles</h4>
<p>A project can have several <strong>collaborators</strong>. Collaborators can view the project, and edit the metadata and files.</p>

<p>One of these collaborators is the project <strong>owner</strong>. The owner may:</p>
<ul>
    <li>Submit the project for publication</li>
    <li>Delete the project</li>
    <li>Invite and remove collaborators</li>
    <li>Assign ownership of the project to another collaborator</li>
</ul>
<hr>

<div class="card">
  <div class="card card-header">
    <h4>Project Collaborators</h4>
  </div>
  <ul class="list-group list-group-flush">
    {% for collaborator in collaborators %}
      <li class="list-group-item">{{ collaborator.email }}
        <a class="float-right">
        {% if collaborator == project.owner %}
            <span class="badge badge-success">Project Owner</span>{% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<hr>

<div class="card">
  <div class="card card-header">
    <h4>Outstanding Invitations</h4>
  </div>
  <ul class="list-group list-group-flush">
    {% if invitations %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4"><strong>Invitee</strong></div>
            <div class="col-md-4"><strong>Inviter</strong></div>
            <div class="col-md-2"><strong>Sent</strong></div>
            <div class="col-md-2"><strong>Expires</strong></div>
          </div>
        </li>
        {% for invitation in invitations %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">{{ invitation.email }}</a></div>
              <div class="col-md-4">{{ invitation.inviter }}</div>
              <div class="col-md-2">{{ invitation.creation_date }}</div>
              <div class="col-md-2">{{ invitation.expiration_date }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="card-body text-center">
      </div>
    {% endif %}
  </ul>
</div>
<hr>

{% if user == project.owner or user.is_admin %}

    <h4>Invite Collaborators</h4>
    <p>Invite new users to help edit project metadata and files.</p>
    <form action="{% url 'project_collaborators' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {{ invite_collaborator_form.email }}
      {% for error in invite_collaborator_form.email.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}

      <button class="btn btn-success btn-fixed" name="invite_collaborator" type="submit">Invite Collaborator</button>
    </form>
    <hr>

    <h4>Remove Collaborators</h4>
    <p>Remove users from accessing the project.</p>
    <form action="{% url 'project_collaborators' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {{ collaborator_removal_form.collaborator }}
      <button class="btn btn-danger btn-fixed" name="remove_collaborator" type="submit">Remove Collaborator</button>
    </form>
    <hr>

    <h4>Set Owner</h4>
    <p>Select another collaborator to be the new project owner. <strong><em>Warning: only the new owner will be able to control project roles.</em></strong></p>
    <form action="{% url 'project_collaborators' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {{ set_owner_form.collaborator }}
      <button class="btn btn-primary btn-fixed" name="set_owner" type="submit">Set New Owner</button>
    </form>
    <hr>
    {% endif %}

{% endblock %}
