{% extends "project/project.html" %}

{% load static %}

{% block title %}Project Approvals - {{ project }}{% endblock %}

{% block main_content %}
<h2 class="form-signin-heading">7. Approvals</h2>
<hr>

<p>Provide documentation for approvals necessary for the creation of the resource. Include documentation of ethical review for the creation of the resource, e.g. an approval letter from an Institutional Review Board. If no ethical approval was necessary, provide an explanation.</p>

{% if not project.author_editable %}
  <div class="alert alert-form alert-warning alert-dismissible">
    <strong>The project cannot be edited right now.</strong>
  </div>
{% elif not is_submitting %}
  <div class="alert alert-form alert-warning alert-dismissible">
    <strong>Only the submitting author may edit the approvals.</strong>
  </div>
{% endif %}

<form enctype="multipart/form-data" action="{% url 'project_approvals' project.slug %}" method="post" class="no-pd">
  {% include "project/content_inline_form_snippet.html" with form=approvals_form first_col_size=3 second_col_size=9 %}
  {% if is_submitting and project.author_editable %}
  <hr>
  <button class="btn btn-primary btn-rsp" type="submit" name="edit_access">Save Approvals</button>
  {% endif %}
</form>
{% endblock %}

{% block local_js_bottom %}
  <script src="{% static 'custom/js/resize-ck.js' %}"></script>
  <script src="{% static 'custom/js/enable-popover.js' %}"></script>
{% endblock %}