{% extends "project/project.html" %}

{% load project_templatetags %}

{% block title %}Project Authors{% endblock %}

{% block form %}
<h2 class="form-signin-heading">Project Authors</h2>
<hr>

<p>Each project has one or more <strong>authors</strong>, including the single <strong>submitting author</strong> who creates the project. Authors are credited for creating the resource when it is published.</p>

<p>An author may be a person, or an organization. Human authors must be invited and accept authorship, and fill in their own details. Only the submitting author may invite authors, add organizational authors, remove authors, and change the final author display order.</p>

<hr>

<div class="card">
  <div class="card card-header">
    <h4>Project Authors</h4>
  </div>

  <ul class="list-group list-group-flush">
    {% for author in authors %}
      <li class="list-group-item">
        {% if author.is_human %}
          <strong>User</strong>: {{ author.user }}
          {% if author.user == project.submitting_author %}
            <span class="badge badge-success">Submitting Author</span>
          {% else %}
            <a class="float-right">
                <button class="btn btn-sm" type="button" style="background:none" data-toggle="modal" data-target="#remove-{{ author.id }}-modal"><i class="fas fa-user-times" style="color:#cb2431"></i></button>
            </a>
          {% endif %}
          <br>
          <strong>Name</strong>: {{ author.user|author_name }}<br>
          <strong>Affiliations</strong>: {{ author|author_affiliations }}
        {% else %}
          <strong>Organization</strong>: {{ author.organization_name }}
          <a class="float-right">
            <button class="btn btn-sm" type="button" style="background:none" data-toggle="modal" data-target="#remove-{{ author.id }}-modal"><i class="fas fa-user-times" style="color:#cb2431"></i></button>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{# Modals for removing author #}
{% for author in authors %}
  {% if not author.is_submitting_author %}
    <div class="modal fade" id="remove-{{ author.id }}-modal" role="dialog" aria-labelledby="remove-{{ author.id }}-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Remove Author</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to remove <strong>{{ author }}</strong> from the project's authors?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="" method="post">
              {% csrf_token %}
              <button class="btn btn-danger" name="remove_author" value="{{ author.id }}" type="submit">Remove Author</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
<br>

<div class="card">
  <div class="card card-header">
    <h4>Outstanding Author Invitations</h4>
  </div>
  {% if invitations %}
  <ul class="list-group list-group-flush">
    {% for invitation in invitations %}
      <li class="list-group-item">
          <strong>Email</strong>: {{ invitation.email }}<br>
          <strong>Inviter</strong>: {{ invitation.inviter }}<br>
          <strong>Sent</strong>: {{ invitation.request_datetime|date }}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <div class="card-body text-center">
      <p class="card-text">No outstanding invitations.</p>
    </div>
  {% endif %}
</div>
<hr>

<h4>Your Author Affiliations</h4>
<p>Set up to three affiliations for your author profile. <em>Note: these fields are not tied to your user profile</em>.</p>
<form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
  {% csrf_token %}
  {{ affiliation_formset }}
  <button class="btn btn-primary btn-fixed" name="edit_affiliations" type="submit">Set Affiliations</button>
</form>
<hr>


{% if user == project.submitting_author or user.is_admin %}
    <h4>Order Authors</h4>
    <p>Set the order in which authors are displayed. Must be continuous integers from 1.</p>
    <form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {# The formset is manually looped over to access the instance #}
      {{ order_formset.management_form }}
      {% for form in order_formset %}
        {{ form.instance }}
        {% include "form_snippet_no_labels.html" %}
      {% endfor %}
      {% for error in order_formset.non_form_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
      <button class="btn btn-primary btn-fixed" name="order_authors" type="submit">Order Authors</button>
    </form>
    <hr>

    <h4>Invite Author</h4>
    <p>Invite an author with their email</p>
    <form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {% include "form_snippet.html" with form=invite_author_form %}
      <button class="btn btn-success btn-fixed" name="invite_author" type="submit">Invite Author</button>
    </form>
    <hr>

    <h4>Add Organizational Author</h4>
    <p>Add an organizational author.</p>
    <form action="{% url 'project_authors' project.id %}" method="post" class="form-signin">
      {% csrf_token %}
      {% include "form_snippet.html" with form=add_author_form %}
      <button class="btn btn-success btn-fixed" name="add_author" type="submit">Add Author</button>
    </form>
    <hr>
    {% endif %}

{% endblock %}
