<div id="special-files-panel" class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Name</strong></div>
        <div class="col-md-3"><strong>Description</strong></div>
        <div class="col-md-2"><strong>Size</strong></div>
        <div class="col-md-2"><strong>Modified</strong></div>
      </div>
    </li>
    {% for file in special_display_files %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-5">&nbsp;<i class="far fa-file"></i>&nbsp;&nbsp;&nbsp;<a href="{% url 'serve_published_project_file' project.slug file.full_file_name %}">{{ file.name }}</a></div>
          <div class="col-md-3">{{ file.description }}</div>
          <div class="col-md-2">{{ file.size }}</div>
          <div class="col-md-2">{{ file.last_modified }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
