<div class="alert alert-danger col-md-8" role="alert">
  This is a restricted-access resource. To access the files, you must fulfill all of the following requirements:
  <ul>
    {% if project.access_policy == AccessPolicy.RESTRICTED %}
      {% if requires_training and not has_required_training %}
        <li>finish required <a href="{% url 'edit_training' %}">training</a></li>
      {% endif %}
      {% if not has_signed_dua %}
        <li>
          <a href="{% url 'sign_dua' project.slug project.version %}">sign the data use agreement</a> for the project
        </li>
      {% endif %}
    {% elif project.access_policy == AccessPolicy.CREDENTIALED %}
      {% if not user.is_credentialed %}
        <li>be a <a href="{% url 'edit_credentialing' %}">credentialed user</a></li>
      {% endif %}
      {% if requires_training and not has_required_training %}
        <li>complete required training:</li>
        <ul>
          {% for required_training in project.required_trainings.all %}
            <li><a href="{% url 'published_project_required_training' project.slug project.version %}#{{ required_training.pk }}">{{ required_training.name }}</a></li>
          {% endfor %}
          You may submit your training <a href="{% url 'edit_training' %}">here</a>.
        </ul>
      {% endif %}
      {% if not has_signed_dua %}
        <li>
          <a href="{% url 'sign_dua' project.slug project.version %}">sign the data use agreement</a> for the project
        </li>
      {% endif %}
    {% elif project.access_policy == AccessPolicy.CONTRIBUTOR_REVIEW %}
      {% if not user.is_credentialed %}
        <li>be a <a href="{% url 'edit_credentialing' %}">credentialed user</a></li>
      {% endif %}
      {% if requires_training and not has_required_training %}
        <li>complete required training:</li>
        <ul>
          {% for required_training in project.required_trainings.all %}
            <li><a href="{% url 'published_project_required_training' project.slug project.version %}#{{ required_training.pk }}">{{ required_training.name }}</a></li>
          {% endfor %}
          You may submit your training <a href="{% url 'edit_training' %}">here</a>.
        </ul>
      {% endif %}
      {% if not has_accepted_access_request %}
        <li>
          <a href="{% url 'data_access_request_status' project.slug project.version %}">submit a request to the authors</a> to use the data for your project
        </li>
      {% endif %}
    {% endif %}
  </ul>
</div>
