{% extends "base.html" %}

{% block title %}{{ published_project }}{% endblock %}

{% load static %}

{% load project_templatetags %}

{% block local_js_top %}
<script type="text/javascript" src="{% static 'custom/js/cookie.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
  <p>
    {{ published_project.resource_type|resource_badge|safe }}
    {{ published_project.access_policy|access_badge|safe }}
  </p>
  <h1 class="form-signin-heading">{{ published_project.title }}</h1>
  <p>
    <strong>Authors:
    {% for author in authors %}
      {{ author|show_author_info|safe }}
      {% if forloop.counter < authors|length %},&nbsp;{% endif %}
    {% endfor %}
    </strong>
  </p>
  <p>Published: {{ published_project.publish_datetime|date }}. Version: {{ published_project.version }}</p>
  <hr>

  <div class="row">
    <!-- Main column -->
    <div class="col-md-8">
      {% if published_project.resource_type == 0 %}
        {% include "project/database_metadata.html" %}
      {% else %}
        {% include "project/software_metadata.html" %}
      {% endif %}
    </div>
    <!-- /.main column -->

    <!-- Sidebar Column -->
    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header">Access</h5>
        <div class="card-body">
          <p>
            <strong>Access Policy:</strong>
            <br>
            {{ published_project.access_policy|access_badge|safe}} {{ published_project.access_policy|access_description }}
          </p>
          <p>
            <strong>License (for files):</strong>
            <br>
            <a href="{% url 'license_content' published_project.license.slug %}" target="_blank">{{ published_project.license }}</a>
          </p>
          {% if published_project.data_use_agreement %}
            <p>
              <strong>Data Use Agreement:</strong>
              <br>
              <a href="{% url 'dua_content' published_project.data_use_agreement.slug %}" target="_blank">{{ published_project.data_use_agreement.name }}</a>
            </p>
          {% endif %}
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Identifiers</h5>
        <div class="card-body">
          {% if published_project.doi_assigned %}
          <p><strong>DOI:</strong>
            <br>
            <span class="badge badge-info">{{ published_project.doi }}</span>
          </p>
          {% endif %}
          {% if publications %}
            <p><strong>Related Publications:</strong>
              <br>
              {% for publication in publications %}
                <a href="{{ publication.url }}" target="_blank">{{ publication.citation }}</a>
              {% endfor %}
             </p>
          {% endif %}

          {% if topics %}
            <p><strong>Topics:</strong>
              <br>
              {% for topic in topics %}
                <span class="badge badge-info">{{ topic.description }}</span>
              {% endfor %}
            </p>
          {% endif %}

          {% if published_project.project_home_page %}
            <p><strong>Project Home Page:</strong>
              <br>
              <a href="{{ published_project.project_home_page }}" target="_blank"><i class="fas fa-external-link-alt"></i> {{ published_project.project_home_page }}</a>
            </p>
          {% endif %}
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Corresponding Author</h5>
        <div class="card-body">
          {% if user.is_authenticated %}
            <p>
              <strong>Name:</strong> {{ contact.name }}<br>
              <strong>Affiliations:</strong> {{ contact.affiliations }}<br>
              <strong>Email:</strong> {{ contact.email }}
            </p>
          {% else %}
            <em>You must be logged in to view the contact information.</em>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- /.sidebar -->
  </div>
  <h2>Files</h2>
  {% if published_project.access_policy %}
    {% include "project/protected_files_panel.html" %}
  {% else %}
    {% include "project/open_files_panel.html" %}
  {% endif %}
  <br>

</div>
{% endblock %}

{% block local_js_bottom %}
<script type="text/javascript" src="{% static 'custom/js/enable-popover.js' %}"></script>
{% endblock %}
