{% extends "base.html" %}
{% block title %}Submission History - {{ project }}{% endblock %}

{% load static %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/submission-timeline.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ project }}</h1>
  <hr>
  <div class="card mb-3">
    <div class="card-header">Submission Timeline (New to Old)</div>
    {% include "project/static_submission_timeline.html" %}
  </div>
  <p><a href="{% url 'project_home' %}">Return to Project Home</a></p>
</div>
{% endblock %}
