<div class="alert alert-danger col-md-8" role="alert">
  This is a restricted-access resource. To access the files, you must
  {% if project.access_policy == AccessPolicy.CREDENTIALED and not user.is_credentialed %}
  be a <a href="{% url 'edit_credentialing' %}">credentialed user</a> and
  {% endif %}

  {% if project.access_policy == AccessPolicy.CONTRIBUTOR_REVIEW %}
    <a
        href="{% url 'data_access_request_status' project.slug project.version %}">submit a
        request to the authors</a> to use the data for your project.
  {% else %}
    <a href="{% url 'sign_dua' project.slug project.version %}">sign the
    data use agreement</a> for the project.
  {% endif %}
</div>
