<h2 id="abstract">Abstract</h2>
{{ project.abstract|safe }}
<hr>

<h2 id="background">Background</h2>
{{ project.background|safe }}
<hr>

<h2 id="background">Methods</h2>
{{ project.methods|safe }}
<hr>

<h2 id="description">Software Description</h2>
{{ project.content_description|safe }}
<hr>

<h2 id="usage-notes">Usage Notes</h2>
{{ project.usage_notes|safe }}
<hr>

<h2 id="installation">Installation</h2>
{{ project.installation|safe }}
<hr>

{% if project.acknowledgements %}
  <h2 id="acknowledgments">Acknowledgements</h2>
  {{ project.acknowledgements|safe }}
  <hr>
{% endif %}

<h2 id="conflicts-of-interest">Conflicts of Interest</h2>
{{ project.conflicts_of_interest|safe }}
<hr>

{% if references %}
  <h2 id="references">References</h2>
  <ol>
  {% for reference in references %}
    <li>{{ reference.description }}</li>
  {% endfor %}
  </ol>
  <hr>
{% endif %}

{% if project.changelog_summary %}
  <h2 id="changelog-summary">Changelog Summary</h2>
    {{ project.changelog_summary|safe }}
  <hr>
{% endif %}
