{# Submission timeline for a non-changing project. Used for archived and published projects #}
{# This assumes all edits and copyedits have been complete #}

<ul class="list-group list-group-flush">

  {% if published %}

    <!-- published date -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">{{ project.publish_datetime|date }}</div>
        <div class="col-md-10">The project was published.</div>
      </div>
    </li>

    <!-- author approval -->
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">{{ project.author_approval_datetime|date }}</div>
        <div class="col-md-10">All authors approved the final project for publication.</div>
      </div>
    </li>

    <!-- copyediting -->
    {# There may have been any number of copyedits #}
    {% for c in copyedit_logs reversed %}

      {% if c.is_reedit %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">{{ c.start_datetime|date }}</div>
            <div class="col-md-10">The editor reopened the submission for copyediting.</div>
          </div>
        </li>
      {% endif %}

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">{{ c.complete_datetime|date }}</div>
          <div class="col-md-10">
            <p>The editor finished copyediting the submission.</p>
            {% if c.made_changes %}
              <p>The editor comments regarding the changes made are as follows:</p>
              <a class="editor-comments">{{ c.changelog_summary|linebreaks }}</a>
            {% else %}
              <p>No changes were made during the copyedit.</p>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  {% endif %}

  {% if project.archive_datetime %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">{{ project.archive_datetime|date }}</div>
        <div class="col-md-10">
          The project was archived.
        </div>
      </div>
    </li>
  {% endif %}

  <!-- resubmissions -->
  {# At this point, there may have been any number of submissions #}
  {% for e in edit_logs reversed %}
    <li class="list-group-item">
      <div class="row">
      {% if e.decision_datetime %}
        <div class="col-md-2">{{ e.decision_datetime|date }}</div>
        <div class="col-md-10">
          {% if e.decision == 0 %}
            <p>The editor rejected the submission.</p>
          {% elif e.decision == 1 %}
            <p>The editor requested a resubmission with revisions.</p>
          {% elif e.decision == 2 %}
            <p>The editor accepted the submission.</p>
          {% endif %}
          <p>The standard quality assurance results are as follows:</p>
          <ul>
            {% for result in e.quality_assurance_results %}
              <li>{{ result }}</li>
            {% endfor %}
          </ul>
        <br>
        <p>The editor comments regarding the submission are as follows:</p>
        <a class="editor-comments">{{ e.editor_comments|linebreaks }}</a>
      </div>
    {# No decision yet #}
    {% else %}
      <div class="col-md-2">Currently</div>
      <div class="col-md-10"><i class="far fa-clock"></i> Waiting for editor decision</div>
    {% endif %}
    </div>
  </li>
    {% if e.is_resubmission %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">{{ e.submission_datetime|date }}</div>
            <div class="col-md-10">
              <p>The project was resubmitted for review.</p>
              {% if e.author_comments %}
                <p>The submitting author included the following comments:</p>
                <a class="editor-comments">{{ e.author_comments|linebreaks }}</a>
              {% endif %}
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}

  <!-- editor assigned -->
  {% if project.editor_assignment_datetime %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">{{ project.editor_assignment_datetime|date }}</div>
        <div class="col-md-10">The project was assigned an editor.</div>
      </div>
    </li>
  {% endif %}

  <!-- submitted -->
  {% if project.submission_datetime %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">{{ project.submission_datetime|date }}</div>
        <div class="col-md-10">
          The project was submitted for review.
          {% if project.author_comments %}
            <p>The submitting author included the following comments:</p>
            <a class="editor-comments">{{ project.author_comments|linebreaks }}</a>
          {% endif %}
        </div>
      </div>
    </li>
  {% endif %}

  <!-- created -->
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-2">{{ project.creation_datetime|date }}</div>
      <div class="col-md-10">
        The project was created.
      </div>
    </div>
  </li>

</ul>
