{% load static %}

<div id="files-panel" class="card">
  <div class="card-header">
    &nbsp;&nbsp;&nbsp;<strong>Contents of folder: /{{ subdir }}</strong>
    {% if in_subdir %}
      <a onclick="navigateDir('')" style="float:right">Return to base folder</a>
    {% endif %}
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Name</strong></div>
        <div class="col-md-2"><strong>Size</strong></div>
        <div class="col-md-2"><strong>Modified</strong></div>
      </div>
    </li>
    {% if in_subdir %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">&nbsp;<i class="fas fa-angle-up"></i>&nbsp;&nbsp;<a onclick="navigateDir('{{ parent_dir }}')">Parent Directory</a></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </li>
    {% endif %}
    {% for dir in display_dirs %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8"><i class="fas fa-folder-open"></i>&nbsp;&nbsp;<a onclick="navigateDir('{{ dir.full_subdir }}')">{{ dir.name }}</a></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </li>
    {% endfor %}
    {% for file in display_files %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">&nbsp;<i class="far fa-file"></i>&nbsp;&nbsp;&nbsp;<a href="{% static file.static_url %}">{{ file.name }}</a></div>
          <div class="col-md-2">{{ file.size }}</div>
          <div class="col-md-2">{{ file.last_modified }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  // Navigate to another file directory and reload the file panel
  // subdir is the full subdirectory
  function navigateDir(subdir){
    var csrftoken = getCookie('csrftoken');
        $.ajax({
                type: "POST",
                url: "{% url 'published_files_panel' published_project.id %}",
                data: {'csrfmiddlewaretoken':csrftoken, 'subdir':subdir
                },
                success: function reloadSection(result){
                    $("#files-panel").html(result);
                },
        });
  }


</script>
