{% load static %}
<div id="files-panel" class="card">
  <div class="card-header">
    <div class="row">
    <div class="col-md-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Folder Navigation:
    {% for breadcrumb in dir_breadcrumbs %}
      {% if forloop.counter == dir_breadcrumbs|length %}
        {{ breadcrumb.name }}
      {% else %}
        <a href="" onclick="return navigateDir('{{ breadcrumb.full_subdir }}')">{{ breadcrumb.name }}</a>&nbsp;/&nbsp;
      {% endif %}
    {% endfor %}
  </div>
    <div class="col-md-4">
    <span style="float:right">Total File Size: {{ total_size }}</span>
  </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Name</strong></div>
        <div class="col-md-2"><strong>Size</strong></div>
        <div class="col-md-2"><strong>Modified</strong></div>
      </div>
    </li>
    {% if subdir %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">&nbsp;<i class="fas fa-angle-up"></i>&nbsp;&nbsp;<a href="" onclick="return navigateDir('{{ parent_dir }}')">Parent Directory</a></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </li>
    {% endif %}
    {% for dir in display_dirs %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8"><i class="fas fa-folder-open"></i>&nbsp;&nbsp;<a href="" onclick="return navigateDir('{{ dir.full_subdir }}')">{{ dir.name }}</a></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </li>
    {% endfor %}
    {% for file in display_files %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">&nbsp;<i class="far fa-file"></i>&nbsp;&nbsp;&nbsp;<a href="{% static file.static_url %}">{{ file.name }}</a></div>
          <div class="col-md-2">{{ file.size }}</div>
          <div class="col-md-2">{{ file.last_modified }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  // Navigate to another file directory and reload the file panel
  // subdir is the full subdirectory
  function navigateDir(subdir){
    var csrftoken = getCookie('csrftoken');
        $.ajax({
                type: "POST",
                url: "{% url 'published_files_panel' published_project.id %}",
                data: {'csrfmiddlewaretoken':csrftoken, 'subdir':subdir
                },
                success: function reloadSection(result){
                    $("#files-panel").html(result);
                },
        });
    return false
  }


</script>
