{% extends 'base.html' %}

{% load static %}

{% load project_templatetags %}

{% block title %}Storage Requests{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/settings.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
  {% include "message_snippet.html" %}
  <div class="card">
    <div class="card-header">
      <h4>Storage Requests</h4>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6"><strong>Project</strong></div>
          <div class="col-md-2"><strong>Request (GB)</strong></div>
          <div class="col-md-2"><strong>Request Date</strong></div>
          <div class="col-md-2"></div>
        </div>
      </li>
      {% for storage_request in storage_requests %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6"><a href="{% url 'project_overview' storage_request.project.id %}">{{ storage_request.project.title }}</a></div>
            <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ storage_request.request_allowance }}</div>
            <div class="col-md-2">{{ storage_request.request_datetime|date }}</div>
            <div class="col-md-2"><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#storage-response-modal-{{ storage_request.project.id }}">
              <i class="fa fa-reply"></i> Respond</button>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <br>

  <!-- A modal and response form for each storage request -->
  {% if storage_response_formset %}
    <form action="" method="post" enctype="multipart/form-data">
      {{ storage_response_formset.management_form }}
      {% csrf_token %}
      {% for storage_response_form in storage_response_formset %}
        <div class="modal fade" id="storage-response-modal-{{ storage_response_form.project_id.value }}" tabindex="-1" role="dialog" aria-labelledby="storage-response-modal-{{ storage_response_form.project_id.value }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Respond to storage request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

                <div class="modal-body">
                  {{ storage_response_form }}
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" name="respond-{{ storage_response_form.project_id.value }}" type="submit"><i class="fa fa-reply"></i> Submit Response</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
          </div>
        </div>

      {% endfor %}
    </form>
  {% endif %}



</div> <!-- /container -->
{% endblock %}
