<div id="topic-list">
  {{ topic_formset.management_form }}
  {% csrf_token %}

  <div class="form-group row">
    <label class="col-md-1">Topics</label>
  </div>

  {% for form in topic_formset %}
    {# This ref-%d id is identifying the form number on the page #}
    <div class="form-group row topic-body" id="topic-{{ forloop.counter }}">
        <div class="col-md-1"></div>
        <div class="col-md-1 topic-number">{{ forloop.counter }}.</div>
        <div class="col-md-9 topic-form">
            {# id value is blank for forms without saved instances #}
            {{ form.id }}
            {{ form.description }}
        </div>
        <div class='col-md-1'>
            <button class="btn btn-sm btn-secondary" type="button" title="Remove" onclick="removeTopic(this)"><i class="fas fa-times"></i></button>
        </div>
    </div>
  {% endfor %}
  <p><button class="btn" type="button" onclick="addTopic()" style="background:transparent"><i class="fas fa-plus"></i> Add Topic</button></p>
</div>

