{% extends 'base.html' %}
{% block title %}Database Index{% endblock %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

{% block content %}

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
          
          <div class="jumbotron">
            <h1>Database Index</h1>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">About PhysioBank</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Database Search</a>
            </p>
          </div>
          
          
            <h1>Explanation</h1>
            <p>The PhysioBank database index lists the contributed databases by the category of data they contain.</p>
            
            <br>


          <!-- These data type panels will be dynamically generated in the future -->
            <div class="panel panel-primary" id="waveform">
                <div class="panel-heading">
                    <h3 class="panel-title"><a data-toggle="collapse" href="#collapse-waveform"><strong>Waveform Databases</strong></a></h3>
                    <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="active"><a href="#tab1-recent-waveform" data-toggle="tab">Recent</a></li>
                            <li><a href="#tab-popular-waveform" data-toggle="tab">Popular</a></li>
                            <li><a href="#tab-alphabetical-waveform" data-toggle="tab">Alphabetical</a></li>
                        </ul>
                    </span>
                </div>

                <div id="collapse-waveform" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>This should be in all tabs</p>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-recent-waveform">
                            Tab 1 content</div>
                            <div class="tab-pane" id="tab-popular-waveform">Tab 2 stuff</div>
                            <div class="tab-pane" id="tab-alphabetical-waveform">Tab 3 stuff</div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="panel panel-primary" id="clinical">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Clinical Databases</strong></h3>
                    <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="active"><a href="#tab1-recent" data-toggle="tab">Recent</a></li>
                            <li><a href="#tab-popular" data-toggle="tab">Popular</a></li>
                            <li><a href="#tab-alphabetical-clinical" data-toggle="tab">Alphabetical</a></li>
                        </ul>
                    </span>
                </div>
                <div class="panel-body">
                <p>This should be in all tabs</p>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-recent">
                        Tab 1 content</div>
                        <div class="tab-pane" id="tab-popular">Tab 2 stuff</div>
                    </div>


                </div>
            </div>
        

        </div><!--/span-->

        <!-- This will also be dynamically generated in the future -->
        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a class="list-group-item active"><strong>Database Categories</strong></a>
            <a href="#waveform" class="list-group-item">Waveform Databases</a>
            <a href="#clinical" class="list-group-item">Clinical Databases</a>
            <a href="#image" class="list-group-item">Image Databases</a>
            <a href="#other" class="list-group-item">Other Databases</a>
            <a href="#other" class="list-group-item">Multicategory Databases</a>

          </div>
        </div><!--/span-->
    </div><!--/row-->
</div><!--/.container-->

{% endblock %}