/* Adapted from startbootstrap-agency */

.main-content, .main-news{
  box-sizing: border-box;
}

.btn-pn {
/*  color: white;
  background-color: #694;*/
  margin-right: 5px;
  margin-left: 5px;
}

.intro-badge {
  font-weight: 700;
}
