/*Adapted from bootstrap's signin.css*/
body {
  padding-bottom: 0px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .bottom-ten {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn {
  margin-top: 10px;
}
.form-signin input[name="password"]{
  margin-bottom: 10px;
}

input[name="privacy_policy"] {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

label[for="id_privacy_policy"] {
  width: 90%;
}
