.navbar{
  display: block;
}

.navbar-brand, .navbar-search{
  display: inline-block;
}

#navbarCollapse{
  display: inline-flex !important;
  width: calc(100% - 440px);
}

.navbar-icon{
  display: none;
  color: white;
}

/* Pushing items away from top-left brand */
.navbar-brand {
  width: 150px;
}

.navbar-icon, .navbar-icon:hover{
  text-decoration: none;
  color: white;
  padding: 5px;
}

@media (max-width: 1100px){
  .navbar-icon{
    display: inline-block;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }

  .navbar-brand{
    width: calc(100% - 300px);
  }

  #navbarCollapse{
    display: none !important;
    position: absolute;
    width: 100%;
    z-index: 100;
    left: 0;
    top: 55px;
    padding: 10px 25px;
    background: #343a40 !important;
  }

  .navbar-nav:first-child{
    border-bottom: 2px white solid;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .navbar-nav{
    display: block;
  }

  .navbar-check{
    display: none;
  }

  .navbar-check:checked +.navbar-brand + #navbarCollapse{
    display: block !important;
  }
}

@media (max-width: 500px){
  .navbar-search input{
    display: none;
  }

  .navbar-brand{
    width: calc(100% - 95px);
  }
}

/* Padding between navbar items */
.navbar-nav > li{
  padding-right:5px;
}

/* make drop-down menus work without javascript */
.dropdown-toggle:focus + .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
    display: block;
}

.dropdown:focus-within +.dropdown-menu {
    display: none;
}

/* Adapted from start-bootstrap freelancer*/
#mainNav {
  font-weight: 700;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: rgba(255, 255, 255, 0.75);
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

a{
  color: #0366d6;
}

.badge-pn {
  background-color: #f1f8ff;
  cursor: pointer;
}

.badge-pn:hover {
  background-color: #def;
}

.share-email {
  color: white;
  background-color: #787878;
}

.facebook {
  color: white;
  background-color: #4267b2;
}

.linkedin {
  color: white;
  background-color: #0077B5;
}

.reddit {
  color: white;
  background-color: #FF4301;
}

.twitter {
  color: white;
  background-color: #38A1F3;
}

.sharebtn:hover {
  color: white;
}

.search-input::-webkit-input-placeholder {
  color: grey;
  opacity: unset;
}

.search-input{
  border: unset;
  padding: 5px;
  border-radius: 0;
  line-height: unset;
  width: unset;
}

.btn-search{
  border-radius: 0;
  background: transparent;
  color: white;
  cursor: pointer;
}

.pub-details{
  font-size: 75%;
  color: grey;
}

.more{
  text-align: right;
}

.container{
  padding-top: 50px;
}

.row{
  margin-left: unset;
  margin-right: unset;
}

.card{
    border: unset;
}

.badge{
  padding: 0.5em 0.5em;
  font-weight: normal;
  color: unset;
}

.badge-success {
  color: #fff;
  background-color: rgba(0,128,0,0.75);
}

.badge-danger {
  color: #fff;
  background-color: rgba(163, 31, 52, 0.75);
}

.badge-dark {
  color: #fff;
  background-color: rgba(51, 51, 51, 0.75);
}
