{% extends "base.html" %}
{% load static %}
{% load physionet_templatetags %}
{% block title %}{{ training.training_type.name }}{% endblock %}
{% block local_css %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'custom/css/quiz.css' %}">
{% endblock %}
{% block content %}
  <div class="container my-3">
    <div class="quizContainer">
      <div class="quizHeader">
        <h1>{{ training.training_type.name }}</h1>
      </div>
      <hr>
      <h2>{{ module.name }}</h2>

      <form method="POST" class="training">
        {% csrf_token %}
        <input type="text" hidden name="resume-from" value="{{ resume_content_or_quiz_from }}"/>
        <input type="text" hidden name="question_answers" value=""/>
        {% for item in quiz_content %}
          {% if item.body %}
            <div class="eachQuiz">
              <div>{{ item.body | safe }}</div>
              <div class="row ml-1">
                {% if forloop.counter != 1 %}<a class="btn btn-warning previous">Back</a>{% endif %}
                <a class="btn btn-success next text-white ml-auto mr-3">
                  {% if forloop.last %}
                    Submit Module
                  {% else %}
                    Next
                  {% endif %}
                </a>
              </div>
            </div>
          {% else %}
            <div class="eachQuiz question">
              <div class="list-group">
                <div class="list-group-item py-4">{{ item.question | safe }}</div>
                {% for choice in item.choices.all %}
                  <label
                      class="list-group-item list-group-item-action q_{{ item.id }} {{ item.id }}_{{ choice.id }} mb-0"
                      for="{{ item.id }}_{{ choice.id }}">
                    <input type="radio"
                           id="{{ item.id }}_{{ choice.id }}"
                           name="{{ item.id }}"
                           value="{{ choice.id }}">
                    {{ choice.body | safe }}
                  </label>
                  {# add a check answer button #}
                {% endfor %}
                <a type="button"
                   class="btn btn-secondary text-white checkAnswer"
                   data-question="{{ item.id }}"
                   data-answer="{{ item.answer.id }}">Check Answer</a>
              </div>
              <br>
              <div class="row ml-1">
                {% if forloop.counter != 1 %}<a class="btn btn-warning previous">Back</a>{% endif %}
                <a class="btn btn-success next text-white ml-auto mr-3 {% if item.id not in completed_quizzes_ids %}disabled{% endif %}">
                  {% if forloop.last %}
                    Submit Module
                  {% else %}
                    Next
                  {% endif %}
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </form>
    </div>
    <br>
    <div id="alert" class="alert" role="alert"></div>
  </div>
{% endblock %}
{% block local_js_bottom %}
  {% for quiz, answer in quiz_answer %}
    <script>sessionStorage.setItem({{quiz }}, {{answer }})</script>{% endfor %}
  <script src="{% static 'custom/js/quiz.js' %}"></script>
  <script>
    sessionStorage.setItem("slidePosition", 0);
    var slideIndex = parseInt(document.querySelector("input[name='resume-from']").value) || 0;
    showSlide(slideIndex);
  </script>
{% endblock %}
