{% load i18n %}{% autoescape off %}
Dear Sir or Madam

You have been invited to co-author the project: {{ project_title }}, on {{ domain }}.
Your inviter is user: {{ inviter_username }}, with email: {{ inviter_email }}.

If you already have a {{ domain }} account, you may respond on your author invitations page: http://{{ domain }}{% url 'project_invitations' %}. If this email is not associated with your account, you may add it from your email settings page, or ask your inviter to send the invitation to your account email.

If you do not have an account, you may register for one here: http://{{ domain }}{% url 'register' %}, and find this invitation on your author invitations page.

Thank You
{% blocktrans %}The {{ domain }} team{% endblocktrans %}

{% endautoescape %}
